.news-item {
  color: #f5e3cc;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    & h2 {
      color: #ffc734;
    }
  }
  & .img-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    position: relative;
    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & h2 {
    max-width: 100%;
    height: 1em;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 105.6%;
    text-transform: uppercase;
  }
  &__date {
    font-size: 1.375rem;
    margin-top: 0.6rem;
    line-height: 130%;
    & p {
      color: #7d7a72;
    }
  }
  & p {
    font-size: 1.375rem;
    margin-top: 1rem;
    line-height: 130%;
  }
}
