<div class="news-list">
  {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union.png" title="Ваши Герои" itemDate="22 / 03 / 2022" desription="Особенности боевой системы" }}
  {{> "news-item/news-item" link="../../pages/article-new/article.hbs" imgSrc="../../assets/img/news/Union-2.png" title="Ваши противники" itemDate="22 / 03 / 2022" desription="Вы столкнетесь с опасными существами — посмотрим на них повнимательнее" }}
  {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-3.png" title="Ваш город" itemDate="22 / 03 / 2022" desription="Первый взгляд на экран поселения и знакомство с Мастерами" }}
  {{> "news-item/news-item" link="../../pages/article-new/article.hbs" imgSrc="../../assets/img/news/Union-1.png" title="Ваши Герои" itemDate="22 / 03 / 2022" desription="Особенности боевой системы" }}
  {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-2.png" title="Ваши противники" itemDate="22 / 03 / 2022" desription="Вы столкнетесь с опасными существами — посмотрим на них повнимательнее" }}
  {{> "news-item/news-item" link="../../pages/article-new/article.hbs" imgSrc="../../assets/img/news/Union-4.png" title="Ваш город" itemDate="22 / 03 / 2022" desription="Первый взгляд на экран поселения и знакомство с Мастерами" }}
  {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-1.png" title="Ваши Герои" itemDate="22 / 03 / 2022" desription="Особенности боевой системы" }}
  {{> "news-item/news-item" link="../../pages/article-new/article.hbs" imgSrc="../../assets/img/news/Union-2.png" title="Ваши противники" itemDate="22 / 03 / 2022" desription="Вы столкнетесь с опасными существами — посмотрим на них повнимательнее" }}
  {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-4.png" title="Ваш город" itemDate="22 / 03 / 2022" desription="Первый взгляд на экран поселения и знакомство с Мастерами" }}
</div>
