<div class="confirm-block">
  <h2>вы уверены?</h2>
  <p>Вы уверены, что хотите купить Легендарный доспех? С вашего счета будет списно 2000 валюты.</p>
  {{> "money/money" count="9999" }}
  <a class="button-yellow" data-popup="sing-in-warn">
    <svg width="173" height="59" viewBox="0 0 173 59" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.0656441 7.20715C0.0413079 7.18307 0 7.20031 0 7.23455L0 51.542C0 51.5763 0.0413062 51.5935 0.0656436 51.5694C0.0806606 51.5546 0.104838 51.5546 0.119854 51.5694L5.9427 57.3308C6.87881 58.257 8.14253 58.7765 9.45942 58.7765L162.999 58.7766C164.316 58.7766 165.58 58.2571 166.516 57.3309L172.339 51.5695C172.354 51.5547 172.378 51.5547 172.393 51.5695C172.417 51.5936 172.459 51.5764 172.459 51.5421V7.23467C172.459 7.20042 172.417 7.18317 172.393 7.20725C172.378 7.22211 172.354 7.22211 172.339 7.20725L166.516 1.44587C165.58 0.519635 164.316 0.000103426 162.999 0.000102558L9.45944 1.35489e-06C8.14254 4.86879e-07 6.87881 0.519528 5.9427 1.44576L0.119856 7.20715C0.104839 7.22201 0.0806605 7.22201 0.0656441 7.20715Z" fill="#FFC734"/>
    </svg>
    <p>Да, купить</p>
  </a>
</div>