<div class="confirm-block not-money-block">
  <h2>недостаточно средств</h2>
  <p>Вам не хватает Х монет. Пополните баланс и предмет станет вашим!  Выберите систему оплаты. </p>
  <div class="pay-card__list">
    <a class="pay-card__item">
      <img src="../../assets/img/pay-cards/qiwi.svg" alt="">
      <svg class="border" width="173" height="79" viewBox="0 0 173 79" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M171.959 7.53454V71.2422L166.164 76.9755C165.322 77.8091 164.184 78.2766 162.999 78.2766L9.45942 78.2765C8.27422 78.2765 7.13687 77.809 6.29437 76.9754L0.5 71.2422V7.5344L6.29437 1.80118C7.13687 0.967576 8.27423 0.500001 9.45944 0.500001L162.999 0.500103C164.184 0.500103 165.322 0.967682 166.164 1.80129L171.959 7.53454Z" stroke="#FFC734"/>
      </svg>
      <svg class="border border-xs" width="116" height="53" viewBox="0 0 116 53" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 47.8123V5.13217L3.88537 1.78253C4.71579 0.960875 5.83684 0.500001 7.00505 0.500001L108.901 0.500068C110.07 0.500069 111.191 0.961021 112.021 1.78282L115.407 5.13228V47.8123L112.021 51.1617C111.191 51.9835 110.07 52.4445 108.901 52.4445L7.00514 52.4444C5.83687 52.4444 4.71577 51.9835 3.8853 51.1618L0.5 47.8123Z" stroke="#FFC734"/>
      </svg>
    </a>
    <a class="pay-card__item">
      <img src="../../assets/img/pay-cards/iomoney.svg" alt="">
      <svg class="border" width="173" height="79" viewBox="0 0 173 79" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M171.959 7.53454V71.2422L166.164 76.9755C165.322 77.8091 164.184 78.2766 162.999 78.2766L9.45942 78.2765C8.27422 78.2765 7.13687 77.809 6.29437 76.9754L0.5 71.2422V7.5344L6.29437 1.80118C7.13687 0.967576 8.27423 0.500001 9.45944 0.500001L162.999 0.500103C164.184 0.500103 165.322 0.967682 166.164 1.80129L171.959 7.53454Z" stroke="#FFC734"/>
      </svg>
      <svg class="border border-xs" width="116" height="53" viewBox="0 0 116 53" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 47.8123V5.13217L3.88537 1.78253C4.71579 0.960875 5.83684 0.500001 7.00505 0.500001L108.901 0.500068C110.07 0.500069 111.191 0.961021 112.021 1.78282L115.407 5.13228V47.8123L112.021 51.1617C111.191 51.9835 110.07 52.4445 108.901 52.4445L7.00514 52.4444C5.83687 52.4444 4.71577 51.9835 3.8853 51.1618L0.5 47.8123Z" stroke="#FFC734"/>
      </svg>
    </a>
    <a class="pay-card__item">
      <img src="../../assets/img/pay-cards/xsolla.svg" alt="">
      <svg class="border" width="173" height="79" viewBox="0 0 173 79" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M171.959 7.53454V71.2422L166.164 76.9755C165.322 77.8091 164.184 78.2766 162.999 78.2766L9.45942 78.2765C8.27422 78.2765 7.13687 77.809 6.29437 76.9754L0.5 71.2422V7.5344L6.29437 1.80118C7.13687 0.967576 8.27423 0.500001 9.45944 0.500001L162.999 0.500103C164.184 0.500103 165.322 0.967682 166.164 1.80129L171.959 7.53454Z" stroke="#FFC734"/>
      </svg>
      <svg class="border border-xs" width="116" height="53" viewBox="0 0 116 53" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 47.8123V5.13217L3.88537 1.78253C4.71579 0.960875 5.83684 0.500001 7.00505 0.500001L108.901 0.500068C110.07 0.500069 111.191 0.961021 112.021 1.78282L115.407 5.13228V47.8123L112.021 51.1617C111.191 51.9835 110.07 52.4445 108.901 52.4445L7.00514 52.4444C5.83687 52.4444 4.71577 51.9835 3.8853 51.1618L0.5 47.8123Z" stroke="#FFC734"/>
      </svg>
    </a>
    <a class="pay-card__item">
      <img src="../../assets/img/pay-cards/robokassa.svg" alt="">
      <svg class="border" width="173" height="79" viewBox="0 0 173 79" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M171.959 7.53454V71.2422L166.164 76.9755C165.322 77.8091 164.184 78.2766 162.999 78.2766L9.45942 78.2765C8.27422 78.2765 7.13687 77.809 6.29437 76.9754L0.5 71.2422V7.5344L6.29437 1.80118C7.13687 0.967576 8.27423 0.500001 9.45944 0.500001L162.999 0.500103C164.184 0.500103 165.322 0.967682 166.164 1.80129L171.959 7.53454Z" stroke="#FFC734"/>
      </svg>
      <svg class="border border-xs" width="116" height="53" viewBox="0 0 116 53" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 47.8123V5.13217L3.88537 1.78253C4.71579 0.960875 5.83684 0.500001 7.00505 0.500001L108.901 0.500068C110.07 0.500069 111.191 0.961021 112.021 1.78282L115.407 5.13228V47.8123L112.021 51.1617C111.191 51.9835 110.07 52.4445 108.901 52.4445L7.00514 52.4444C5.83687 52.4444 4.71577 51.9835 3.8853 51.1618L0.5 47.8123Z" stroke="#FFC734"/>
      </svg>
    </a>
  </div>
  <a class="button-yellow" data-popup-close>
    <svg width="173" height="59" viewBox="0 0 173 59" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.0656441 7.20715C0.0413079 7.18307 0 7.20031 0 7.23455L0 51.542C0 51.5763 0.0413062 51.5935 0.0656436 51.5694C0.0806606 51.5546 0.104838 51.5546 0.119854 51.5694L5.9427 57.3308C6.87881 58.257 8.14253 58.7765 9.45942 58.7765L162.999 58.7766C164.316 58.7766 165.58 58.2571 166.516 57.3309L172.339 51.5695C172.354 51.5547 172.378 51.5547 172.393 51.5695C172.417 51.5936 172.459 51.5764 172.459 51.5421V7.23467C172.459 7.20042 172.417 7.18317 172.393 7.20725C172.378 7.22211 172.354 7.22211 172.339 7.20725L166.516 1.44587C165.58 0.519635 164.316 0.000103426 162.999 0.000102558L9.45944 1.35489e-06C8.14254 4.86879e-07 6.87881 0.519528 5.9427 1.44576L0.119856 7.20715C0.104839 7.22201 0.0806605 7.22201 0.0656441 7.20715Z" fill="#FFC734"/>
    </svg>
    <p>Закрыть</p>
  </a>
</div>