<div class="confirm-block popup-promo-error">
    <svg width="46" height="38" viewBox="0 0 46 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M45.4074 31.9802L26.5389 1.91992C25.7955 0.735687 24.4395 0 23 0C21.5604 0 20.2044 0.735687 19.4609 1.92L0.592559 31.9802C-0.175695 33.2042 -0.198425 34.7377 0.533173 35.9823C1.26495 37.2269 2.64369 38 4.13151 38H41.8684C43.3562 38 44.7351 37.2269 45.4668 35.9822C46.1984 34.7376 46.1757 33.2041 45.4074 31.9802ZM42.859 34.5675C42.6576 34.9101 42.278 35.123 41.8684 35.123H4.13151C3.72191 35.123 3.34232 34.9102 3.14098 34.5676C2.93955 34.225 2.94584 33.8028 3.15724 33.4659L22.0258 3.40562C22.2304 3.07963 22.6037 2.87707 23 2.87707C23.3963 2.87707 23.7696 3.07963 23.9742 3.40562L42.8426 33.4659C43.0542 33.8029 43.0605 34.225 42.859 34.5675Z"
            fill="#E75A5A" />
        <path
            d="M23.0139 11.8369C21.8747 11.8369 20.9856 12.4242 20.9856 13.4652C20.9856 16.6415 21.3745 21.2058 21.3745 24.3822C21.3746 25.2096 22.1249 25.5566 23.014 25.5566C23.6808 25.5566 24.6255 25.2096 24.6255 24.3822C24.6255 21.2059 25.0144 16.6416 25.0144 13.4652C25.0144 12.4243 24.0976 11.8369 23.0139 11.8369Z"
            fill="#E75A5A" />
        <path
            d="M23.0418 27.3983C21.8193 27.3983 20.9023 28.3325 20.9023 29.4536C20.9023 30.548 21.8192 31.509 23.0418 31.509C24.181 31.509 25.1536 30.548 25.1536 29.4536C25.1536 28.3325 24.181 27.3983 23.0418 27.3983Z"
            fill="#E75A5A" />
    </svg>

    <div class="popup-promo__text">Активация промокода невозможна</div>
    <a class="button-yellow" href="../../pages/profile/profile.hbs">
        <svg width="233" height="76" viewBox="0 0 233 76" fill="none" preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.0750577 8.24069C0.0472315 8.21316 0 8.23287 0 8.27201L0 67.4993C0 67.5385 0.0472299 67.5582 0.0750573 67.5307V67.5307C0.0922276 67.5137 0.119873 67.5137 0.137042 67.5307L7.00444 74.3256C7.94055 75.2518 9.20428 75.7713 10.5212 75.7713H221.585C222.902 75.7713 224.166 75.2518 225.102 74.3256L231.969 67.5307C231.986 67.5137 232.014 67.5137 232.031 67.5307V67.5307C232.059 67.5582 232.106 67.5385 232.106 67.4993V8.27203C232.106 8.23287 232.059 8.21315 232.031 8.24069V8.24069C232.014 8.25768 231.986 8.25768 231.969 8.24068L225.102 1.44576C224.166 0.519529 222.902 0 221.585 0H10.5212C9.20427 0 7.94055 0.519529 7.00444 1.44576L0.137043 8.24069C0.119874 8.25768 0.0922276 8.25768 0.0750577 8.24069V8.24069Z"
                fill="#FFC734" />
        </svg>
        <p>Попробовать еще</p>
    </a>
</div>