.confirm-block {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #F5E3CC;
  text-align: center;
  & h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 105.6%;
    text-transform: uppercase;
  }
  & > p {
    margin-top: 50px;
    font-size: 22px;
    line-height: 130%;
    max-width: 503px;
  }
  & .money {
    margin-top: 35px;
    pointer-events: none;
    font-size: 52px;
    color: #F5E3CC;
    text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
    display: flex;
    align-items: center;
    & img {
      width: 40px;
      height: 37px;
      margin-top: 0.2em;
    }
     @media (max-width: 810px) {
      margin-top: 35px;
    }
  }  
  & .button-yellow {
    text-transform: none;
    padding: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 88.6%;
    width: fit-content;
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 172px;   
  }
  &.not-money-block & .button-yellow {
    margin-top: 30px;
  }
  & .pay-card {
    &__list {
      margin-top: 29px;
      display: flex;
      justify-content: center;
      gap: 22px;
      flex-wrap: wrap;
      @media (max-width: 810px) {
        display: grid;
        grid-template-columns: repeat(2, 172px);
      }
      @media (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(2, 116px);
      }
    }
  }
}
.confirm-block.how-pay {
  & .how-pay {
    &__top {
      display: flex;
      width: 100%;
      position: relative;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      @media (max-width: 810px) {
        & .choose-region {
          position: relative;
        }
      }
      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  & .pay-card__list {
    margin-top: 54px;
    width: 100%;
    justify-content: space-between;
  }
}
.confirm-block.sing-in {
  & .button-yellow {
    margin-bottom: 20px;
  }
  & a.link {
    text-decoration-line: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 2px;
    color: #FFC734;
    margin-top: 7px;
    font-size: 22px;
    line-height: 130%;
    &:hover {
      color: #F2A000;
    }
  }
}