<div class="liderbord-popup">
  <svg
    preserveAspectRatio="none"
    class="liderbord-popup__bg only-desktop"
    width="459"
    height="261"
    viewBox="0 0 459 261"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M449.536 1.00002L457.412 8.79368L457.414 252.196L449.538 259.99H8.87869L1.00195 252.196L1.00001 8.79361L8.87673 1L449.536 1.00002Z"
      fill="#1A1818"
      stroke="#FFC734"
      stroke-width="2"
    ></path>
  </svg>
  <svg
    preserveAspectRatio="none"
    class="liderbord-popup__bg only-mobile"
    width="353"
    height="278"
    viewBox="0 0 353 278"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M344.098 1.00003L351.974 8.79368L351.976 268.731L344.1 276.525L9.17153 276.525L1.2948 268.731L1.29285 8.79371L9.16958 1.00011L344.098 1.00003Z"
      fill="#1A1818"
      stroke="#FFC734"
      stroke-width="2"
    ></path>
  </svg>
  <div class="liderbord-popup__header">
    {{> "avatar/avatar" imgSrc="../../assets/img/liderbord/avatar.png" disabled="true"}}
    <div class="liderbord-popup__name">Mellosa</div>
  </div>
  <svg preserveAspectRatio="none" width="368" height="10" viewBox="0 0 368 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M353.899 5.98828L14.1786 5.98558V3.86058L353.899 3.86328V5.98828Z" fill="#E7D8B6"/>
    <path d="M12.0352 9.17308L0.833984 4.70951L12.0352 0.245941L16.3651 4.70951L12.0352 9.17308Z" fill="#E7D8B6"/>
    <path d="M356.405 9.17578L367.607 4.71221L356.405 0.248641L352.075 4.71221L356.405 9.17578Z" fill="#E7D8B6"/>
  </svg>
  <div class="liderbord-popup__main">
    <div class="liderbord-popup__item only-desktop">
      <div class="liderbord-popup__item--name">Очки достижений</div>
      <div class="liderbord-popup__item--data">120</div>
    </div>
    <div class="liderbord-popup__item only-desktop">
      <div class="liderbord-popup__item--name">PVP сила</div>
      <div class="liderbord-popup__item--data">995</div>
    </div>
    <div class="liderbord-popup__item only-mobile">
      <div class="liderbord-popup__item--name">Ранг</div>
      <div class="liderbord-popup__item--data">132</div>
    </div>
    <div class="liderbord-popup__item only-mobile">
      <div class="liderbord-popup__item--name">Рейтинг</div>
      <div class="liderbord-popup__item--data">12 896</div>
    </div>
    <div class="liderbord-popup__item only-mobile">
      <div class="liderbord-popup__item--name">Победы</div>
      <div class="liderbord-popup__item--data green-font">453</div>
    </div>
    <div class="liderbord-popup__item only-mobile">
      <div class="liderbord-popup__item--name">Поражения</div>
      <div class="liderbord-popup__item--data red-font">234</div>
    </div>
  </div>

</div>