---
auth: 'true'
---

{{!< body }} <main class="profile-new">
    <div class="container">
        <div class="profile-new-main">
            <div class="profile-left">
                <div class="profile-new__user">
                    <div class="profile-new__avatar">
                        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
                    </div>
                    <p class="user-info__name">Mellosa Morgenstern</p>
                    <p class="user-info__id">ID 1364622</p>
                </div>
                <div class="profile-new__menu">
                    <ul>
                        <li>
                            <a href="#">Уведомления</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-promo.hbs">Промокоды</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-quest.hbs">Квесты</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-balance.hbs">Кошелек</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-vp.hbs">Vintersaga Points</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-soc.hbs" class="active">Привязанные аккаунты</a>
                        </li>
                    </ul>
                </div>
                <div class="profile-new__exit">
                    <ul>
                        <li>
                            <a href="#">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-right__block">
                    <div class="profile-right__mini-block">
                        <p>Чтобы использовать все возможности сайта mastersandheroes.com и игры Masters & Heroes, пожалуйста скачайте игру и войдите в нее под одним из привязанных профилей</p>
                        <div class="profile-soc__button-list">
                            <div class="profile-soc__button-item active">
                                <button>
                                    <svg class="profile-soc__button-svg" width="271" height="50" viewBox="0 0 271 50"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                        <path
                                            d="M262.488 1.11436L269.597 8.1488V41.8565L262.488 48.8909L7.60943 48.8908L0.5 41.8564V8.14866L7.60943 1.11426L262.488 1.11436Z"
                                            fill="#140E13" stroke="#635C4C" />
                                    </svg>
                                    <span>
                                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.56543 15.0029C0.56543 6.73193 7.29443 0.00292969 15.5654 0.00292969C18.9059 0.00292969 22.0676 1.07764 24.7089 3.11093L21.2231 7.63893C19.59 6.38179 17.6336 5.71722 15.5654 5.71722C10.4453 5.71722 6.27972 9.88279 6.27972 15.0029C6.27972 20.1231 10.4453 24.2886 15.5654 24.2886C19.6893 24.2886 23.1937 21.5868 24.4014 17.8601H15.5654V12.1458H30.5654V15.0029C30.5654 23.2739 23.8364 30.0029 15.5654 30.0029C7.29443 30.0029 0.56543 23.2739 0.56543 15.0029Z"
                                                fill="url(#paint0_linear_3113_1422)" />
                                            <defs>
                                                <linearGradient id="paint0_linear_3113_1422" x1="15.5654"
                                                    y1="0.00292969" x2="15.5654" y2="30.0029"
                                                    gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#FFC734" />
                                                    <stop offset="1" stop-color="#FFE6A1" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                        Google
                                    </span>
                                    <svg class="profile-soc__button-status" width="20" height="21" viewBox="0 0 20 21"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.6475 14.1333L7.69976 17.0811L7.69969 17.0812L7.69962 17.0812C6.48065 18.3003 4.49712 18.3003 3.27801 17.0812C2.68742 16.4906 2.36225 15.7054 2.36225 14.8704C2.36225 14.0353 2.68742 13.2503 3.2778 12.6597L6.22573 9.71169C6.63267 9.30467 6.63267 8.64474 6.22566 8.23779C5.81871 7.83084 5.15878 7.83084 4.75176 8.23779L1.80404 11.1856C1.80384 11.1858 1.80363 11.1861 1.80342 11.1863C0.819642 12.1704 0.277832 13.4788 0.277832 14.8704C0.277832 16.2623 0.819851 17.5709 1.80411 18.5551C2.82006 19.571 4.15444 20.079 5.48888 20.079C6.82333 20.079 8.15778 19.571 9.17358 18.5551L9.17365 18.555L12.1214 15.6072C12.5283 15.2002 12.5283 14.5403 12.1213 14.1333C11.7144 13.7264 11.0546 13.7264 10.6475 14.1333Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M19.5434 6.02692C19.5434 4.63501 19.0013 3.32641 18.017 2.34215C15.9852 0.310395 12.6792 0.310464 10.6475 2.34215C10.6475 2.34229 10.6473 2.34236 10.6473 2.3425L7.69962 5.29008C7.2926 5.69702 7.2926 6.35702 7.69962 6.76397C7.9032 6.96755 8.16987 7.06927 8.4366 7.06927C8.70327 7.06927 8.97007 6.96748 9.17351 6.76397L12.1212 3.81639C12.1212 3.81625 12.1214 3.81618 12.1215 3.81604C13.3405 2.59707 15.324 2.597 16.5431 3.81604C17.1336 4.40663 17.4589 5.19183 17.4589 6.02692C17.4589 6.86194 17.1338 7.647 16.5433 8.23759L16.5431 8.23779L13.5954 11.1856C13.1885 11.5925 13.1885 12.2525 13.5955 12.6595C13.799 12.863 14.0657 12.9648 14.3324 12.9648C14.5991 12.9648 14.8659 12.863 15.0694 12.6595L18.0171 9.71169C18.0173 9.71148 18.0175 9.7112 18.0177 9.71099C19.0015 8.72687 19.5434 7.41848 19.5434 6.02692Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M6.22587 14.1333C6.42937 14.3368 6.69611 14.4386 6.96278 14.4386C7.22951 14.4386 7.49625 14.3368 7.69976 14.1333L13.5953 8.23772C14.0024 7.83078 14.0024 7.17085 13.5953 6.76383C13.1884 6.35688 12.5285 6.35688 12.1214 6.76383L6.22587 12.6593C5.81885 13.0664 5.81885 13.7264 6.22587 14.1333Z"
                                            fill="#FFC734" />
                                    </svg>
                                    <svg class="profile-soc__button-status profile-soc__button-status--active"
                                        width="19" height="14" viewBox="0 0 19 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.0764 1.18557C17.3704 0.420321 16.1772 0.373906 15.4139 1.08201L8.43984 7.55188C7.63293 8.30046 6.37282 8.25636 5.62022 7.45321L4.11627 5.84823C3.40567 5.08991 2.21489 5.05122 1.45656 5.76181C0.698239 6.4724 0.659544 7.66319 1.37014 8.42151L5.43006 12.7542C6.18242 13.5571 7.44202 13.6014 8.24901 12.8535L17.9725 3.84124C18.7333 3.13605 18.7798 1.94806 18.0764 1.18557Z"
                                            fill="#69C79F" />
                                    </svg>
                                </button>
                                <div class="profile-soc__button-dop innactive">
                                    Основной аккаунт,<br>
                                    отвязать невозможно
                                </div>
                            </div>
                            <div class="profile-soc__button-item active">
                                <button>
                                    <svg class="profile-soc__button-svg" width="271" height="50" viewBox="0 0 271 50"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                        <path
                                            d="M262.488 1.11436L269.597 8.1488V41.8565L262.488 48.8909L7.60943 48.8908L0.5 41.8564V8.14866L7.60943 1.11426L262.488 1.11436Z"
                                            fill="#140E13" stroke="#635C4C" />
                                    </svg>
                                    <span>
                                        <svg width="25" height="31" viewBox="0 0 25 31" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M20.8824 16.819C20.0572 12.6659 23.9992 10.2301 23.9992 10.2301C23.9992 10.2301 22.4634 8.00807 19.8821 7.43642C17.3022 6.86353 16.0109 7.5793 14.7222 8.11615C13.4322 8.65431 12.7885 8.65431 12.7885 8.65431C10.927 8.65431 9.56614 6.68329 6.01937 7.58062C3.5759 8.19726 1.00363 11.018 0.538875 14.3846C0.0741248 17.7524 1.07703 22.0498 3.0107 25.3803C4.94436 28.7134 6.91413 29.966 8.3122 30.0021C9.71033 30.0368 11.1059 29.0005 12.7885 28.7481C14.4725 28.4984 15.5088 29.3584 17.1605 29.8231C18.8058 30.2866 19.3826 29.8566 21.2776 28.2448C23.1778 26.6329 24.8978 22.0099 24.8978 22.0099C24.8978 22.0099 21.7077 20.9748 20.8824 16.819Z"
                                                fill="url(#paint0_linear_3113_1428)" />
                                            <path
                                                d="M17.2288 4.74956C19.0568 2.88674 18.4376 0.00292969 18.4376 0.00292969C18.4376 0.00292969 15.8706 0.453535 14.1506 2.243C12.4319 4.03379 12.7164 6.86222 12.7164 6.86222C12.7164 6.86222 15.4006 6.61119 17.2288 4.74956Z"
                                                fill="url(#paint1_linear_3113_1428)" />
                                            <defs>
                                                <linearGradient id="paint0_linear_3113_1428" x1="12.662" y1="0.00292969"
                                                    x2="12.662" y2="30.0029" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#FFC734" />
                                                    <stop offset="1" stop-color="#FFE6A1" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_3113_1428" x1="12.662" y1="0.00292969"
                                                    x2="12.662" y2="30.0029" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#FFC734" />
                                                    <stop offset="1" stop-color="#FFE6A1" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                        iCloud
                                    </span>
                                    <svg class="profile-soc__button-status" width="20" height="21" viewBox="0 0 20 21"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.6475 14.1333L7.69976 17.0811L7.69969 17.0812L7.69962 17.0812C6.48065 18.3003 4.49712 18.3003 3.27801 17.0812C2.68742 16.4906 2.36225 15.7054 2.36225 14.8704C2.36225 14.0353 2.68742 13.2503 3.2778 12.6597L6.22573 9.71169C6.63267 9.30467 6.63267 8.64474 6.22566 8.23779C5.81871 7.83084 5.15878 7.83084 4.75176 8.23779L1.80404 11.1856C1.80384 11.1858 1.80363 11.1861 1.80342 11.1863C0.819642 12.1704 0.277832 13.4788 0.277832 14.8704C0.277832 16.2623 0.819851 17.5709 1.80411 18.5551C2.82006 19.571 4.15444 20.079 5.48888 20.079C6.82333 20.079 8.15778 19.571 9.17358 18.5551L9.17365 18.555L12.1214 15.6072C12.5283 15.2002 12.5283 14.5403 12.1213 14.1333C11.7144 13.7264 11.0546 13.7264 10.6475 14.1333Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M19.5434 6.02692C19.5434 4.63501 19.0013 3.32641 18.017 2.34215C15.9852 0.310395 12.6792 0.310464 10.6475 2.34215C10.6475 2.34229 10.6473 2.34236 10.6473 2.3425L7.69962 5.29008C7.2926 5.69702 7.2926 6.35702 7.69962 6.76397C7.9032 6.96755 8.16987 7.06927 8.4366 7.06927C8.70327 7.06927 8.97007 6.96748 9.17351 6.76397L12.1212 3.81639C12.1212 3.81625 12.1214 3.81618 12.1215 3.81604C13.3405 2.59707 15.324 2.597 16.5431 3.81604C17.1336 4.40663 17.4589 5.19183 17.4589 6.02692C17.4589 6.86194 17.1338 7.647 16.5433 8.23759L16.5431 8.23779L13.5954 11.1856C13.1885 11.5925 13.1885 12.2525 13.5955 12.6595C13.799 12.863 14.0657 12.9648 14.3324 12.9648C14.5991 12.9648 14.8659 12.863 15.0694 12.6595L18.0171 9.71169C18.0173 9.71148 18.0175 9.7112 18.0177 9.71099C19.0015 8.72687 19.5434 7.41848 19.5434 6.02692Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M6.22587 14.1333C6.42937 14.3368 6.69611 14.4386 6.96278 14.4386C7.22951 14.4386 7.49625 14.3368 7.69976 14.1333L13.5953 8.23772C14.0024 7.83078 14.0024 7.17085 13.5953 6.76383C13.1884 6.35688 12.5285 6.35688 12.1214 6.76383L6.22587 12.6593C5.81885 13.0664 5.81885 13.7264 6.22587 14.1333Z"
                                            fill="#FFC734" />
                                    </svg>
                                    <svg class="profile-soc__button-status profile-soc__button-status--active"
                                        width="19" height="14" viewBox="0 0 19 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.0764 1.18557C17.3704 0.420321 16.1772 0.373906 15.4139 1.08201L8.43984 7.55188C7.63293 8.30046 6.37282 8.25636 5.62022 7.45321L4.11627 5.84823C3.40567 5.08991 2.21489 5.05122 1.45656 5.76181C0.698239 6.4724 0.659544 7.66319 1.37014 8.42151L5.43006 12.7542C6.18242 13.5571 7.44202 13.6014 8.24901 12.8535L17.9725 3.84124C18.7333 3.13605 18.7798 1.94806 18.0764 1.18557Z"
                                            fill="#69C79F" />
                                    </svg>
                                </button>
                                <div class="profile-soc__button-dop">
                                    <button>
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.59487 3.23342C0.071787 2.71032 0.071787 1.86221 0.59487 1.3391C1.11795 0.816002 1.96604 0.816002 2.48912 1.3391L10.6975 9.54783C11.2206 10.0709 11.2206 10.919 10.6975 11.4421C10.1744 11.9652 9.32637 11.9652 8.80328 11.4421L0.59487 3.23342Z"
                                                fill="#A23C1B" />
                                            <path
                                                d="M10.6971 3.23342C11.2202 2.71032 11.2202 1.86221 10.6971 1.3391C10.174 0.816002 9.32596 0.816002 8.80287 1.3391L0.59446 9.54783C0.0713778 10.0709 0.0713778 10.919 0.59446 11.4421C1.11754 11.9652 1.96563 11.9652 2.48871 11.4421L10.6971 3.23342Z"
                                                fill="#A23C1B" />
                                        </svg>
                                        Отвязать
                                    </button>
                                </div>
                            </div>
                            <div class="profile-soc__button-item">
                                <button>
                                    <svg class="profile-soc__button-svg" width="271" height="50" viewBox="0 0 271 50"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                        <path
                                            d="M262.488 1.11436L269.597 8.1488V41.8565L262.488 48.8909L7.60943 48.8908L0.5 41.8564V8.14866L7.60943 1.11426L262.488 1.11436Z"
                                            fill="#140E13" stroke="#635C4C" />
                                    </svg>
                                    <span>
                                        <svg width="16" height="31" viewBox="0 0 16 31" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.5293 30.0029V16.3195H15.1205L15.8093 10.9853H10.5293V7.58013C10.5293 6.03623 10.9563 4.98408 13.1728 4.98408L15.9951 4.98291V0.211775C15.507 0.148348 13.8316 0.00292969 11.8816 0.00292969C7.80972 0.00292969 5.02202 2.48838 5.02202 7.05183V10.9853H0.416992V16.3195H5.02202V30.0029H10.5293Z"
                                                fill="url(#paint0_linear_3113_1433)" />
                                            <defs>
                                                <linearGradient id="paint0_linear_3113_1433" x1="8.20604"
                                                    y1="0.00292969" x2="8.20604" y2="30.0029"
                                                    gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#FFC734" />
                                                    <stop offset="1" stop-color="#FFE6A1" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                        Facebook
                                    </span>
                                    <svg class="profile-soc__button-status" width="20" height="21" viewBox="0 0 20 21"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.6475 14.1333L7.69976 17.0811L7.69969 17.0812L7.69962 17.0812C6.48065 18.3003 4.49712 18.3003 3.27801 17.0812C2.68742 16.4906 2.36225 15.7054 2.36225 14.8704C2.36225 14.0353 2.68742 13.2503 3.2778 12.6597L6.22573 9.71169C6.63267 9.30467 6.63267 8.64474 6.22566 8.23779C5.81871 7.83084 5.15878 7.83084 4.75176 8.23779L1.80404 11.1856C1.80384 11.1858 1.80363 11.1861 1.80342 11.1863C0.819642 12.1704 0.277832 13.4788 0.277832 14.8704C0.277832 16.2623 0.819851 17.5709 1.80411 18.5551C2.82006 19.571 4.15444 20.079 5.48888 20.079C6.82333 20.079 8.15778 19.571 9.17358 18.5551L9.17365 18.555L12.1214 15.6072C12.5283 15.2002 12.5283 14.5403 12.1213 14.1333C11.7144 13.7264 11.0546 13.7264 10.6475 14.1333Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M19.5434 6.02692C19.5434 4.63501 19.0013 3.32641 18.017 2.34215C15.9852 0.310395 12.6792 0.310464 10.6475 2.34215C10.6475 2.34229 10.6473 2.34236 10.6473 2.3425L7.69962 5.29008C7.2926 5.69702 7.2926 6.35702 7.69962 6.76397C7.9032 6.96755 8.16987 7.06927 8.4366 7.06927C8.70327 7.06927 8.97007 6.96748 9.17351 6.76397L12.1212 3.81639C12.1212 3.81625 12.1214 3.81618 12.1215 3.81604C13.3405 2.59707 15.324 2.597 16.5431 3.81604C17.1336 4.40663 17.4589 5.19183 17.4589 6.02692C17.4589 6.86194 17.1338 7.647 16.5433 8.23759L16.5431 8.23779L13.5954 11.1856C13.1885 11.5925 13.1885 12.2525 13.5955 12.6595C13.799 12.863 14.0657 12.9648 14.3324 12.9648C14.5991 12.9648 14.8659 12.863 15.0694 12.6595L18.0171 9.71169C18.0173 9.71148 18.0175 9.7112 18.0177 9.71099C19.0015 8.72687 19.5434 7.41848 19.5434 6.02692Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M6.22587 14.1333C6.42937 14.3368 6.69611 14.4386 6.96278 14.4386C7.22951 14.4386 7.49625 14.3368 7.69976 14.1333L13.5953 8.23772C14.0024 7.83078 14.0024 7.17085 13.5953 6.76383C13.1884 6.35688 12.5285 6.35688 12.1214 6.76383L6.22587 12.6593C5.81885 13.0664 5.81885 13.7264 6.22587 14.1333Z"
                                            fill="#FFC734" />
                                    </svg>
                                    <svg class="profile-soc__button-status profile-soc__button-status--active"
                                        width="19" height="14" viewBox="0 0 19 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.0764 1.18557C17.3704 0.420321 16.1772 0.373906 15.4139 1.08201L8.43984 7.55188C7.63293 8.30046 6.37282 8.25636 5.62022 7.45321L4.11627 5.84823C3.40567 5.08991 2.21489 5.05122 1.45656 5.76181C0.698239 6.4724 0.659544 7.66319 1.37014 8.42151L5.43006 12.7542C6.18242 13.5571 7.44202 13.6014 8.24901 12.8535L17.9725 3.84124C18.7333 3.13605 18.7798 1.94806 18.0764 1.18557Z"
                                            fill="#69C79F" />
                                    </svg>
                                </button>
                                <div class="profile-soc__button-dop">
                                    <button>
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.59487 3.23342C0.071787 2.71032 0.071787 1.86221 0.59487 1.3391C1.11795 0.816002 1.96604 0.816002 2.48912 1.3391L10.6975 9.54783C11.2206 10.0709 11.2206 10.919 10.6975 11.4421C10.1744 11.9652 9.32637 11.9652 8.80328 11.4421L0.59487 3.23342Z"
                                                fill="#A23C1B" />
                                            <path
                                                d="M10.6971 3.23342C11.2202 2.71032 11.2202 1.86221 10.6971 1.3391C10.174 0.816002 9.32596 0.816002 8.80287 1.3391L0.59446 9.54783C0.0713778 10.0709 0.0713778 10.919 0.59446 11.4421C1.11754 11.9652 1.96563 11.9652 2.48871 11.4421L10.6971 3.23342Z"
                                                fill="#A23C1B" />
                                        </svg>
                                        Отвязать
                                    </button>
                                </div>
                            </div>
                            <div class="profile-soc__button-item">
                                <button>
                                    <svg class="profile-soc__button-svg" width="271" height="50" viewBox="0 0 271 50"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                        <path
                                            d="M262.488 1.11436L269.597 8.1488V41.8565L262.488 48.8909L7.60943 48.8908L0.5 41.8564V8.14866L7.60943 1.11426L262.488 1.11436Z"
                                            fill="#140E13" stroke="#635C4C" />
                                    </svg>
                                    <span>
                                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M2.96625 2.11078C0.857422 4.21962 0.857422 7.6137 0.857422 14.402V15.602C0.857422 22.3902 0.857422 25.7843 2.96625 27.8931C5.07508 30.002 8.46917 30.002 15.2574 30.002H16.4574C23.2457 30.002 26.6397 30.002 28.7486 27.8931C30.8574 25.7843 30.8574 22.3902 30.8574 15.602V14.402C30.8574 7.6137 30.8574 4.21962 28.7486 2.11078C26.6397 0.00195312 23.2457 0.00195312 16.4574 0.00195312H15.2574C8.46917 0.00195312 5.07508 0.00195312 2.96625 2.11078ZM5.91998 9.12732C6.08248 16.9273 9.98242 21.6148 16.8199 21.6148H17.2075V17.1523C19.72 17.4023 21.6199 19.2398 22.3824 21.6148H25.9325C24.9575 18.0648 22.3949 16.1023 20.7949 15.3523C22.3949 14.4273 24.6449 12.1773 25.1824 9.12732H21.9573C21.2573 11.6023 19.1825 13.8523 17.2075 14.0648V9.12732H13.9824V17.7773C11.9824 17.2773 9.45748 14.8523 9.34498 9.12732H5.91998Z"
                                                fill="url(#paint0_linear_3113_1438)" />
                                            <defs>
                                                <linearGradient id="paint0_linear_3113_1438" x1="15.8574"
                                                    y1="0.00195312" x2="15.8574" y2="30.002"
                                                    gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#FFC734" />
                                                    <stop offset="1" stop-color="#FFE6A1" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                        Vkontakte
                                    </span>
                                    <svg class="profile-soc__button-status" width="20" height="21" viewBox="0 0 20 21"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.6475 14.1333L7.69976 17.0811L7.69969 17.0812L7.69962 17.0812C6.48065 18.3003 4.49712 18.3003 3.27801 17.0812C2.68742 16.4906 2.36225 15.7054 2.36225 14.8704C2.36225 14.0353 2.68742 13.2503 3.2778 12.6597L6.22573 9.71169C6.63267 9.30467 6.63267 8.64474 6.22566 8.23779C5.81871 7.83084 5.15878 7.83084 4.75176 8.23779L1.80404 11.1856C1.80384 11.1858 1.80363 11.1861 1.80342 11.1863C0.819642 12.1704 0.277832 13.4788 0.277832 14.8704C0.277832 16.2623 0.819851 17.5709 1.80411 18.5551C2.82006 19.571 4.15444 20.079 5.48888 20.079C6.82333 20.079 8.15778 19.571 9.17358 18.5551L9.17365 18.555L12.1214 15.6072C12.5283 15.2002 12.5283 14.5403 12.1213 14.1333C11.7144 13.7264 11.0546 13.7264 10.6475 14.1333Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M19.5434 6.02692C19.5434 4.63501 19.0013 3.32641 18.017 2.34215C15.9852 0.310395 12.6792 0.310464 10.6475 2.34215C10.6475 2.34229 10.6473 2.34236 10.6473 2.3425L7.69962 5.29008C7.2926 5.69702 7.2926 6.35702 7.69962 6.76397C7.9032 6.96755 8.16987 7.06927 8.4366 7.06927C8.70327 7.06927 8.97007 6.96748 9.17351 6.76397L12.1212 3.81639C12.1212 3.81625 12.1214 3.81618 12.1215 3.81604C13.3405 2.59707 15.324 2.597 16.5431 3.81604C17.1336 4.40663 17.4589 5.19183 17.4589 6.02692C17.4589 6.86194 17.1338 7.647 16.5433 8.23759L16.5431 8.23779L13.5954 11.1856C13.1885 11.5925 13.1885 12.2525 13.5955 12.6595C13.799 12.863 14.0657 12.9648 14.3324 12.9648C14.5991 12.9648 14.8659 12.863 15.0694 12.6595L18.0171 9.71169C18.0173 9.71148 18.0175 9.7112 18.0177 9.71099C19.0015 8.72687 19.5434 7.41848 19.5434 6.02692Z"
                                            fill="#FFC734" />
                                        <path
                                            d="M6.22587 14.1333C6.42937 14.3368 6.69611 14.4386 6.96278 14.4386C7.22951 14.4386 7.49625 14.3368 7.69976 14.1333L13.5953 8.23772C14.0024 7.83078 14.0024 7.17085 13.5953 6.76383C13.1884 6.35688 12.5285 6.35688 12.1214 6.76383L6.22587 12.6593C5.81885 13.0664 5.81885 13.7264 6.22587 14.1333Z"
                                            fill="#FFC734" />
                                    </svg>
                                    <svg class="profile-soc__button-status profile-soc__button-status--active"
                                        width="19" height="14" viewBox="0 0 19 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.0764 1.18557C17.3704 0.420321 16.1772 0.373906 15.4139 1.08201L8.43984 7.55188C7.63293 8.30046 6.37282 8.25636 5.62022 7.45321L4.11627 5.84823C3.40567 5.08991 2.21489 5.05122 1.45656 5.76181C0.698239 6.4724 0.659544 7.66319 1.37014 8.42151L5.43006 12.7542C6.18242 13.5571 7.44202 13.6014 8.24901 12.8535L17.9725 3.84124C18.7333 3.13605 18.7798 1.94806 18.0764 1.18557Z"
                                            fill="#69C79F" />
                                    </svg>
                                </button>
                                <div class="profile-soc__button-dop">
                                    <button>
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0.59487 3.23342C0.071787 2.71032 0.071787 1.86221 0.59487 1.3391C1.11795 0.816002 1.96604 0.816002 2.48912 1.3391L10.6975 9.54783C11.2206 10.0709 11.2206 10.919 10.6975 11.4421C10.1744 11.9652 9.32637 11.9652 8.80328 11.4421L0.59487 3.23342Z"
                                                fill="#A23C1B" />
                                            <path
                                                d="M10.6971 3.23342C11.2202 2.71032 11.2202 1.86221 10.6971 1.3391C10.174 0.816002 9.32596 0.816002 8.80287 1.3391L0.59446 9.54783C0.0713778 10.0709 0.0713778 10.919 0.59446 11.4421C1.11754 11.9652 1.96563 11.9652 2.48871 11.4421L10.6971 3.23342Z"
                                                fill="#A23C1B" />
                                        </svg>
                                        Отвязать
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>