---
auth: 'true'
header-ruble: 'true'
---

{{!< body }} <main class="profile-new">
    <div class="container">
        <div class="profile-new-main">
            <div class="profile-left">
                <div class="profile-new__user">
                    <div class="profile-new__avatar">
                        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
                    </div>
                    <p class="user-info__name">Mellosa Morgenstern</p>
                    <p class="user-info__id">ID 1364622</p>
                </div>
                <div class="profile-new__menu">
                    <ul>
                        <li>
                            <a href="../profile-new/profile.hbs">Уведомления</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-promo.hbs">Промокоды</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-quest.hbs">Квесты</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-balance.hbs">Кошелек</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-vp.hbs" class="active">Vintersaga Points</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-soc.hbs">Привязанные аккаунты</a>
                        </li>
                        <li class="hidden-desctop">
                            <a href="#">Выход</a>
                        </li>
                    </ul>
                </div>
                <div class="profile-new__exit">
                    <ul>
                        <li>
                            <a href="#">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-right__block">
                    <div class="profile-top-menu">
                        <ul>
                            <li>
                                <a href="../profile-new/profile-vp.hbs" class="active">
                                    Баланс
                                </a>
                            </li>
                            <li>
                                <a href="../profile-new/profile-vp-history.hbs">
                                    История операций
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="polygon-block mb-2">
                        <div class="polygon-block-border-right">
                            <div class="polygon-block-padding">
                                <div class="vp-balanc-block-right">
                                    <i class="vp-icon vp-icon-big"></i>
                                    <div class="vp-balanc-block-right-ico">
                                        <div class="vp-balanc-block-text">Баланс: <i class="help-icon"></i></div>
                                        <div class="vp-balanc-block-val">999 999 <span>VP</span></div>
                                    </div>
                                </div>
                                <div class="vp-balanc-block-right">
                                    <div>
                                        <div class="vp-balanc-block-text">Получено всего бонусов:</div>
                                        <div class="vp-balanc-block-val">999 999</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right__mini-block">
                        <div class="name-26 mt-1">Что такое Vintersaga Points</div>
                        <p>Lorem ipsum dolor sit amet consectetur. In malesuada ac volutpat iaculis. Mauris nulla habitant eu tristique arcu porttitor etiam dis. Tincidunt commodo fames eu faucibus est ipsum dignissim et.</p>
                        <div class="name-26 mt-1">Что можно купить на Vintersaga Points</div>
                        <p>Lorem ipsum dolor sit amet consectetur. In malesuada ac volutpat iaculis. Mauris nulla habitant eu tristique arcu porttitor etiam dis. Tincidunt commodo fames eu faucibus est ipsum dignissim et.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>