---
auth: 'true'
---

{{!< body }} <main class="profile-new">
    <div class="container">
        <div class="profile-new-main">
            <div class="profile-left">
                <div class="profile-new__user">
                    <div class="profile-new__avatar">
                        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
                    </div>
                    <p class="user-info__name">Mellosa Morgenstern</p>
                    <p class="user-info__id">ID 1364622</p>
                </div>
                <div class="profile-new__menu">
                    <ul>
                        <li>
                            <a href="../profile-new/profile.hbs" class="active">Уведомления</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-promo.hbs">Промокоды</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-quest.hbs">Квесты</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-balance.hbs">Кошелек</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-vp.hbs">Vintersaga Points</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-soc.hbs">Привязанные аккаунты</a>
                        </li>
                    </ul>
                </div>
                <div class="profile-new__exit">
                    <ul>
                        <li>
                            <a href="#">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-right__block">
                    <div class="name-and-tags mt-2">
                        <div class="name-26">Уведомления</div>
                        <div class="history-balance__nav select-switcher only-desktop">
                            <button id="all" class="active">Пометить все прочитанными</button>
                        </div>
                    </div>
                    <hr>
                    <table class="notifications-table mt-1">
                        <tr class="notification active">
                            <td class="date">12.02.22</td>
                            <td>
                                <p>Вы купили пакет <span class="polygon-btn"><i class="rubin"><img src="../../assets/img/profile/rubies.svg" alt=""></i>15000 рубинов</span> за 5000 рублей.</p>
                                <p>Из них <span class="polygon-btn"><i class="rubin"><img src="../../assets/img/profile/rubies.svg" alt=""></i>1000 рубинов бесплатно.</span> Бонус: <span class="polygon-btn"><i class="vp"><img src="../../assets/img/profile/vp.svg" alt=""></i> 200 Vintersaga Points</span></p>
                            </td>
                        </tr>
                        <tr class="notification">
                            <td class="date">12.02.22</td>
                            <td>
                                <p>Вы купили пакет <span class="polygon-btn"><i class="rubin"><img src="../../assets/img/profile/rubies.svg" alt=""></i>15000 рубинов</span> за 5000 рублей.</p>
                                <p>Приз: <span class="polygon-btn">Конская шуба</span></p>
                            </td>
                        </tr>
                        <tr class="notification">
                            <td class="date">12.02.22</td>
                            <td>
                                <p>Вы купили пакет <span class="polygon-btn"><i class="rubin"><img src="../../assets/img/profile/rubies.svg" alt=""></i>15000 рубинов</span> за 5000 рублей.</p>
                                <p>Из них <span class="polygon-btn"><i class="rubin"><img src="../../assets/img/profile/rubies.svg" alt=""></i>1000 рубинов бесплатно.</span> Бонус: <span class="polygon-btn"><i class="vp"><img src="../../assets/img/profile/vp.svg" alt=""></i> 200 Vintersaga Points</span></p>
                            </td>
                        </tr>
                        <tr class="notification">
                            <td class="date">12.02.22</td>
                            <td>
                                <p>Вы купили пакет <span class="polygon-btn"><i class="rubin"><img src="../../assets/img/profile/rubies.svg" alt=""></i>15000 рубинов</span> за 5000 рублей.</p>
                                <p>Из них <span class="polygon-btn"><i class="rubin"><img src="../../assets/img/profile/rubies.svg" alt=""></i>1000 рубинов бесплатно.</span> Бонус: <span class="polygon-btn"><i class="vp"><img src="../../assets/img/profile/vp.svg" alt=""></i> 200 Vintersaga Points</span></p>
                            </td>
                        </tr>
                    </table>
                    <div class="pagenav">
                        <a class="pagenav-item" href="#">&lt;</a>
                        <a class="pagenav-item  active" href="#">1</a>
                        <a class="pagenav-item" href="#">2</a>
                        <a class="pagenav-item" href="#">3</a>
                        <a class="pagenav-item" href="#">&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>