---
auth: 'true'
---

{{!< body }} <main class="profile-new">
    <div class="container">
        <div class="profile-new-main">
            <div class="profile-left">
                <div class="profile-new__user">
                    <div class="profile-new__avatar">
                        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
                    </div>
                    <p class="user-info__name">Mellosa Morgenstern</p>
                    <p class="user-info__id">ID 1364622</p>
                </div>
                <div class="profile-new__menu">
                    <ul>
                        <li>
                            <a href="../profile-new/profile.hbs">Уведомления</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-promo.hbs">Промокоды</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-quest.hbs">Квесты</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-balance.hbs" class="active">Кошелек</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-vp.hbs">Vintersaga Points</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-soc.hbs">Привязанные аккаунты</a>
                        </li>
                        <li class="hidden-desctop">
                            <a href="#">Выход</a>
                        </li>
                    </ul>
                </div>
                <div class="profile-new__exit">
                    <ul>
                        <li>
                            <a href="#">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-right__block">
                    <div class="profile-top-menu">
                        <ul>
                            <li>
                                <a href="../profile-new/profile-balance.hbs">
                                    Баланс и вывод
                                </a>
                            </li>
                            <li>
                                <a href="../profile-new/profile-balance-history.hbs" class="active">
                                    История операций
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="name-and-tags mt-1">
                        <div class="name-26">История активации кодов</div>
                        <div class="history-balance__nav select-switcher only-desktop">
                            <button id="all" class="active">Все</button>
                            <button id="in">Входящие</button>
                            <button id="out">Исходящие</button>
                        </div>
                    </div>
                    <hr>
                    <table class="promo-history">
                        <tr>
							<td class="date">12.02.22</td>
                            <td class="summ add">+ 5000 ₽</td>
							<td>за победу в турнире красного шлема</td>
						</tr>
                        <tr>
							<td class="date">12.02.22</td>
                            <td class="summ remove">- 1000 ₽</td>
							<td>Покупка товара Легендарный шлем болотного воина</td>
						</tr>
                        <tr>
							<td class="date">12.02.22</td>
                            <td class="summ add">+ 5000 ₽</td>
							<td>за победу в турнире красного шлема</td>
						</tr>
                        <tr>
							<td class="date">12.02.22</td>
                            <td class="summ remove">- 5000 ₽</td>
							<td>вывод средств на карту ***68</td>
						</tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </main>