---
auth: 'true'
---

{{!< body }} <main class="profile-new">
    <div class="container">
        <div class="profile-new-main">
            <div class="profile-left">
                <div class="profile-new__user">
                    <div class="profile-new__avatar">
                        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
                    </div>
                    <p class="user-info__name">Mellosa Morgenstern</p>
                    <p class="user-info__id">ID 1364622</p>
                </div>
                <div class="profile-new__menu">
                    <ul>
                        <li>
                            <a href="../profile-new/profile.hbs">Уведомления</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-promo.hbs">Промокоды</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-quest.hbs" class="active">Квесты</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-balance.hbs">Кошелек</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-vp.hbs">Vintersaga Points</a>
                        </li>
                        <li>
                            <a href="../profile-new/profile-soc.hbs">Привязанные аккаунты</a>
                        </li>
                    </ul>
                </div>
                <div class="profile-new__exit">
                    <ul>
                        <li>
                            <a href="#">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-right__block">
                    <div class="profile-top-menu">
                        <ul>
                            <li>
                                <a href="../profile-new/profile-quest-process.hbs">
                                    <span class="svg">
                                        <svg width="13" height="16" viewBox="0 0 13 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M1.51793 3.21844V1.81456C1.13336 1.58334 0.871479 1.15809 0.871479 0.666656V0.333344C0.871479 0.149094 1.01605 0 1.19472 0H12.1846C12.3632 0 12.5078 0.149094 12.5078 0.333344V0.666687C12.5078 1.15809 12.2459 1.58334 11.8614 1.81459V3.21844C11.8614 4.53941 11.3153 5.80372 10.3632 6.68719L8.94879 8L10.3632 9.31281C11.3153 10.1963 11.8614 11.4606 11.8614 12.7816V14.1854C12.2459 14.4167 12.5078 14.8419 12.5078 15.3333V15.6667C12.5078 15.8509 12.3632 16 12.1846 16H1.19469C1.01602 16 0.871449 15.8509 0.871449 15.6667V15.3333C0.871449 14.8419 1.13333 14.4167 1.5179 14.1854V12.7816C1.5179 11.4606 2.06399 10.1963 3.01602 9.31281L4.4305 8L3.01605 6.68719C2.06402 5.80372 1.51793 4.53937 1.51793 3.21844ZM3.88093 5.69628L5.82916 7.50456C5.96553 7.63087 6.04319 7.81087 6.04319 8C6.04319 8.18913 5.96553 8.36916 5.82916 8.49544L3.88093 10.3037C3.20102 10.9349 2.81087 11.8382 2.81087 12.7816V14H3.61911L6.43113 10.1335C6.55298 9.9655 6.82634 9.9655 6.94819 10.1335L9.76018 14H10.5684V12.7816C10.5684 11.8382 10.1783 10.9349 9.49834 10.3037L7.5501 8.49541C7.41374 8.36909 7.33607 8.18909 7.33607 7.99997C7.33607 7.81084 7.41374 7.63081 7.5501 7.50453L9.49834 5.69625C10.1783 5.06509 10.5684 4.16178 10.5684 3.21844V2H2.81087V3.21844C2.81087 4.16178 3.20102 5.06509 3.88093 5.69628Z"
                                                fill="#635C4C" />
                                            <path
                                                d="M4.46174 4.66666H8.91785C9.0457 4.66666 9.16155 4.74447 9.21331 4.86491C9.26506 4.98569 9.24331 5.12631 9.15712 5.22397L6.90649 7.36525C6.84495 7.42288 6.76728 7.4515 6.68965 7.4515C6.61201 7.4515 6.53434 7.42284 6.4728 7.36525L4.2225 5.22397C4.13632 5.12631 4.11453 4.98569 4.16632 4.86491C4.21805 4.74447 4.33389 4.66666 4.46174 4.66666Z"
                                                fill="#635C4C" />
                                        </svg>
                                    </span>
                                    <span class="name">В процессе</span>
                                    <span class="count">(3)</span>
                                </a>
                            </li>
                            <li>
                                <a href="../profile-new/profile-quest.hbs">
                                    <span class="svg">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.8662 8.88444C5.55053 8.88444 1.67833 8.88444 1.67833 8.88444C1.26727 8.88444 0.930921 9.22127 0.930921 9.63297V15.2515C0.930921 15.6632 1.26727 16 1.67833 16C1.67833 16 5.63155 16 6.95343 16C7.12926 16 7.12926 15.8108 7.12926 15.8108V9.13881C7.12926 9.13881 7.1292 8.88444 6.8662 8.88444Z"
                                                fill="#635C4C" />
                                            <path
                                                d="M13.8425 8.88444C13.8425 8.88444 9.95548 8.88444 8.6599 8.88444C8.34424 8.88444 8.39151 9.21369 8.39151 9.21369V15.8169C8.39151 15.8169 8.38895 15.9998 8.57882 15.9998C9.89471 15.9998 13.8424 15.9998 13.8424 15.9998C14.2534 15.9998 14.5898 15.663 14.5898 15.2513V9.63297C14.5899 9.22127 14.2535 8.88444 13.8425 8.88444Z"
                                                fill="#635C4C" />
                                            <path
                                                d="M7.1292 4.46371C7.1292 4.46371 7.1292 4.21005 6.87894 4.21005C5.38036 4.21005 0.834323 4.21005 0.834323 4.21005C0.423265 4.21005 0.0869141 4.54693 0.0869141 4.95859V7.29526C0.0869141 7.70697 0.423265 8.04379 0.834323 8.04379C0.834323 8.04379 5.40073 8.04379 6.89941 8.04379C7.1292 8.04379 7.1292 7.84419 7.1292 7.84419V4.46371Z"
                                                fill="#635C4C" />
                                            <path
                                                d="M14.6864 4.21005C14.6864 4.21005 10.1386 4.21005 8.62255 4.21005C8.39162 4.21005 8.39162 4.43044 8.39162 4.43044V7.84882C8.39162 7.84882 8.39162 8.04379 8.67237 8.04379C10.1758 8.04379 14.6864 8.04379 14.6864 8.04379C15.0975 8.04379 15.4339 7.70697 15.4339 7.29526V4.95859C15.4339 4.54693 15.0975 4.21005 14.6864 4.21005Z"
                                                fill="#635C4C" />
                                            <path
                                                d="M4.58711 3.65622C4.24515 3.65622 3.93281 3.62906 3.65892 3.57545C2.96324 3.43932 2.48509 3.17438 2.19715 2.76556C1.93916 2.39918 1.8602 1.94749 1.96241 1.423C2.14145 0.505348 2.75675 0 3.69485 0C3.89339 0 4.11141 0.0229605 4.34294 0.0682814C4.9319 0.18352 5.68519 0.521764 6.35805 0.973065C7.49964 1.73883 7.55611 2.21489 7.49926 2.5064C7.41567 2.93474 7.01594 3.24081 6.27719 3.44216C5.77808 3.57818 5.16207 3.65622 4.58711 3.65622ZM3.69491 1.19978C3.3316 1.19978 3.20675 1.30144 3.13819 1.65304C3.08211 1.94051 3.15284 2.04092 3.17603 2.07391C3.27318 2.21189 3.52622 2.32697 3.8886 2.39781C4.08413 2.4361 4.32574 2.45633 4.58705 2.45633C5.16168 2.45633 5.66793 2.36913 6.00384 2.27374C6.02829 2.26681 6.06624 2.23785 6.02557 2.21358C5.58641 1.85527 4.78297 1.37681 4.11326 1.24575C3.95726 1.21532 3.81645 1.19978 3.69491 1.19978Z"
                                                fill="#635C4C" />
                                            <path
                                                d="M10.951 3.65622C10.951 3.65622 10.951 3.65622 10.9509 3.65622C10.3759 3.65622 9.75994 3.57818 9.26084 3.44216C8.52203 3.24086 8.12235 2.93474 8.03877 2.50645C7.98198 2.21495 8.03833 1.73889 9.18003 0.97312C9.85279 0.521819 10.6061 0.183575 11.1951 0.068336C11.4267 0.023015 11.6447 5.45379e-05 11.8431 5.45379e-05C12.7814 5.45379e-05 13.3966 0.505457 13.5755 1.42311C13.6778 1.94755 13.5989 2.39923 13.3409 2.76562C13.0529 3.17449 12.5748 3.43938 11.879 3.5755C11.6052 3.62901 11.2929 3.65622 10.951 3.65622ZM9.52204 2.20617C9.48311 2.2288 9.50195 2.26452 9.52215 2.27036C9.8579 2.36705 10.3695 2.45639 10.9509 2.45639C11.2123 2.45639 11.4538 2.43615 11.6494 2.39787C12.0117 2.32697 12.2648 2.21195 12.3619 2.07397C12.3852 2.04097 12.456 1.94057 12.3998 1.6531C12.3313 1.30149 12.2064 1.19983 11.843 1.19983C11.7215 1.19983 11.5808 1.21532 11.4247 1.24586C10.7549 1.37686 9.9612 1.8478 9.52204 2.20617Z"
                                                fill="#635C4C" />
                                        </svg>
                                    </span>
                                    <span class="name">Выполненые</span>
                                    <span class="count">(3)</span>
                                </a>
                            </li>
                            <li>
                                <a href="../profile-new/profile-quest-get.hbs" class="active">
                                    <span class="svg">
                                        <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M22.9196 1.36365L21.8494 0.321871C21.4085 -0.10729 20.6888 -0.10729 20.2441 0.321871L9.02229 11.2496L3.14384 5.52714C2.70298 5.09793 1.98322 5.09793 1.53857 5.52714L0.46834 6.56892C0.0274804 6.99813 0.0274804 7.69874 0.46834 8.13159L8.21589 15.6735C8.43824 15.89 8.72458 16 9.01476 16C9.30494 16 9.59507 15.89 9.81367 15.6735L22.9082 2.92637C23.3604 2.48988 23.3604 1.79291 22.9196 1.36365Z"
                                                fill="#635C4C" />
                                        </svg>
                                    </span>
                                    <span class="name">Награда получена</span>
                                    <span class="count">(3)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="quest-list">
                        <div class="quest-item">
                            <div class="quest-item__info">
                                <div class="quest-item__name">Медведи и пчелы</div>
                                <div class="quest-item__descr">
                                    <div class="quest-item__descr-text">
                                        Медведи повадились разрушать наши ульи. В этих ульях пчелы делают мед! А мы его едим. Нужно что-то сделать с этим. Помоги убить медведей и получи награду. Жаль медведей, но мед жаль еще больше.
                                    </div>
                                </div>
                                <div class="quest-item__bottom">
                                    <div class="quest-text polygon-btn green">Убейте злобных медведей</div>
                                </div>
                            </div>
                            <div class="quest-item__status">
                                <div class="quest-item__status-block">
                                    <p>Награда выдана<br>Для получения награды проверить почту в игре</p>
                                </div>
                            </div>
                        </div>
                        <div class="quest-item">
                            <div class="quest-item__info">
                                <div class="quest-item__name">Бледная леди</div>
                                <div class="quest-item__descr">
                                    <div class="quest-item__descr-text">
                                        Рядом с руинами Фростмир (юго-западнее Данстара, ближе к горе, чем Мзинчалефт) Довакин встречает нордку Эйсу, которая в одиночку сражается с бандитами. Ее можно спасти или не вмешиваться в поединок – в любом случае, девушка или поговорит с вами, или вы найдете на ее теле дневник, после которого начнется квест. Кстати, на телах бандитов будут листовки, в которых написано, что главарь банды Кюр недоволен действиями Эйсы и ее друга Ра’Джирра.
                                    </div>
                                </div>
                                <div class="quest-item__bottom">
                                    <div class="quest-text polygon-btn green">Поговорите с Эйсу</div>
                                </div>
                            </div>
                            <div class="quest-item__status">
                                <div class="quest-item__status-block">
                                    <p>Награда выдана<br>Для получения награды проверить почту в игре</p>
                                </div>
                            </div>
                        </div>
                        <div class="quest-item">
                            <div class="quest-item__info">
                                <div class="quest-item__name">Забытые имена</div>
                                <div class="quest-item__descr">
                                    <div class="quest-item__descr-text">
                                        В Коллегии Винтерхолда есть квест, по которому Довакина отправят в Мидден, систему подземелий под зданием Коллегии. Если обыскать ее, можно найти реликвию в виде перчатки со знаком Обливиона. Там же лежит ключ следователя и отчет о проишествии – четверо учеников сгорели заживо, призывая кого-то могущественного.
                                    </div>
                                </div>
                                <div class="quest-item__bottom">
                                    <div class="quest-text polygon-btn green">Убейте злобных медведей</div>
                                </div>
                            </div>
                            <div class="quest-item__status">
                                <div class="quest-item__status-block">
                                    <p>Награда выдана<br>Для получения награды проверить почту в игре</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>