@media (max-width: 900px) and (min-width: 811px){
    .profile-new{
        margin-top: 100px;
    }
}
.profile-new{
    &-main{
        display: flex;
        height: 100%;
    }
    .profile-left,
    .profile-right{
        position: relative;
        display: flex;
        height: 100%;
    }
    .profile-left{
        width: 300px;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 45px;
        &::before{
            content: "";
            background: linear-gradient(rgba(0, 0, 0, 0) 50%, black 100%), url(../../assets/img/profile/new-bg.jpg);
            background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, black 100%), url(../../assets/img/profile/new-bg.jpg);
            position: absolute;
            z-index: -1;
            right: 0;
            top: 0;
            height: 100%;
            width: calc(100vw - 1000px);
            opacity: 0.13;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: 50% top;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .avatar{
            width: 107px;
            height: 107px;
            display: block;
        }
    }
    .profile-right{
        width: calc(100% - 300px);
        padding-left: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        &::before{
            content: "";
            background-color: #EFE7D8;
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            height: 100%;
            width: calc(100vw - 300px);
        }
    }
    &__user,
    &__avatar{
        display: inline-flex;
    }
    &__user{
        flex-flow: column nowrap;
        align-items: center;
    }
    .user-info__name{
        color: #F5E3CC;
        font-size: 26px;
        font-weight: 700;
        margin-top: 12px;
    }
    .user-info__id{
        font-size: 16px;
        color: #635C4C;
    }
    .profile-new__menu,
    .profile-new__exit{
        margin-top: 45px;
        ul{
            display: flex;
            flex-flow: column nowrap;
            width: 170px;
            a{
                font-size: 22px;
                font-weight: 700;
                color: #8F8160;
                text-decoration: none;
                position: relative;
                display: block;
                &.active,
                &:hover{
                    color: #FFC734;
                }
                &.active::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -5px;
                    left: 100%;
                    width: 65px;
                    height: 10px;
                    background-image: url(../../assets/img/profile/arrow-lk-menu.svg);
                }
            }
            li + li{
                margin-top: 20px;
            }
        }
    }
    .promocode-btn{
        pointer-events: none;
        width: 213px;
        height: 59px;
        background-color: #0000;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        position: relative;
        pointer-events: all;
        svg{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        span{
            text-align: center;
            color: #000;
            z-index: 10;
            font-size: 22px;
            font-weight: 500;
            line-height: 88.6%;
        }
    }
    hr{
        color: #000;
        opacity: .1;
    }
    .profile-right__mini-block{
        max-width: 530px;
        font-size: 18px;
    }
    .profile-right__block{
        width: 100%;
    }
    .profile-soc__button-item{
        display: flex;
        align-items: center;
        .profile-soc__button-dop{
            margin-top: 0;
            margin-left: 25px;
            text-align: left;
        }
        .profile-soc__button-dop{
            color: #635C4C;
        }
    }
    @media (max-width: 1340px) and (min-width: 901px){
        .profile-left{
            width: 350px;
            &::before{
                width: calc(100vw - 350px);
            }
        }
        .profile-right{
            width: calc(100% - 350px);
        }
        .profile-new__menu ul a.active::after{
            margin-left: 25px;
        }
        .profile-right{
            padding-left: 40px;
        }
    }
    @media (max-width: 900px){
        .profile-left::before{
            width: 100vw;
        }
        .profile-new__exit{
            display: none;
        }
        .profile-left,
        .profile-right{
            height: auto;
            padding: 20px 0px;
        }
        .profile-left{
            text-align: center;
        }
        .profile-new__menu ul a.active::after{
            content: none;
        }
        .profile-new__menu ul{
            flex-flow: nowrap;
            width: auto;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            li + li{
                margin-top: 0;
            }
            a{
                white-space: nowrap;
                padding: 0 20px;
            }
        }
        .profile-new-main{
            display: block;
            height: auto;
            .profile-left,
            .profile-right{
                width: 100%;
                display: block;
            }
        }
        .profile-right__mini-block{
            max-width: 100%;
        }
        .profile-right::before{
            width: 100vw;
            margin-left: -20px;
        }
        
    }
    .profile-top-menu{
        margin-bottom: 20px;
        ul{
            display: flex;
        }
        a{
            color: #9D9687;
            font-size: 19px;
            font-weight: 700;
            display: flex;
            padding: 10px 20px;
            --notchSize: 8px;
            clip-path:
            polygon(
                0% var(--notchSize), 
                var(--notchSize) 0%, 
                calc(100% - var(--notchSize)) 0%, 
                100% var(--notchSize), 
                100% calc(100% - var(--notchSize)), 
                calc(100% - var(--notchSize)) 100%, 
                var(--notchSize) 100%, 
                0% calc(100% - var(--notchSize))
            );
            &:hover{
                color: #635C4C;
            }
            .svg{
                display: none;
            }
            &.active{
                color: #635C4C;
                background-color: #FFF8EC;
                text-decoration: none;
            }
            .count{
                margin-left: 5px;
            }
        }
        li + li{
            margin-left: 10px;
        }
    }
    .polygon-btn{
        --notchSize: 8px;
        clip-path:
        polygon(
            0% var(--notchSize), 
            var(--notchSize) 0%, 
            calc(100% - var(--notchSize)) 0%, 
            100% var(--notchSize), 
            100% calc(100% - var(--notchSize)), 
            calc(100% - var(--notchSize)) 100%, 
            var(--notchSize) 100%, 
            0% calc(100% - var(--notchSize))
        );
    }
    .polygon-block{
        &-padding{
            padding: 20px;
        }
        border: 1px solid #E1D7C5;
        position: relative;
        &::before{
            width: 14px;
            height: 14px;
            content: "";
            background: #eee6d7;
            border-right: 1px solid #E1D7C5;
            position: absolute;
            top: -7px;
            left: -8px;
            transform: rotate(45deg);
        }
        &::after{
            width: 14px;
            height: 14px;
            content: "";
            background: #eee6d7;
            border-right: 1px solid #E1D7C5;
            position: absolute;
            left: -8px;
            transform: rotate(-45deg);
            bottom: -7px;
        }
        .polygon-block-border-right{
            position: relative;
            &::before{
                width: 14px;
                height: 14px;
                content: "";
                background: #eee6d7;
                border-right: 1px solid #E1D7C5;
                position: absolute;
                top: -7px;
                right: -8px;
                transform: rotate(135deg);
            }
            &::after{
                width: 14px;
                height: 14px;
                content: "";
                background: #eee6d7;
                border-right: 1px solid #E1D7C5;
                position: absolute;
                right: -8px;
                transform: rotate(-135deg);
                bottom: -7px;
            }
        }
        .polygon-block-padding{
            display: flex;
            padding: 22px 70px;
            justify-content: space-between;
            .vp-balanc-block-left,
            .vp-balanc-block-right{
                width: 50%;
            }
            .vp-balanc-block-left{
                padding-right: 50px;
            }
            .vp-balanc-block-right{
                padding-left: 50px;
                display: flex;
                align-items: center;
                .vp-icon{
                    height: 50px;
                    width: 50px;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    margin-right: 10px;
                }
            }
        }
        .vp-balanc-block-left{
            display: flex;
            flex-flow: column nowrap;
        }
        .vp-balanc-block-text{
            font-size: 14px;
            font-weight: 700;
            color: #635C4C;
            display: flex;
            align-items: center;
        }
        .vp-balanc-block-val{
            font-size: 38px;
            color: #635C4C;
            font-weight: 900;
            line-height: 24px;
            span{
                font-size: 18px;
                font-weight: 700;
                
            }
        }
    }
    .quest-item{
        margin: 0;
        .quest-item__info{
            width: 100%;
        }
        .quest-item__name,
        .quest-item__descr{
            color: #2D2822;
        }
        .quest-item__descr{
            display: flex;
            align-items: center;
        }
        .quest-item__descr-text{
            max-width: 464px;
        }
        .quest-item__bottom{
            margin-top: 10px;
            display: flex;
            .quest-text{
                display: inline-block;
                padding: 2px 10px;
                --notchSize: 5px;
                background-color: #533200;
                font-size: 16px;
                font-weight: 400;
                &.green{
                    background-color: #008124;
                }
            }
            .quest-item__bottom-doptext{
                color: #A1670F;
                margin-left: 15px;
            }
        }
        .quest-item__status{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .quest-item__step-text{
            margin-left: 27px;
            --notchSize: 5px;
            background-color: #D4C7B2;
            color: #4E4343;
            font-size: 16px;
            font-weight: 400;
            padding: 7px 24px;
        }
        .quest-item__button{
            margin: 0;
            white-space: nowrap;
            font-size: 18px;
            font-weight: 500;
            background-color: #FFC734;
            padding: 10px 15px;
        }
        .quest-item__status-block{
            color: #948D7E;
            font-size: 15px;
            font-weight: 500;
            min-width: 175px;
            text-align: right;
        }
    }
    @media (max-width: 900px){
        .input__lk label{
            position: absolute;
            top: 10px;
            pointer-events: none;
        }
        .input__lk input{
            padding-left: 0;
        }
        .input__lk.active label{
            display: none;
        }
        .profile-soc__button-list{
            justify-content: normal;
        }
        .profile-soc__button-item > button{
            width: 220px;
            min-width: 220px;
        }
        .profile-top-menu li + li{
            margin-left: 0;
        }
        .profile-top-menu a .svg{
            display: flex;
            align-items: center;
            margin-right: 5px;
        }
        .profile-top-menu a:not(.active) .name{
            display: none;
        }
        .profile-top-menu a{
            font-size: 16px;
            text-decoration: none;
            padding: 10px 15px;
        }
        .profile-new .quest-item .quest-item__descr-text{
            width: 100%;
            max-width: none;
        }
        .quest-item .quest-item__bottom{
            display: block;
        }
        .quest-item .quest-item__bottom .quest-item__bottom-doptext{
            margin-left: 0;
            margin-top: 10px;
        }
        .quest-item{
            position: relative;
        }
        .quest-item__step{
            position: absolute;
            bottom: 30px;
            left: 0;
            font-size: 16px;
        }
        .quest-item .quest-item__step-text{
            margin-left: 0;
        }
        .quest-item .quest-item__status-block{
            width: 100%;
            margin-top: 15px;
        }
    }
    .name-and-tags{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .history-balance__nav button{
        color: #635C4C;
        opacity: .58;
        background: transparent;
        font-size: 16px;
        font-weight: 700;
        &.active{
            opacity: 1;
        }
        &:hover{
            opacity: .7;
        }
    }
    .promo-history{
        .summ{
            font-size: 20px;
            font-weight: 400;
            display: flex;
            align-items: center;
            &.add{
                color: #008124;
            }
            &.remove{
                color: #E46E00;
            }
        }
    }
    .vp-icon{
        margin-right: 5px;
        width: 14px;
        height: 15px;
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.03585 0.948608C3.26291 0.948608 0.204102 4.00742 0.204102 7.78036C0.204102 11.5533 3.26291 14.6121 7.03585 14.6121C10.8088 14.6121 13.8676 11.5533 13.8676 7.78036C13.8676 4.00742 10.8095 0.948608 7.03585 0.948608ZM7.03585 13.1146C4.08973 13.1146 1.7016 10.7265 1.7016 7.78036C1.7016 4.83423 4.0904 2.44611 7.03585 2.44611C9.98129 2.44611 12.3701 4.83423 12.3701 7.78036C12.3701 10.7265 9.98197 13.1146 7.03585 13.1146Z' fill='url(%23paint0_linear_3170_1677)' /%3E%3Cpath d='M7.92851 4.03186C4.64501 4.08345 2.49244 5.61082 2.66418 6.67522C4.27573 5.85655 6.4283 6.27946 7.86402 6.1661C8.33038 6.13012 8.53063 5.96856 8.57679 5.76695C8.61209 5.60403 8.52317 5.4669 8.36839 5.43703C8.16882 5.40038 7.99436 5.60199 8.10229 5.80971C8.01065 5.85248 7.89864 5.87284 7.79139 5.88031C7.74794 5.78595 7.74115 5.65969 7.7588 5.57552C7.82737 5.26936 8.11519 5.06843 8.43356 5.13903C8.80013 5.22049 8.94811 5.53954 8.88227 5.83551C8.81031 6.15931 8.51977 6.40165 7.92512 6.45732C7.25172 6.51977 6.67946 6.46139 6.01693 6.46003C6.10042 7.09406 5.78409 7.58689 5.10729 7.73827C3.49847 8.0933 1.88964 8.48023 0.294386 8.89296C0.675889 11.2207 2.23313 13.1526 4.33682 14.0582C6.27352 13.3977 8.07514 12.6503 8.91893 12.0645C9.70433 11.518 10.2623 10.7577 10.4748 9.67837C10.7171 8.39198 10.6248 6.42134 10.0044 5.14921C9.61608 4.35702 9.07098 4.01353 7.92851 4.03118V4.03186ZM7.26937 4.75277C7.08269 4.75142 6.83967 4.7582 6.66453 4.78604C6.69508 4.84713 6.70662 4.91705 6.69033 4.98561C6.65095 5.15396 6.48668 5.25918 6.31833 5.22252C6.15269 5.18519 6.04679 5.0182 6.08413 4.85256C6.13301 4.62108 6.41744 4.46699 7.35761 4.43983C7.3291 4.54777 7.29924 4.65163 7.26869 4.75277H7.26937Z' fill='url(%23paint1_linear_3170_1677)' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3170_1677' x1='7.03585' y1='0.948608' x2='7.03585' y2='14.6121' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CCCFFF' /%3E%3Cstop offset='1' stop-color='%238689AF' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3170_1677' x1='7.03585' y1='0.948608' x2='7.03585' y2='14.6121' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CCCFFF' /%3E%3Cstop offset='1' stop-color='%238689AF' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    }
    .help-icon{
        width: 13px;
        height: 13px;
        display: inline-block;
        margin-left: 5px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.57855 8.45427L5.44041 8.3852L5.16413 6.93471L5.19866 6.77354L6.45345 6.0483C6.62997 5.93318 6.77578 5.81039 6.8909 5.67992C7.00602 5.54178 7.06358 5.38445 7.06358 5.20793C7.06358 4.83188 6.87171 4.54409 6.48799 4.34455C6.10426 4.14501 5.58623 4.02989 4.93389 3.99919L4.8418 3.83803L5.26773 2.88255L5.44041 2.81348C6.00065 2.82883 6.50334 2.92476 6.94846 3.10127C7.39358 3.27779 7.74661 3.5157 8.00755 3.815C8.26848 4.10664 8.39895 4.43664 8.39895 4.80502C8.39895 5.07363 8.3529 5.3077 8.26081 5.50724C8.17639 5.6991 8.04976 5.87946 7.88092 6.0483C7.71208 6.20946 7.51254 6.37063 7.2823 6.53179C7.05207 6.69296 6.79113 6.87331 6.4995 7.07285L6.46496 7.16494L6.63764 8.12042L6.58008 8.24705L5.57855 8.45427ZM6.016 11.0444C5.73972 11.0444 5.52867 10.9638 5.38285 10.8027C5.24471 10.6415 5.17564 10.4381 5.17564 10.1926C5.17564 9.91627 5.25622 9.69371 5.41739 9.52487C5.58623 9.34835 5.81263 9.26009 6.09658 9.26009C6.36519 9.26009 6.57241 9.34068 6.71822 9.50184C6.86404 9.65533 6.93695 9.85871 6.93695 10.112C6.93695 10.3806 6.85253 10.6031 6.68369 10.7797C6.52252 10.9562 6.29996 11.0444 6.016 11.0444Z' fill='%23C1B088'/%3E%3Ccircle cx='6.62061' cy='6.92896' r='6.02197' stroke='%23C1B088'/%3E%3C/svg%3E%0A");
    }
    .balance-block{
        display: flex;
        .polygon-block{
            margin-bottom: 50px;
        }
        .balance-block-left,
        .balance-block-right{
            width: calc(50% - 40px);
        }
        .balance-block-left{
            padding-right: 20px;
        }
        .balance-block-right{
            padding-left: 20px;
        }
        .polygon-block-border-right{
            padding: 20px;
        }
    }
    .profile-right__mini-block.balance{
        max-width: 630px;
    }
    .balance-label{
        margin-top: 18px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
        color: #B2A07E;
    }
    .add-cart{
        display: flex;
        color: #936D09;
        align-items: center;
        text-decoration: none;
        margin-top: 10px;
        svg{
            padding-right: 5px;
        }
    }
    .balance__button{
        margin: 50px 0 0px 0px;
        white-space: nowrap;
        font-size: 22px;
        font-weight: 500;
        background-color: #FFC734;
        padding: 10px 30px;
    }
    .balance-bottom-block{
        position: relative;
    }
    .balance-block-left .balance-bottom-block:before{
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        background-color: #E1D7C5;
        top: 0;
        right: -20px;
    }
    .ralative{
        position: relative;
    }
    .balance-commission{
        position: absolute;
        color: #B2A07E;
        font-size: 14px;
        font-weight: 400;
        width: 120px;
        top: -10px;
        left: 100%;
        margin-left: 15px;
        .price{
            font-size: 20px;
        }
    }
    .notifications-table{
        font-size: 18px;
        width: 100%;
        .notification{
            position: relative;
        }
        .notification:not(.active)::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, rgba(239, 231, 216, 0) -0.76%, #D8CFBE 24.43%, rgba(203, 193, 174, 0.743056) 76.38%, rgba(239, 231, 216, 0) 100%);
        }
        .notification.active{
            background: linear-gradient(90deg, rgba(239, 231, 216, 0) -0.76%, #FFF7E7 24.43%, rgba(255, 245, 227, 0.743056) 76.38%, rgba(239, 231, 216, 0) 100%);
            font-weight: 700;
            .date{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 10px;
                    top: 25px;
                    border-radius: 50%;
                    background: #FF7A00;
                }
            }
        }
        .date{
            padding-left: 30px;
            color: #635C4C;
        }
        td{
            padding: 15px;
        }
        p{
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }
        .polygon-btn{
            --notchSize: 5px;
            background-color: #E0DAC8;
            padding: 2px 10px;
            margin-left: 10px;
            margin-right: 10px;
            align-items: center;
            display: inline-flex;
            i{
                padding-right: 5px;
            }
        }
        .bottom{
            display: flex;
        }
    }
    @media (max-width: 900px){
        .notifications-table .notification{
            td{
                display: block;
                width: 100%;
            }
            .bottom{
                display: block;
            }
        }
        .profile-new__menu ul{
            padding-bottom: 20px;
        }
        .profile-new__menu a{
            position: relative;
        }
        .profile-new__menu a.active:before{
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 8px solid #FFC734;
            border-left: 6px solid #0000;
            border-right: 6px solid #0000;
            left: 50%;
            margin-left: -6px;
            bottom: -20px;
        }
        .profile-new-main .profile-left{
            padding-bottom: 0;
        }
    }
    @media (max-width: 500px){
        .quest-item__status-block p{
            display: none;
        }
        .quest-item .quest-item__status-block img{
            height: 64px;
        }
        .notifications-table{
            font-size: 16px;
        }
        .notifications-table .polygon-btn{
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 5px;
            padding-right: 5px;
            display: inline;
            .rubin svg,
            .rubin img{
                margin-bottom: -7px;
            }
            .vp svg,
            .vp img{
                margin-bottom: -3px;
            }
        }
        .notifications-table span{
            display: inline-flex;
            min-height: 28px;
        }
        .notifications-table .desc{
            margin-bottom: 15px;
            display: inline-block;
        }
        .balance-block{
            display: block;
        }
        .balance-block .balance-block-left,
        .balance-block .balance-block-right{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        .balance-block .balance-block-left{
            border-bottom: 1px solid #e1d7c5;
        }
        .balance-block .polygon-block{
            margin-bottom: 10px;
        }
        .balance-commission{
            position: static;
            width: 100%;
            margin-left: 0;
            margin-top: 5px;
        }
        .polygon-block .polygon-block-padding{
            display: block;
            padding: 15px;
            .vp-balanc-block-right{
                padding-left: 0;
                width: 100%;
            }
            .vp-balanc-block-right + .vp-balanc-block-right{
                display: none;
            }
        }
        .profile-soc__button-item{
            flex-flow: column nowrap;
            position: relative;
            &>button{
                width: 280px;
                min-width: 280px;
            }
        }
        .profile-soc__button-dop.innactive{
            margin-left: 0;
            width: 100%;
        }
        .profile-soc__button-dop:not(.innactive){
            button{
                font-size: 0;
                position: absolute;
                top: 50%;
                right: -40px;
                margin-top: -8px;
                svg{
                    width: 17px !important;
                    height: 17px !important;
                }
            }
        }
    }
}
.profile-new + footer{
    margin-top: 0;
}
.promo-history{
    tr td{
        padding: 10px;
        font-size: 18px;
        font-weight: 400;
        &.date{
            padding-left: 0;
            color: #635C4C;
        }
    }
}
.pagenav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.pagenav-item {
    width: 40px;
    height: 40px;
    margin: 0 3px;
    color: #333;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    background-color: #efe7d8;
    font-weight: 16px;
    --notchSize: 5px;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)) );
}
.pagenav-item:hover {
    background-color: #FFF7E7;
}
.pagenav-item.active {
    background-color: #ff7a00;
    color: #fff;
    font-weight: bold;
}