{{!< body }}
<main class="article bg-common">
  <div class="container">
    <div class="breadcrumbs">
      <a href="../news/news.hbs">&#60;назад к новостям</a>
    </div>
    <div class="article__main-img">
      <div class="news-item">
      <div class="img-wrapper news-img" style="background-image: url(../../assets/img/article/main-img.png)">
        <div class="news-img__center"></div>
        <div class="news-img__left"></div>
        <div class="news-img__left-top"></div>
        <div class="news-img__left-bottom"></div>
        <div class="news-img__right"></div>
        <div class="news-img__right-top"></div>
        <div class="news-img__right-bottom"></div>
      </div>
      </div>
    </div>
    <div class="article__main">
      <h1>все, что нужно знать перед запуском</h1>
      <div class="article__date">22 / 03 / 2022</div>
      <div class="article__description">
        <p>
          Буквально через пару дней, 12 октября, состоится релиз глобальной
          версии корейского мультиплатформенного дьяблоида с очень необычным
          названием Undecember, и дабы подготовиться к этому событию, в данной
          статье мы подробно разберем все, что нужно знать об игре.
        </p>
      </div>
      <ul>
        <li>
          Игра поддерживает 10 языков, включая русский. Качество перевода на
          русский приемлемое, но на мой взгляд, сильно хромает адаптация
          русского текста под различные кнопки \ интерфейс.</li>
        <li>
          Игра создана на движке Unreal Engine 4, так что картинка и анимации
          выглядят весьма приемлемо, не ААА-уровня, но для изометрии вполне
          неплохо.
        </li>
        <li>
          Игра будет доступна на платформах PC, Android, iOS. В случае с
          PC-клиентом разработчики оптимизировали большую часть интерфейса,
          доведя его до приемлемого состояния.
        </li>
        <li>
          Присутствуют элементы автоматизации - использование расходных зелий в
          1 и 2 слотах быстрого доступа, подбор лута, использование способности
          в первом слоте (по умолчанию это ЛКМ), крафт (об этом чуть позже).
        </li>
        <li>
          Присутствует встроенная обширная система фильтров, но, к сожалению,
          они не скрывают названия предметов, а просто не позволяют их
          подобрать.
        </li>
      </ul>
      <p>Также в этом пункте хочу оставить весьма полезную ссылку на официальный
        каталог всех рун. Помимо описания основных эффектов и наглядных
        GIF-примеров, там указан способ получения, и это довольно важный момент
        (дальше поймете почему).</p>
      <div class="article__add">
        <h2>донат</h2>
        <p>На мой взгляд, в магазине стоит купить только особые вкладки склада.
          Во-первых, они позволяют хранить предметы в стаках большего
          количества, то есть если у предмета Х максимальный размер стака 50, в
          особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически
          используются в связанных с ними системах, благодаря этому вам, скажем,
          не придется перетаскивать в инвентарь ресурсы для улучшения
          снаряжения.</p>
      </div>
    </div>
  </div>
</main>