@import "../../styles/variables.scss";

.article {
  padding-top: 3.5em;
  padding-bottom: calc(4.895833vw + 90px);
  @media (max-width: 810px) {
    padding-top: 136px;
    padding-bottom: calc(49px + 90px);
    & .container {
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  & .article__table {
    width: 100%;
    max-width: 880px;
    margin: 128 auto 0;
    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: 34% 28.4% 37.6%;
      column-gap: 10px;
      padding: 0 45px;
      text-decoration: none;
    }
    &-head {
      padding-bottom: 17px;
      border-bottom: 2px solid #584A25;
    }
    &-body {
      font-size: 24px;
      line-height: 130%;
      color: #EBD6A5;
      font-weight: 400;
      padding: 13px 0 29px;
      border-bottom: 2px solid #584A25;
      @media (max-width: 850px) {
        font-size: 16px;
      }
      @media (max-width: 550px) {
        font-size: 12px;
      }
      & .article__table-list {
        padding-top: 13px;
        padding-bottom: 12px;
        &:hover {
          cursor: pointer;
          background: rgba($color: #584A25, $alpha: 0.1);
        }
      }
    }
    &-title {
      font-weight: 400;
    }
    & h2 {
      text-decoration: none;
      text-transform: none;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      color: #EBD6A5;
      @media (max-width: 850px) {
        font-size: 19px;
      }
      @media (max-width: 550px) {
        font-size: 14px;
      }
    }
  }
  &__quote {
    width: 100%;
    max-width: 880px;
    padding: 9.8% 11.36%;
    margin: 95px auto 0;
    position: relative;
    &-quote {
      width: 8.6%;
      height: auto;
      position: absolute;
      transform: translate(-50%, -40%);
      top: 0;
      left: 14.77%;
    }
    &-border {
      &-top, 
      &-bottom,
      &-left,
      &-right {
        position: absolute;
      }
      &-top,
      &-bottom {
        left: 10px;
        right: 10px;
      }
      &-top {
        top: 0;
        &::after, &::before {
          content: '';
          border-top: 1px solid #635C4C;
          position: absolute;
        }
        &::before {
          left: 0;
          width: 7%;
        }
        &::after {
          right: 0;
          width: 79%;
        }
      }
      &-bottom {
       bottom: 0;
       border-bottom: 1px solid #635C4C;
      }
      &-left,
      &-right {
        top: 10px;
        bottom: 10px;
        &::after, &::before {
          content: '';
          position: absolute;
          height: calc(10px * 1.41421356237);
        }
        &::after {
          top: 100%;
        }
        &::before {
          bottom: 100%;
        }
      }
      &-left {
        left: 0;
        border-left: 1px solid #635C4C;
        &::after, &::before {
          left: -1px;
          border-left: 1px solid #635C4C;
        }
        &::after {
          transform: rotate(-45deg);
          transform-origin: left top;
        }
        &::before {
          transform: rotate(45deg);
          transform-origin: left bottom;
        }
      }
      &-right {
        right: 0;
        border-right: 1px solid #635C4C;
        &::before,
        &::after {
          right: -1px;
          border-right: 1px solid #635C4C;
        }
        &::before {
          border-top-right-radius: 30%;
          transform: rotate(-45deg);
          transform-origin: right bottom;
        }
        &::after {
          border-bottom-right-radius: 30%;
          transform: rotate(45deg);
          transform-origin: right top;
        }
      }
    }
    & p {
      font-style: italic;
      font-size: 22px;
      line-height: 130%;
      color: #EBD6A5;
    }
  }
  & .breadcrumbs,
  .article__main {
    width: 100%;
    max-width: 861px;
    margin: 0 auto;
  }
  & .breadcrumbs {
    margin-bottom: 1.5625em;
    @media (max-width: 810px) {
      font-size: 10.24px;
      margin-bottom: 20px;
    }
    & a {
      text-decoration: none;
      color: #ffc734;
      font-weight: 700;
      font-size: 1.5625em;
      line-height: 88.6%;
      text-transform: uppercase;
      color: #ffc734;
      &:hover {
        cursor: pointer;
        color: #ffe6a1;
      }
    }
  }
  &__main-img {
    width: 100%;
    & .news-item .img-wrapper {
      width: 1299px;
      height: 354px;
      background-size: 0;
    }
    & .news-item .news-img {
      &__center {
        background-size: 1299px 354px;
      }
      &__left,
      &__right {
        background-size: 1299px 354px;
        &-top, 
        &-bottom {
          &::after {
            background-size: 1299px 354px;
          }
        }
      }
    }
    @media (max-width: 1300px) {
      & .news-item .img-wrapper {
        width: 94vw;
        height: 27.2307692307692vw;
        background-size: 0;
      }
      & .news-item .news-img {
        &__center {
          background-size: 94vw 27.2307692307692vw;
        }
        &__left,
        &__right {
          background-size: 94vw 27.2307692307692vw;
          &-top, 
          &-bottom {
            &::after {
              background-size: 94vw 27.2307692307692vw;
            }
          }
        }
      }
    }
    @media (max-width: 810px) {
      & .news-item .img-wrapper {
        width: 89.2307692307692vw;
        height: 36.9230769230769vw;
        background-size: 0;
      }
      & .news-item .news-img {
        margin: 0 auto;
        &__center {
          background-size: 89.2307692307692vw 36.9230769230769vw;
        }
        &__left,
        &__right {
          background-size: 89.2307692307692vw 36.9230769230769vw;
          &-top, 
          &-bottom {
            &::after {
              background-size: 89.2307692307692vw 36.9230769230769vw;
            }
          }
        }
      }
    }
  }
  &__main {
    color: $F5E3CC;
    font-size: 1.375rem;
    line-height: 130%;
  }
  &__date {
    margin-top: 0.8em;
    color: #7d7a72;
    @media (max-width: 810px) {
      margin-top: 14px;
    }
  }
  & h1,
  h2 {
    font-weight: 700;
    font-size: 3.625rem;
    line-height: 105.6%;
    text-transform: uppercase;
    max-width: 833px;
    width: 100%;
  }
  & h1 {
    margin-top: 0.8em;
    @media (max-width: 810px) {
      font-size: 30px;
      margin-top: 36px;
    }
  }
  &__description {
    margin-top: 1.5em;
    font-size: 2rem;
    line-height: 130%;
    @media (max-width: 810px) {
      margin-top: 18px;
     font-size: 22px;
    }
  }
  & ul {
    margin: 2.18em 0;
    padding-left: 1.36em;
    & li {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
      &::before{
        content: '';
        display: block;
        position: absolute;
        right: calc(100% + 0.5em);
        top:0.5em;
        transform: translate(-50%, 50%);
        height: 0.2em;
        width: 0.2em;
        border-radius:50%;
        background-color: white;
      }
    }
    @media (max-width: 810px) {
      margin: 45px 0 32px;
    }
  }
  &__add {
    margin-top: 3.45em;
    @media (max-width: 810px) {
      margin-top: 56px;
    }
    & p {
      margin-top: 1.5em;
    }
  }
  & .promo {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 8%;
      width: 70%;
      height: 150px;
      background: #004655;
      filter: blur(103px);
      z-index: 0;
      transform: translateY(-40%);
    }
    &-info {
      position: relative;
      z-index: 35;
      width: auto;
      height: 100%;
      padding: 3.3% 0  2.8% 8.3%;
      @media (max-width: 810px) {
        padding: 38px 0 52px 23px;
      }
      & h2 {
        position: relative;
        z-index: 25;
        font-weight: 700;
        font-size: 43px;
        line-height: 105.6%;
        text-transform: uppercase;
        color: #F5E3CC;
        width: auto;
        & small {
          line-height: 0.9;
          font-size: 28px;
        }
        @media (max-width: 810px) {
          text-transform: none;
          font-weight: 500;
          font-size: 28px;
          line-height: 88.6%;
        }
      }
    }
    &-money {
      display: flex;
      align-items: center;
      margin-top: 21px;
      @media (max-width: 810px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
      }
      & .money {
        pointer-events: none;
        margin-right: 42px;
        font-weight: 700;
        font-size: 32px;
        line-height: 103.6%;
        color: #F5E3CC;
        text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
        & img {
          width: 28px;
          height: 26px;
        }
        @media (max-width: 810px) {
          text-shadow: 0px 5px 6px #000000;
          font-size: 22px;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      & .button-yellow {
        margin: 0;
        font-size: 26px;
        background-color: transparent;
        padding: 0;
        width: 242px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-transform: none;
        font-weight: 500;
        padding-right: 35px;
        & p {
          font-size: inherit;
          font-weight: inherit;
        }
        &::before {
          content: '';
          position: absolute;
          width: 130px;
          height: 87px;
          background-image: url(../../assets/img/article/rubins.png);
          left: 0;
          top: 50%;
          transform: translate(-25%, -50%);
          z-index: 10;
          background-size: contain;
            background-repeat: no-repeat;
        }
        @media (max-width: 810px) {
          width: 146px;
          height: 40px;
          font-size: 21px;
          padding-right: 10px;
          & svg:not(.xs) {
            display: none;
          }
          &::before {
            width: 100px;
            height: 50px;
            
          }
        }
      }
    }
    &-wrapper {
      position: relative;
      margin-top: 70px;
      padding-top: 130px;
      @media (max-width: 810px) {
       margin-top: 12px;
       padding-top: 13px;
       width: 100vw;
       transform: translateX(-50%);
       left: 50%;
      }
    }
    &-man {
      z-index: 20;
      height: 164%;
      width: 50%;
      position: absolute;
      right: 0px;
      bottom: 3px;
      background-size:contain;
      background-position: bottom right;
      background-repeat: no-repeat;
      @media (max-width: 810px) {
        height: 105%;
        width: 50%;
        background-image: url(../../assets/img/promo/promo-man-xs.png);
      }
    }
    position: relative;
    z-index: 19;
    width: 100%;
    height: fit-content;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media (max-width: 810px) {
      width: 100%;
      background-image: url(../../assets/img/promo/promo-bg-xs.png);
    }
  }
}
