<div class="input input-balance shot-raund-radius">
  <div class="shot-raund-radius-border-left">
    <div class="shot-raund-radius-border-left__bg"></div>
  </div>
  <div class="shot-raund-radius-border-right">
    <div class="shot-raund-radius-border-left__bg"></div>
  </div>
  <input type="number" min="500" max="15000" placeholder="{{placeholder}}">
    {{> "button-singin/button-singin" text=label }}
    <label class="only-mobile">{{placeholder}}</label>
</div>
