.input-balance {
  padding: 0.3rem 0 0.3rem 1em;
  position: relative;
  @media (max-width: 1300px) {
    margin-bottom: 70px;
  }
  &.active {
    & .button-singin {
      border-color: #ffc734;
      & .button-singin__text {
        color: black;
      }
      & *, *::after, *::before {
        border-color: #ffc734;
      }
    }
  }
  & input {
    padding-right: 1rem;
    padding-left: 0;
    @media (max-width: 810px) {
      &::placeholder {
        display: none;
        opacity: 0;
      }
    }
  }
  & label {
    position: absolute;
    left: 28px;
    bottom: calc(100% + 3px);
    width: auto;
  }
  & .button-singin {
    background-color: #FFC734;
    color: black;
    box-shadow: none;
    & *,  *::before, *::after{
      box-shadow: none;
    }
    &:hover {
      color: black !important;
      border-color: #F2A000;
      background: #F2A000;
      
      & .shot-raund-radius-border-left,
      & .shot-raund-radius-border-right,
      *::after,
      *::before,
      * {
        border-color: #F2A000;
        background: #F2A000;
      }
    }
    font-weight: 500;
    font-size: 1.375rem;
    padding: 0.4em 1.3em;
    margin: 0 0.3em;
    line-height: 88.6%;
    text-transform: none;
    z-index: 15;
    & * {
      background-color: #FFC734;
    }
    & .button-singin__text {
      padding-top: 0.1em;
    }
  }
  & .shot-raund-radius {
    &-border-left,
    &-border-right {
      width: 7px;
      top: 7px;
      bottom: 7px;
      &::before,
      &::after {
        width: 7;
        height: calc((7px * 1.41421356237) + 3px);
      }
    }
    &-border-left {
      &::before {
        border-top-left-radius: 35%;
      }
      &::after {
        border-bottom-left-radius: 35%;
      }
    }
    &-border-right {
      &::before {
        border-top-right-radius: 35%;
      }
      &::after {
        border-bottom-right-radius: 35%;
      }
    }
    &__wrapper {
      @media (max-width: 1300px) {
        position: absolute;
        transform: translateX(-50%);
        top: calc(100% + 32px);
        left: 50%;
      }
    }
  }
}
