.liderbord {
  background-color: #0e0e12;
  &-main {
    padding-top: 50px;
    position: relative;
    flex: 1;
    @media (max-width: 1000px) {
      padding-top: 30px;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 1230px;
      background: linear-gradient(
        180deg,
        #493624 0%,
        #1e1b1b 52.08%,
        #0e0e12 100%
      );
    }
    &__message {
      margin-top: 70px;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #ffe1c1;
      @media (max-width: 400px) {
        font-size: 18px;
        line-height: 99.6%;
        margin-top: 79px;
      }
      & img.emty-search {
        width: 127.49px;
        height: 127.5px;
        margin-top: 20px;
        @media (max-width: 400px) {
          margin-top: 29px;
        }
      }
    }
  }
  &__dop-info {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1000px) {
      flex-direction: column;
      row-gap: 40px;
    }
    @media (max-width: 400px) {
      row-gap: 23px;
    }
    & p {
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      color: #ffe1c1;
      &:first-child {
        line-height: 1;
      }
      &:last-child {
        font-style: italic;
      }
      @media (max-width: 1000px) {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
      }
      @media (max-width: 400px) {
        font-size: 16px;
        & br {
          display: none;
        }
      }
      & a {
        color: #ffc734;
        text-decoration: underline;
        text-underline-offset: 6px;
        &:hover {
          color: #f2a000;
          cursor: pointer;
        }
      }
    }
  }
  &__nuv {
    padding-top: 37px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1000px) {
      flex-direction: column;
      row-gap: 6px;
    }
    @media (max-width: 400px) {
      padding-top: 28px;
    }
  }
  &__filter {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 48px;
    width: 270px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #ffe6a1;
    padding: 5px 18px;
    @media (max-width: 1000px) {
      width: 100%;
    }
    &.open {
      color: black;
      z-index: 15;
      & .liga-list {
        & svg {
          display: block !important;
          position: relative;
        }
      }
      & > svg path {
        fill: #f5e3cc;
        stroke: #f5e3cc;
      }
      & .liga-list {
        display: block;
      }
      &::before {
        border-color: #f5e3cc;
        background-color: #f5e3cc;
      }
    }
    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      left: 9px;
      right: 9px;
      top: 0;
      height: 100%;
      border-top: 1px solid #635c4c;
      border-bottom: 1px solid #635c4c;
      box-sizing: border-box;
      background-color: #140e13;
    }
    & > .liga-item {
      z-index: 2;
    }
    & .bg {
      position: absolute;
      top: 0;
      width: 9px;
      height: 100%;
      &-left {
        left: 0;
      }
      &-right {
        right: 0;
      }
    }
    & .liga {
      &-list {
        display: none;
        position: absolute;
        top: calc(100% - 5px);
        left: 0;
        width: 100%;
        color: #635c4c;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          bottom: 100%;
          height: 10px;
          background: #f5e3cc;
        }
        & .liga-item {
          padding: 5px 18px 0 18px;
          background: #f5e3cc;
          &.active {
            background-color: #ffefda;
            padding-bottom: 3px;
            color: black;
            & + svg {
              fill: #ffefda;
            }
          }
        }
        &__bottom {
          height: 12px;
          display: flex;
          justify-content: space-between;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            height: 100%;
            top: 0;
            left: 8px;
            right: 8px;
            background-color: #f5e3cc;
          }
        }
        &__bg {
          height: 100%;
          width: 9px;
        }
      }
      &-item {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        gap: 6px;
        & img {
          height: 28px;
          width: 28px;
        }
      }
      &-array {
        position: relative;
        border: 7px solid transparent;
        border-top: 10px solid #ffc734;
        transform: translateY(40%);
        z-index: 2;
      }
    }
  }
  &__search {
    width: 463px;
    height: 48px;
    @media (max-width: 1000px) {
      width: 100%;
    }
    & .input-balance {
      height: 100%;
      padding-left: 9px;
      @media (max-width: 810px) {
        & input::placeholder {
          display: block;
          opacity: 1;
        }
      }
      @media (max-width: 400px) {
        padding-right: 9;
      }
      &:hover,
      &.active {
        & svg {
          & path {
            fill: #ffe6a1;
          }
        }
      }
      &.shot-raund-radius {
        margin: 0 7px;
      }
      & svg {
        position: relative;
        z-index: 11;
        padding-right: 4px;
        @media (max-width: 400px) {
          padding-right: 0;
        }
      }
    }
    & .input:before,
    .input:after {
      width: 0.4em;
    }
  }
}
