<div class="language-select select-wrap">
  <div class="language-select-wrapper">
    <div class="language-select-wrapper-main"></div>
    <div class="language-select-wrapper-left"></div>
    <div class="language-select-wrapper-right"></div>
  </div>
  <div class="language-select__list">
    <div class="language-select__item select-item active">
      {{> 'language/language' text="ru"}}
    </div>
    <div class="language-select__item select-item">
      {{> 'language/language' text="de"}}
    </div>
    <div class="language-select__item select-item">
      {{> 'language/language' text="en"}}
    </div>
  </div>
</div>