<button class="language">
  <svg
    width="22"
    height="22"
    viewBox="0 0 22 22"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M15.87 14C16 13 16 12 16 11C16 10 15.95 9 15.87 8H21.57C22.1433 9.95891 22.1433 12.0411 21.57 14H15.87ZM13.63 6C13 2.09 11.75 0 11 0C10.25 0 9 2.09 8.37 6H13.63ZM8.37 16C8.99 19.91 10.25 22 11 22C11.75 22 13 19.91 13.63 16H8.37ZM13.87 8H8.13C8.05 8.93 8 9.92 8 11C8 12.08 8.05 13.07 8.13 14H13.87C13.95 13.07 14 12.08 14 11C14 9.92 14 8.93 13.87 8ZM6 11C6 10 6 9 6.13 8H0.430005C-0.143335 9.95891 -0.143335 12.0411 0.430005 14H6.13C6.05 13 6 12 6 11ZM6.36 16H1.21C1.89962 17.3431 2.85835 18.5299 4.02651 19.4865C5.19467 20.443 6.54724 21.1488 8 21.56C7.1622 19.8053 6.60863 17.9285 6.36 16ZM15.64 16C15.3914 17.9285 14.8378 19.8053 14 21.56C15.4528 21.1488 16.8053 20.443 17.9735 19.4865C19.1416 18.5299 20.1004 17.3431 20.79 16H15.64ZM15.64 6H20.79C20.1004 4.65687 19.1416 3.47008 17.9735 2.51353C16.8053 1.55698 15.4528 0.851158 14 0.44C14.8378 2.19474 15.3914 4.07148 15.64 6ZM6.36 6C6.60863 4.07148 7.1622 2.19474 8 0.44C6.54724 0.851158 5.19467 1.55698 4.02651 2.51353C2.85835 3.47008 1.89962 4.65687 1.21 6H6.36Z"
      fill="#FFE6A1"
    ></path>
  </svg>
  {{text}}
</button>