.language {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFE6A1;
  font-size: 1em;
  font-weight: 700;
  line-height: 88.6%;
  background-color: transparent;
  & svg {
    margin-right: 9px;
  }
  &:hover {
    cursor: pointer;
    color: #FFC734;
    & svg path {
      fill: #FFC734;
    }
  }
}
