.contacts {
  padding-top: 120px;
  padding-bottom: 160px;
  color: #F5E3CC;
  font-size: 22px;
  & h1 {
    font-size: 33px;
    line-height: 105.6%;
    display: none;
    text-align: center;
    margin-bottom: 23px;
    text-transform: uppercase;
  }
  @media (max-width: 900px) {
    & h1 {
      display: block;
    }
  }
  & .container {
    max-width: 1155px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    
    @media (max-width: 900px) {
      padding: 0 28px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      &::before {
        position: relative;
        content: url(../../assets/img/contacts/title.png);
        width: 338px;
        height: 34px;
        position: absolute;
        transform: translateX(-50%);
        top: -5px;
        left: 50%;
        z-index: 50;
      }
    }
    & .img-wrapper {
      position: relative;
      height: 0;
      padding-bottom: 51.15%;
      width: 100%;
      background-image: url(../../assets/img/contacts/logo.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 900px) {
        background-image: url(../../assets/img/contacts/logo-xs.png);
        padding-bottom: 75%;
        width: 100vw;
        margin-top: 41px;
      }
    }

    & h2 {
      margin-top: 10px;
      font-size: 32px;
      line-height: 105.6%;
      & br {
        display: none;
        @media (max-width: 900px) {
          display: block;
        }
      }
    } 
    & .reg-num {
      color: #7D7A72;
      margin-top: 20px;
      line-height: 130%;
    }
    & .adress {
      line-height: 130%;
      margin-top: 20px;
    }
    & .contact {
      margin-top: 29px;
      line-height: 130%;
      & a {
        font-size: 25px;
        line-height: 88.6%;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        color: #ffe6a1;
        &:hover {
          color: #ffc734;
        }
        & svg {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
        }
        @media (max-width: 900px) {
          background-image: url(../../assets/img/contacts/logo-xs.png);
          width: 342px;
          height: 85px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #333240;
          margin-top: 13px;
          margin-left: -5px;
          &:hover {
            color: #333240;
            & svg path {
              fill: #F2A000;
            }
          }
          & b {
            z-index: 30;
            font-size: 22px;
          }
          & svg {
            display: block;
            z-index: 0;
          }
        }
      }
    }
  }
}