<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-logo">
        <img src="../../assets/img/vintersaga-logo.svg" alt="vintersaga-logo">
      </div>
      <div class="footer-soc__list">
        <a href="#">
          <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.16796 12.3632L8.82058 17.3888C9.31759 17.3888 9.53285 17.1692 9.79098 16.9055L12.1212 14.615L16.9495 18.2519C17.835 18.7595 18.4589 18.4922 18.6978 17.414L21.8671 2.13926L21.868 2.13836C22.1489 0.791963 21.3946 0.265466 20.5319 0.595764L1.90266 7.93163C0.631258 8.43922 0.650508 9.16822 1.68653 9.49852L6.44927 11.0222L17.5122 3.90235C18.0328 3.54775 18.5062 3.74395 18.1168 4.09855L9.16796 12.3632Z" fill="white"/>
          </svg>
        </a>
        <a href="#">
          <svg width="31" height="19" viewBox="0 0 31 19" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M17.2197 18.5C7.22966 18.5 1.17139 11.7365 0.927734 0.5H5.98921C6.14427 8.7545 9.99852 12.2551 12.9446 12.9682V0.5H17.7956V7.62005C20.642 7.31753 23.6213 4.07623 24.6181 0.5H29.3916C28.6274 4.89736 25.3823 8.13865 23.0897 9.46759C25.3823 10.548 29.0704 13.3788 30.4992 18.4892H25.2605C24.1529 15.075 21.4394 12.4172 17.8067 12.0606V18.4892H17.2308L17.2197 18.5Z" fill="white"/>
          </svg>
        </a>
        <a href="#">
          <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.18193 1.99212C5.71161 1.30151 7.35195 0.792677 9.06706 0.501223C9.09828 0.495596 9.1295 0.509663 9.14558 0.537753C9.35656 0.906971 9.59024 1.38859 9.75388 1.76717C11.5986 1.49542 13.4338 1.49542 15.2407 1.76717C15.4043 1.3802 15.6465 0.906971 15.8584 0.537753C15.8745 0.510586 15.9057 0.496518 15.9369 0.501223C17.6511 0.791709 19.2914 1.30054 20.8221 1.99212C20.8353 1.99775 20.8467 2.00711 20.8542 2.01929C23.9656 6.59312 24.818 11.0546 24.3998 15.4606C24.398 15.4822 24.3856 15.5028 24.3686 15.5159C22.3158 16.9993 20.3273 17.8998 18.3757 18.4967C18.3445 18.5061 18.3114 18.4949 18.2916 18.4696C17.8299 17.8492 17.4184 17.1952 17.0656 16.5073C17.0448 16.4671 17.0647 16.4193 17.1072 16.4033C17.7599 16.1597 18.3815 15.8626 18.9794 15.5253C19.0267 15.4981 19.0305 15.4316 18.9869 15.3997C18.8611 15.307 18.7352 15.2104 18.6151 15.113C18.5933 15.0952 18.5631 15.0914 18.5375 15.1026C14.6098 16.8672 10.3575 16.8672 6.47609 15.1026C6.45055 15.0905 6.42027 15.0942 6.39758 15.112C6.27739 15.2095 6.15158 15.3069 6.02483 15.3997C5.98133 15.4315 5.98419 15.4981 6.03144 15.5253C6.62933 15.8692 7.25084 16.1596 7.90452 16.4023C7.94708 16.4183 7.96601 16.467 7.94516 16.5073C7.58473 17.1941 7.17322 17.8482 6.72012 18.4686C6.70119 18.4948 6.66715 18.5061 6.63594 18.4967C4.67492 17.8998 2.68639 16.9992 0.633587 15.5159C0.615587 15.5028 0.604242 15.4831 0.602367 15.4615C0.101929 10.3676 1.44054 5.94274 4.15081 2.02016C4.15737 2.00711 4.16871 1.99775 4.18193 1.99212ZM16.4789 12.7778C17.6615 12.7778 18.6359 11.7096 18.6359 10.3976C18.6359 9.08568 17.6804 8.01746 16.4789 8.01746C15.2681 8.01746 14.3031 9.09509 14.3221 10.3976C14.3221 11.7096 15.2776 12.7778 16.4789 12.7778ZM8.50424 12.7778C9.68671 12.7778 10.6611 11.7096 10.6611 10.3976C10.6611 9.08568 9.70564 8.01746 8.50424 8.01746C7.29336 8.01746 6.32844 9.09509 6.34733 10.3976C6.34733 11.7096 7.29331 12.7778 8.50424 12.7778Z" fill="white"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        {{> "footer-nav/footer-nav"}}
        <p class="min-age">12+</p>
      </div>
      <p class="copyright">©&nbsp;Vintersaga&nbsp;2022</p>
    </div>
  </div>
</footer>
