{{!< body }}
<main class="legal bg-common">
  <div class="container">
    <h1>ПОЛИТИКА<br /> КОНФИДЕНЦИАЛЬНОСТИ</h1>
    <p>Vintersaga (далее — «мы» или «Vintersaga») уважает частную жизнь
      пользователей наших Интернет-сайтов, игр и сервисов (далее —
      «Пользователи» или «вы») и признает важность обеспечения безопасной среды
      для их данных. Мы приняли данную политику конфиденциальности («Политика
      конфиденциальности), объясняющую, как и для чего мы собираем, храним и
      используем ваши персональные данные, которые нам, возможно, приходится
      обрабатывать.</p>

    <p>Vintersaga собирает и обрабатывает личные данные в рамках своей
      деятельности с целью обеспечения продвижения и сбыта своей продукции и
      услуг. Обработка данных осуществляется в соответствии с положениями
      регламента (ЕС) 2016/679 Европейского парламента и Совета ЕС от 27 апреля
      2016 г., применяемого с 25 мая 2018 г. (далее — «RGPD»), Закона № 78-17 от
      6 января 1978 г. и всех прочих действующих нормативных положений.</p>

    <p>Поэтому все определения, приведенные в статье 4 RGPD, применяются и в
      настоящей Политике конфиденциальности.</p>

    <p>Данные «персонального характера», «персональные данные» или «персональная
      информация» — это любая информация, которая позволяет нам
      идентифицировать, прямо или косвенно, физическое лицо, такая, например,
      как фамилия, имя, адрес электронной почты, почтовый адрес, номер телефона,
      учетная запись пользователя или игрока, голос или изображение (на
      фотографии или кадре из видео).</p>

    <p>Компания Vintersaga Games Limited, Диагороу 4, Кермиа Билдинг, 2 этаж,
      Офис 204, 1097, Никосиа, Кипр, является ответственной за обработку ваших
      личных данных в рамках настоящей Политики конфиденциальности.</p>

    <p>Мы осознаем особое обязательство защищать персональную информацию о
      детях. Мы призываем родителей объяснить детям, что ни при каких
      обстоятельствах они не должны раскрывать в Интернете свои реальные имена,
      адреса или номера телефонов без разрешения.</p>

    <p>После того как ребенок указывает, что не достиг 16 лет, он не может
      зарегистрировать у нас учетную запись. Мы сознательно не собираем и не
      храним никакую персональную информацию от детей младше 16 лет. Если
      родители считают, что мы непреднамеренно собрали персональную информацию
      их детей, они могут потребовать удаления такой информации, связавшись с
      нами по адресу
      <a href="mailto:game@vintersaga.com">game@vintersaga.com</a></p>

    <p>Пользуясь играми, веб-сайтами или онлайн сервисами компании Vinersaga
      (далее вместе «Услуги»), вы уполномочиваете все компании нашей группы
      (аффилированные компании, акционеров и филиалы), а также, среди прочих,
      компанию Vintersaga Games Limited, обрабатывать ваши персональные данные в
      соответствии с настоящей Политикой конфиденциальности и подтверждаете, что
      вы старше 16 лет.</p>

    <h2>1. КОГДА СОБИРАЮТСЯ ВАШИ ПЕРСОНАЛЬНЫЕ ДАННЫЕ?</h2>

    <p>Компания Vintersaga Games Limited собирает и обрабатывает ваши
      персональные данные, когда вы пользуетесь этими Услугами, или, когда вы
      взаимодействуете с компанией Vintersaga Games Limited.</p>

    <p>Это может происходить тремя способами: (1) вы добровольно передаете нам
      свои данные, контактируя с нами; (2) мы автоматически собираем информацию,
      когда вы пользуетесь Услугами (например, посредством файлов «куки» и наших
      игр); и (3) третьи стороны, такие как игровые платформы, также могут
      предоставлять нам информацию о вас.</p>

    <p>Ниже приведены ситуации, в которых собираются персональные данные
      (перечень не является исчерпывающим):</p>

    <ul class="list-style-point">
      <li>вы пользуетесь нашими Услугами;</li>
      <li>вы обращаетесь к Vintersaga Games Limited по какой-либо причине / с
        каким-либо вопросом, в частности, за технической поддержкой наших
        сервисов или в службу клиентов;</li>

      <li>вы совершаете покупку посредством наших Услуг (например, покупка
        онлайн на нашем сайте), когда создаете счет клиента для сайта;</li>

      <li>вы запрашиваете или соглашаетесь получать информацию и предложения о
        наших Услугах (например, рассылку новостей или пресс-контент для
        профессионального использования, или вы хотите получать уведомление на
        электронную почту);</li>

      <li>вы участвуете в конкурсах, лотереях (розыгрыш, жеребьевка, случайная
        выборка);</li>

      <li>вы размещаете контент или информацию в наших средствах информации при
        специальных или рекламных кампаниях, или в социальных сетях.</li>
      <li>вы претендуете на должность или желаете пройти стажировку. Если вы
        подаете заявление о приеме на работу или стажировке через специальные
        страницы на нашем сайте, сбор ваших данных также регулируется политикой
        конфиденциальности нашего партнера.</li>
    </ul>
    <p>Мы собираем, используем, передаем, храним и обрабатываем ваши
      персональные данные исключительно в соответствии с действующими
      положениями законодательства.</p>

    <p>При сборе данных мы информируем вас, являются ли данные обязательными или
      необязательными для внесения. Данные, обозначенные в формуляре звездочкой,
      являются обязательными. В случае невнесения обработка вашего запроса будет
      ограниченной.</p>
    <div class="personal-data">
      <h2>2. КАКИЕ ПЕРСОНАЛЬНЫЕ ДАННЫЕ СОБИРАЮТСЯ?</h2>
      <h3>2.1 Данные, собираемые пассивным образом, когда вы пользуетесь нашими
        Услугами</h3>
      <p>Во время навигации по сайту или пользования нашими Услугами могут
        автоматически собираться определенные данные, например, IP-адрес, дату и
        время соединения, действия на веб-сайте, взаимодействие с веб-сайтом
        (просмотренные страницы и т.п.), предпочтения (язык). Мы (или наши
        партнеры) можем использовать файлы «куки» и другие подобные технологии
        для сбора определенных данных.</p>

      <p>Также при просматривании наших Сервисов на компьютер, планшет, телефон
        или любой терминал, используемый Пользователем, могут загружаться файлы
        «куки». Это позволяет проанализировать частоту посещения страниц или
        контента, а также улучшить наши Услуги. Куки-файлы часто используются в
        зависимости от их характера и в целях, указанных ниже.</p>

      <p>Пользователь может согласиться или отказаться от куки-файлов при помощи
        механизма, интегрированного в баннер, или нижеописанных инструментов.</p>
      <h4>Что такое куки-файлы?</h4>
      <p>Файлы «куки» (далее «Куки») — текстовые файлы, записывающиеся на
        терминал при посещении веб-сайта или просматривании рекламы. В
        частности, целью Куки является сбор информации о навигации Пользователя
        по веб-сайту для анализа и отправления Пользователю персонализированных
        сервисов и контента.</p>
      <h4>Идентификация Куки</h4>
      <p>В целом, существует несколько типов Куки:</p>
      <ul>
        <li>
          <p>
            <i>a. Куки третьих лиц и «собственные» Куки</i>
            Куки называется «собственным» или «третьего лица» в зависимости от
            домена его происхождения. «Собственные» Куки установлены на
            вебсайте, который в настоящее время просматривает Пользователь. Куки
            «третьих лиц» установлены иным доменом, который не является доменом
            сайта (например, куки может быть размещен на сайте рекламным отделом
            третьей стороны). Когда Пользователь просматривает указанный сайт, а
            другая организация устанавливает Куки при посредничестве указанного
            сайта, этот Куки является Куки третьего лица».
          </p>
        </li>
        <li>
          <p>
            <i>b. Куки сессии</i>
            Такие Куки позволяют владельцам вебсайта следить за действиями
            Пользователя во время сессии навигации. Сессия навигации начинается,
            как только Пользователь открывает окно браузера, и заканчивается,
            когда он закрывает это окно. Куки сессии имеют временный характер.
            Как только браузер закрыт, все Куки сессии удаляются.
          </p>
        </li>
        <li>
          <p>
            <i>c. Постоянные Куки</i>
            Такие Куки остаются на устройстве Пользователя после закрытия сессии
            его браузера в течение периода времени, предусмотренного для каждого
            из этих Куки. Они активируются каждый раз, как Пользователь
            просматривает сайт.
          </p>
        </li>
      </ul>
      <h4>Какие типы Кук использует компания Vintersaga Games Limited и в каких
        целях?</h4>
      <p>Для наших Услуг используются различные Куки, у них различные цели.
        Некоторые необходимы для пользования нашими Услугами, другие имеют
        опциональный характер, на усмотрение Пользователя.</p>
      <ul>
        <li>
          <p>
            <i>a. Строго необходимые технические Куки</i>
            Такие Куки необходимы для работы наших Услуг. Они позволяют
            Пользователю использовать основные функции наших Услуг. Без таких
            Куки Пользователь не может нормально пользоваться нашими Услугами.
            Они требуют только информации о Пользователе, чтобы установиться на
            его терминал, и не разрешают никакого поведенческого слежения или
            идентификации.
          </p>
        </li>
        <li>
          <p>
            <i>b. Функциональные Куки персонализации</i>
            Такие Куки позволяют персонализировать опыт Пользователя в наших
            Услугах путем запоминания его предпочтений. В частности, они
            позволяют:
          </p>
          <ul class="list-style-point">
            <li>адаптировать представление Услуги к предпочтительным
              отображениям устройства (используемый язык, разрешение
              изображения, используемая операционная система и т.д.) при
              посещениях Пользователя нашей Услуги в зависимости от оборудования
              и браузеров,</li>
            <li>запомнить сведения из заполненных Пользователем форм на Услуге
              или сведения, которые Пользователь выбрал на Услуге;</li>
            <li>предложить Пользователю доступ к его личному кабинету в нашем
              магазине или к любому иному кабинету, зарегистрированному на его
              учетные данные;</li>
            <li>применять меры безопасности, например, когда Пользователя просят
              заново войти в систему для получения контента или Услуги по
              прошествии определенного периода времени.</li>
          </ul>
        </li>
        <li>
          <p>
            <i>c. Куки для оценки аудитории</i>
            Vintersaga Games Limited использует Куки для оценки аудитории,
            которые помогают вести статистику посещаемости и пользования
            различными компонентами Услуг (посещенные разделы и контент, история
            просмотров). Они позволяют Vintersaga Games Limited повысить интерес
            и эргономию своих Услуг.</p>

          <p>Vintersaga Games Limited использует Куки для оценки аудитории
            (Google Analytics).</p>

          <p>Полученные данные могут быть переданы за пределы ЕС по технологии
            Google Analytics.</p>
        </li>
        <li>
          <p>
            <i>d. Рекламные Куки</i>
            Рекламные Куки позволяют определить какую рекламу показывать в
            зависимости от навигации Пользователя на вебсайте, в частности,
            чтобы ограничить количество рекламы, измерить эффективность
            рекламной кампании или адаптировать рекламу в зависимости от
            предпочтений Пользователя, если Пользователь предварительно
            согласился с такой возможностью.
          </p>
        </li>
        <li>
          <p>
            <i>e. Куки поведенческого анализа</i>
            Куки поведенческого анализа позволяют определить, какая информация
            на сайте может больше всего заинтересовать Пользователя, улучшить
            навигацию и сделать ее более интересной, а также повысить
            актуальность сообщений, возможно отправляемых Пользователю, если он
            предварительно согласился с такой возможностью.
          </p>
        </li>
      </ul>
      <h4>Как Пользователь может управлять Куки-файлами?</h4>
      <p>При первом входе Пользователь информируется, что партнеры Vintersaga
        Games Limited и любое иное идентифицированное третье лицо могут
        устанавливать Куки через наш Сервис. Только владелец Куки может читать
        содержащуюся в них информацию, компания Vintersaga Games Limited не
        имеет никакого доступа к Куки, которые могут использовать третьи лица.
        Передача и использование Куки производятся в соответствии с политикой
        конфиденциальности этих третьих лиц наряду с положениями настоящей
        статьи 2.1.A.</p>
      <h4>Как Пользователь может управлять установкой Куки</h4>
      <p>Пользователь может управлять установкой Куки следующим образом:</p>
      <ul class="list-style-points">
        <li>Установка строго необходимых технических Куки активируется по
          умолчанию и не может быть отключена Пользователем, эти Куки необходимы
          для работы Сервиса,</li>
        <li>Пользователь отключает или активирует установку файлов Куки, которые
          требуют получения его согласия (Куки оценки аудитории и т. д.) на
          информационном баннере (кнопка «Предпочтения» или
          «Персонализировать»). Любое отключение является отказом Пользователя
          от установки таких Куки.</li>
        <li>В зависимости от навигации, то есть, если Пользователь кликнул на
          элемент Сервиса (изображение, ссылка…) или перешел на другую страницу
          Сервиса, Пользователь подтверждает установку Куки в зависимости от
          предложенной настройки параметра по умолчанию.</li>
      </ul>
      <p>Если Пользователь отключает регистрацию Куки на своем устройстве или
        браузере, или удаляет уже зарегистрированные, он информируется, что его
        навигация и опыт на Сервисе могут отличаться от других Пользователей,
        которые активировали Куки (неперсонализированный контент). Это также
        возможно, если компания Vintersaga Games Limited или один из ее
        поставщиков не может распознать по причине технической совместимости тип
        браузера, который использует устройство, параметры языка и отображения,
        или страну, из которой устройство входит в Интернет. Если необходимо,
        компания Vintersaga Games Limited не несет никакой ответственности за
        последствия, связанные с неправильной работой Сервиса вследствие отказа
        Пользователя от Куки.</p>
      <p>При использовании наших игр или Сервисов онлайн (или наши поставщики
        услуг) можем собирать, хранить и обрабатывать, среди прочего, следующую
        информацию для статистических целей: данные о конфигурации вашего
        аппаратного и программного обеспечения (например, при установке игры и
        изменении аппаратного обеспечения вашего компьютера), ваш IP-адрес,
        идентификаторы устройств, данные об игре или использовании, включая,
        помимо прочего, ваш счет, статистику игры, производительность, рейтинг,
        время пребывания, время игры, совершенные действия и другие
        статистические данные об использовании или аналогичную информацию.</p>
      <p>Мы (или наши поставщики услуг) также можем собирать, хранить и
        использовать анонимные данные о вас.</p>
      <p>Определенная информация (например, IP-адрес и идентификатор
        пользователя) может собираться компанией Vintersaga Games Limited или ее
        поставщиками услуг с целью аутентификации программных продуктов и
        предотвращения мошенничества и пиратства, а также чтобы помочь нам
        обнаружить и исправить ошибки и баги в наших играх.</p>
      <h3>2.2 Данные, которые вы решили предоставить во время пользования нашими<br
        />
        Услугами или при специальных или рекламных кампаниях</h3>
      <p>Мы можем запрашивать у вас различную информацию для ответа на вопросы,
        когда вы, например, связываетесь с нами по электронной почте или через
        страницу «Контакты» нашего сайта, или когда вы обращаетесь в нашу Службу
        технической поддержки наших Услуг или Клиентскую службу нашего магазина.</p>

      <p>Когда вы делаете покупку посредством наших Услуг, вы можете создать
        учетную запись клиента и сообщить при покупке ваши контактные данные, а
        также данные вашей платежной карты, необходимые для завершения покупки.
        Данные операции сохраняются нашим сторонним поставщиком услуг.</p>

      <p>Вы можете управлять вашими персональными данными из вашей клиентской
        учетной записи.</p>

      <p>Если вы дали свое согласие, мы можем отправлять вам информацию,
        коммерческие предложения и рекламу, относящуюся к нашим играм и другим
        нашим услугам. Вы можете отписаться от рассылки в любой момент.</p>

      <p>Для участия в конкурсах и розыгрышах, возможно, вам потребуется
        предоставить определенные персональные данные, такие как имя, фамилия,
        адрес электронной почты, дата рождения, адрес и страна проживания. Эти
        данные используются лишь для участия в этих мероприятиях.</p>

      <p>Когда вы подаете заявление о трудоустройстве или стажировке, собранные
        данные используются для рассмотрения вашей кандидатуры.</p>

      <p>Когда вы участвуете в одной из наших специальных или рекламных
        кампаний, мы можем обрабатывать персональные данные, которые вы
        согласились нам предоставить (ваши видео отзывы, например).</p>
      <h3>2.3 Данные, получаемые нами от третьих лиц</h3>
      <p>Мы можем получать информацию о вас от третьих лиц (социальные сети,
        игровые платформы, сайты третьих лиц...). Эти третьи лица могут,
        например, предложить поделиться с нами некоторыми из ваших данных
        (например, адрес электронной почты для получения определенных сообщений
        и предложений, связанных с нашими играми или продуктами) и предоставить
        нам информацию, как например, ваше имя пользователя, учетная запись
        пользователя, ваш псевдоним для работы, наших Сервисов, для улучшения
        вашего игрового процесса (игровой процесс) или в статистических целях и
        для предотвращения мошенничества и пиратства. Вы разрешаете нам
        собирать, хранить и использовать информацию, которую вы согласились
        предоставить через третью сторону, о которой идет речь.</p>

      <p>Эти платформы/системы управляются третьими лицами и не находятся под
        нашим контролем. Поэтому мы предлагаем вам внимательно прочесть их
        условия пользования и правила защиты персональных данных, чтобы
        понимать, как эти третьи стороны обрабатывают ваши данные и данные,
        которые они могут нам передавать. Компания Vintersaga Games Limited не
        может гарантировать соблюдения этими третьими сторонами нашей политики
        защиты персональных данных и действующих нормативных актов.</p>

      <p>Мы обрабатываем данные, полученные от этих третьих сторон, в
        соответствии с настоящей Политикой конфиденциальности.</p>
    </div>
  </div>
</main>