<div class="footer-nav">
  {{> "link/link" text="Пользовательское соглашение" link="#"}}
  {{> "link/link" text="Политика конфиденциальности" link="#"}}
  {{> "link/link" text="Поддержка" link="#"}}
   <p class="copyright">©&nbsp;Vintersaga&nbsp;2022</p>
</div>