.footer-nav {
  & .link {
    font-size: 1.25em;
    line-height: 168.5%;
  }
  & .link:not(:last-child) {
    margin-right: 2.75em;
  }
  & .copyright {
    display: none;
  }
  @media (max-width: 810px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: left;
    & > :nth-child(1) {
      order: 0;
    }
    & > :nth-child(2) {
      order: 2;
    }
    & > :nth-child(3) {
      order: 1;
      text-align: right;
    }
    & > :nth-child(4) {
      order: 3;
    }
    & > .link:not(:last-child) {
      margin-right: 0;
    }
    & .copyright {
      display: inline;
      text-align: right;
    }
  }
}
