<div class="choose-region select-wrap">
  <div class="choose-region-left"></div>
  <div class="choose-region-right"></div>
  <div class="choose-region-content">
    <div class="choose-region__name">Ваш регион</div>
    <div class="choose-region__select select-list">
      <div class="choose-region__option select-item active">Ru</div>
      <div class="choose-region__option select-item">World</div>
    </div>
    <button class="choose-region__button select-btn"></button>
  </div>
</div>