---
auth: 'true'
---

{{!< body }}
<main class="bg-common profile">
  <div class="container">
    <div class="profile__head only-desktop-flex">
      <svg class="profile__head-border" width="1293" height="9" viewBox="0 0 1293 9" fill="none" preserveAspectRatio="none"  xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1279.29 5.73962L14.1435 5.73959V3.61459L1279.29 3.61462V5.73962Z" fill="#635C4C"/>
        <path d="M12 8.92709L0.798828 4.46352L12 -4.57764e-05L16.33 4.46352L12 8.92709Z" fill="#635C4C"/>
        <path d="M1281.8 8.92712L1293 4.46356L1281.8 -1.62125e-05L1277.47 4.46356L1281.8 8.92712Z" fill="#635C4C"/>
      </svg>
      <div class="profile__avatar">
        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
      </div>
      <div class="flex-1">
        <div class="user-info">
          <h1>Личный кабинет</h1>
          <div class="user-info__name">
            <p>Mellosa morgenstern</p>
            <button>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.64576 2.83988L0.942759 10.5515C0.904005 10.5904 0.876023 10.6396 0.862697 10.6924L0.00889326 14.1229C-0.0166465 14.2262 0.0136681 14.336 0.0889547 14.4114C0.145919 14.4684 0.223538 14.5 0.302933 14.5C0.327251 14.5 0.352125 14.497 0.376332 14.4909L3.80332 13.6361C3.85673 13.6227 3.90526 13.5948 3.94401 13.556L11.6477 5.84495L8.64576 2.83988Z" fill="#635C4C"/>
                <path d="M13.5561 1.78843L12.6986 0.93006C12.1255 0.356369 11.1267 0.356925 10.5542 0.93006L9.5039 1.98151L12.5057 4.98647L13.5561 3.93502C13.8423 3.64856 14 3.26729 14 2.86178C14 2.45627 13.8423 2.075 13.5561 1.78843Z" fill="#635C4C"/>
              </svg>
            </button>
          </div>
          <div class="user-info__id"><p><span>id</span> 1364622</p></div>
        </div>
        <div class="switch-block">
          <a class="switch-block__button" href="../profile/profile.hbs">Общее</a>
          <a class="switch-block__button active" href="../profile/profile-balance.hbs">Баланс</a>
        </div>
      </div>
    </div>
    <div class="profile__head  only-mobile">
      <svg  class="profile__head-border" width="340" height="10" viewBox="0 0 340 10" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M325.571 6.27612L14.0666 6.27612V4.15112L325.571 4.15112V6.27612Z" fill="#635C4C"/>
        <path d="M11.9232 9.46362L0.721952 5.00005L11.9232 0.536477L16.2531 5.00005L11.9232 9.46362Z" fill="#635C4C"/>
        <path d="M328.077 9.46362L339.278 5.00005L328.077 0.536484L323.747 5.00005L328.077 9.46362Z" fill="#635C4C"/>
      </svg>
      <div class="flex-1">
      <div class="profile__avatar">
        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
        <div class="level-block">
          <img src="../../assets/img/profile/level-block.svg" alt="">
          <div class="level-block__content">
            <span>Уровень</span>
            <p>
              11
            </p>
          </div>
        </div>
         {{> "money/money" count="9999"}}
      </div>
        <div class="user-info">
          <h1>Личный кабинет</h1>
          <div class="user-info__name">
            <p>Mellosa morgenstern</p>
            <button>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.64576 2.83988L0.942759 10.5515C0.904005 10.5904 0.876023 10.6396 0.862697 10.6924L0.00889326 14.1229C-0.0166465 14.2262 0.0136681 14.336 0.0889547 14.4114C0.145919 14.4684 0.223538 14.5 0.302933 14.5C0.327251 14.5 0.352125 14.497 0.376332 14.4909L3.80332 13.6361C3.85673 13.6227 3.90526 13.5948 3.94401 13.556L11.6477 5.84495L8.64576 2.83988Z" fill="#635C4C"/>
                <path d="M13.5561 1.78843L12.6986 0.93006C12.1255 0.356369 11.1267 0.356925 10.5542 0.93006L9.5039 1.98151L12.5057 4.98647L13.5561 3.93502C13.8423 3.64856 14 3.26729 14 2.86178C14 2.45627 13.8423 2.075 13.5561 1.78843Z" fill="#635C4C"/>
              </svg>
            </button>
          </div>
          <div class="user-info__id"><p><span>id</span> 1364622</p></div>
           <div class="profile__general-text">
            <p>Произведенные платежи и текущий баланс средств
  на счету вашей учетной записи Vintersaga</p>
          </div>
        </div>
      </div>
        <div class="switch-block">
          <a class="switch-block__button active" href="../profile/profile.hbs">Общее</a>
          <a class="switch-block__button" href="../profile/profile-balance.hbs">Баланс</a>
        </div>
    </div>
    <div class="profile__general profile__general-balance">
       <div class="profile__avatar only-desktop-flex">
        <div class="level-block">
          <img src="../../assets/img/profile/level-block.svg" alt="">
          <div class="level-block__content">
            <span>Уровень</span>
            <p>
              11
            </p>
          </div>
        </div>
         {{> "money/money" count="9999"}}
      </div>
      <div class="flex-1">
        <h2 class="only-desktop">Вывод средств</h2>
        <div class="profile__general-input-block">
          {{> "input-balance/input-balance" label="Вывести" placeholder="Сумма от 500 до 15 000"}}
          <div class="profile__general-text only-desktop">
            <p>Произведенные платежи и текущий баланс средств
  на счету вашей учетной записи Vintersaga</p>
          </div>
        </div>
        <div class="history-balance">
          <div class="history-balance__name-block">
            <h2>История платежей</h2>
            <div class="history-balance__nav select-switcher only-desktop">
              <button id="all" class="active">Все</button>
              <button id="in" >Входящие</button>
              <button id="out" >Исходящие</button>
            </div>
          </div>
          <div class="history-balance__list select-list">
            {{> "balance-item/balance-item" itemDate="12 . 02 . 22" summ="9999" type="out"  desription="вывод на карту ***4578"}}
            {{> "balance-item/balance-item" itemDate="12 . 02 . 22" summ="106" type="in" desription="Награда за победу в турнире Железного Молота."}}
            {{> "balance-item/balance-item" itemDate="12 . 02 . 22" summ="2060" type="out" desription="вывод на карту ***4578"}}
            {{> "balance-item/balance-item" itemDate="12 . 02 . 22" summ="1520" type="in" desription='Бонус "Приведи друга" за достижения пользователя ID 1987289: произведено 60 кусков кожи'}}
            {{> "balance-item/balance-item" itemDate="12 . 02 . 22" summ="1000" type="out" desription="вывод на карту ***4578"}}
          </div>
        </div>
         <svg class="profile__general-border only-mobile" width="176" height="34" viewBox="0 0 176 34" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.2">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M64.1854 3.1875H13.8446V5.3125H64.1854V3.1875Z" fill="#635C4C"/>
          <path d="M11.7012 0L0.5 4.46357L11.7012 8.92714L16.0311 4.46357L11.7012 0Z" fill="#635C4C"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M111.815 3.1875H162.155V5.3125H111.815V3.1875Z" fill="#635C4C"/>
          <path d="M164.299 0L175.5 4.46357L164.299 8.92714L159.969 4.46357L164.299 0Z" fill="#635C4C"/>
          <path d="M112.473 4.11765C112.53 4.13973 112.588 4.16286 112.647 4.18599C116.201 5.6411 116.47 11.5109 115.209 13.3298C113.948 15.1487 112.607 16.0329 110.976 15.257C109.344 14.4811 107.227 10.9211 109.557 8.64488L110.955 9.46075C110.955 9.46075 108.761 11.2071 110.043 12.904C111.325 14.602 113.895 12.6664 114.186 9.02758C114.477 5.38877 110.309 4.21964 107.54 6.72297C106.654 7.52412 105.564 9.74567 104.258 12.0829C105.992 13.824 106.91 16.4692 105.787 19.1702C105.565 19.7022 105.332 20.2037 105.087 20.6768C106.536 20.6011 107.731 20.3173 107.958 20.0408C108.306 19.6139 108.191 19.3132 107.958 18.8885C108.955 18.9053 109.657 19.2995 109.619 20.4245C111.538 19.615 112.57 20.3026 112.573 21.1931C112.576 22.0836 112.089 22.2003 112.089 22.2003C112.089 22.2003 111.197 21.4612 110.846 21.827C110.444 22.2455 109.72 22.1183 109.72 22.1183C109.72 22.1183 110.37 22.9331 109.434 23.4977C109.138 22.4905 107.947 21.7408 104.355 21.9448C102.457 24.8697 99.8978 26.2565 96.3287 25.8023C96.1609 25.7813 95.9901 25.755 95.8183 25.7256C95.8051 25.7508 95.791 25.776 95.7748 25.8023C95.7657 25.8202 95.7566 25.8391 95.7475 25.857C95.5595 26.962 95.5656 27.8977 95.9598 28.682C97.3607 31.4724 98.983 29.5399 100.206 30.4105C100.206 30.4105 95.8294 32.8907 94.6721 29.193C94.6074 28.9869 94.5578 28.7788 94.5184 28.5674C93.1256 31.6974 91.5285 34.6696 87.6542 33.8674C82.7085 32.8423 82.5447 29.4159 83.2755 27.3089C83.6303 26.287 84.8594 24.7898 87.4693 25.0337C89.7627 25.2482 90.7027 26.4037 90.4268 27.6611C90.1306 29.0111 89.1229 28.9396 88.1637 29.03C87.2671 29.1141 87.0943 30.2528 87.8968 30.3642C87.4723 30.6586 86.3958 30.217 86.4595 29.5736C86.5232 28.9302 87.1215 28.2899 87.8392 28.2993C89.3089 28.3172 89.9194 27.0419 88.2081 26.3795C86.231 25.6131 84.2499 26.8537 84.1468 29.0679C84.0447 31.2705 87.5279 33.655 90.2954 32.3419C92.8941 31.1086 93.7593 27.3384 94.3678 25.3902C90.1549 24.1695 85.4871 20.6747 85.8075 14.6661C86.0087 10.9064 87.2732 7.96149 89.9366 5.92602C88.5478 5.22896 87.3833 4.89988 87.0387 4.85046C86.0532 4.71168 85.3274 4.3048 84.9868 3.8075C84.6462 3.3102 85.1323 1.59225 85.9915 1.41667C85.5427 2.99373 87.0781 3.24396 87.3894 3.30809C88.2172 3.47736 89.7627 4.02513 91.4113 4.97032C93.5642 3.79068 96.3974 3.04315 100.021 2.76138C103.746 2.4712 105.477 3.58671 108.094 3.4616C110.524 3.34489 115.178 1.95182 117.373 2.57003C120.978 3.58355 120.855 5.12067 121.434 6.79446C118.707 3.63402 115.665 3.59617 112.472 4.11871L112.473 4.11765ZM103.516 20.6737C103.641 20.4455 103.758 20.2069 103.868 19.9556C105.362 16.5197 104.803 14.5137 103.516 13.3803C102.234 15.5409 100.765 17.5942 99.0993 18.5068C99.5945 19.9787 101.558 20.5549 103.516 20.6747V20.6737ZM97.6215 17.1505C98.7566 16.8519 100.207 15.7185 102.241 12.5991C101.171 12.1502 99.9493 12.0198 98.9699 12.0419C98.4675 12.0534 97.9753 12.0955 97.5042 12.1691C97.6205 12.6632 97.6963 13.1784 97.7206 13.7157C97.7772 14.9342 97.7317 16.0781 97.6215 17.1516V17.1505ZM102.673 21.928C100.321 21.641 98.886 20.2311 97.3112 19.2995C96.9534 21.2299 96.449 22.8963 96.0851 24.3293C98.5211 24.6321 100.975 23.9792 102.673 21.928ZM96.2054 14.1772C96.1619 13.6095 96.0659 13.0722 95.9305 12.5644C95.2795 12.8031 94.7125 13.1248 94.2677 13.5359C93.8452 14.9689 94.294 16.4608 95.5059 16.9108C95.7303 16.9939 95.9638 17.079 96.2115 17.1421C96.2782 16.2032 96.2862 15.217 96.2054 14.1783V14.1772ZM89.131 20.4266C90.4945 22.1908 92.6313 23.5397 94.8975 24.1075C95.2684 22.4968 95.7647 20.7136 96.0457 18.7034C96.0305 18.6981 96.0164 18.6929 96.0012 18.6876C94.3648 18.1546 93.5723 16.7268 93.2196 15.8006C92.9659 17.7288 92.9234 18.0789 92.2977 18.4038C91.6337 18.7497 90.6855 18.1704 90.4591 17.1495C92.8041 17.9243 91.6326 15.1813 92.5656 13.3635C93.1225 12.2784 93.8331 11.43 95.2674 10.8507C94.3617 9.09172 92.9376 7.7817 91.5215 6.84177C87.6795 9.26625 85.76 16.0644 89.131 20.4256V20.4266ZM93.0407 6.02485C94.5588 7.13406 95.9931 8.58285 96.8664 10.3849C97.5659 10.2398 98.3806 10.1315 99.3388 10.0611C100.641 9.96541 101.985 10.386 103.139 11.1608C105.026 8.10973 106.461 6.09109 107.796 4.93773C103.266 5.30886 99.3378 2.98427 93.0396 6.0238L93.0407 6.02485ZM100.089 30.5482C100.123 30.5083 100.152 30.4736 100.174 30.4494C100.143 30.4841 100.115 30.5177 100.089 30.5482ZM99.8604 30.8132C99.8957 30.7722 99.9372 30.7238 99.9877 30.6649C99.9433 30.7164 99.9008 30.7659 99.8604 30.8132ZM99.8604 30.8132C99.8442 30.8321 99.828 30.85 99.8149 30.8657L99.8604 30.8132Z" fill="#635C4C"/>
          <path d="M61.6832 4.11766C61.6256 4.13974 61.568 4.16287 61.5093 4.186C57.9555 5.6411 57.6856 11.5109 58.947 13.3298C60.2085 15.1487 61.5488 16.0329 63.1802 15.257C64.8116 14.4811 66.9291 10.9211 64.5993 8.64489L63.2014 9.46076C63.2014 9.46076 65.3948 11.2071 64.1131 12.904C62.8314 14.602 60.261 12.6664 59.9699 9.02759C59.6788 5.38877 63.8473 4.21964 66.6158 6.72297C67.5023 7.52412 68.5919 9.74568 69.8978 12.0829C68.1643 13.824 67.2465 16.4692 68.3695 19.1702C68.5909 19.7022 68.8243 20.2037 69.069 20.6768C67.6205 20.6011 66.4248 20.3173 66.1983 20.0408C65.8496 19.6139 65.9649 19.3132 66.1983 18.8885C65.2007 18.9053 64.4992 19.2995 64.5366 20.4245C62.6182 19.615 61.5862 20.3026 61.5831 21.1931C61.5801 22.0836 62.0673 22.2003 62.0673 22.2003C62.0673 22.2003 62.9588 21.4612 63.3095 21.827C63.7118 22.2455 64.4356 22.1183 64.4356 22.1183C64.4356 22.1183 63.7856 22.9331 64.7216 23.4977C65.0178 22.4905 66.2095 21.7408 69.8008 21.9448C71.699 24.8697 74.2583 26.2565 77.8273 25.8023C77.9951 25.7813 78.1659 25.755 78.3378 25.7256C78.3509 25.7508 78.3651 25.776 78.3812 25.8023C78.3903 25.8202 78.3994 25.8391 78.4085 25.857C78.5965 26.962 78.5905 27.8977 78.1963 28.682C76.7953 31.4724 75.173 29.5399 73.95 30.4105C73.95 30.4105 78.3267 32.8907 79.484 29.193C79.5487 28.9869 79.5982 28.7788 79.6376 28.5674C81.0305 31.6974 82.6275 34.6696 86.5018 33.8674C91.4475 32.8423 91.6113 29.4159 90.8805 27.3089C90.5257 26.287 89.2966 24.7898 86.6868 25.0338C84.3933 25.2482 83.4533 26.4037 83.7293 27.6611C84.0254 29.0111 85.0332 28.9396 85.9924 29.03C86.8889 29.1141 87.0618 30.2528 86.2592 30.3642C86.6838 30.6586 87.7602 30.217 87.6966 29.5736C87.6329 28.9302 87.0345 28.2899 86.3168 28.2993C84.8472 28.3172 84.2367 27.0419 85.9479 26.3795C87.925 25.6131 89.9061 26.8537 90.0092 29.0679C90.1113 31.2705 86.6282 33.655 83.8607 32.3419C81.2619 31.1086 80.3967 27.3384 79.7882 25.3902C84.0012 24.1695 88.6689 20.6747 88.3485 14.6661C88.1474 10.9064 86.8829 7.9615 84.2195 5.92603C85.6083 5.22897 86.7727 4.89989 87.1174 4.85047C88.1029 4.71169 88.8286 4.30481 89.1693 3.80751C89.5099 3.3102 89.0237 1.59226 88.1646 1.41668C88.6133 2.99374 87.078 3.24397 86.7666 3.3081C85.9388 3.47737 84.3933 4.02514 82.7448 4.97033C80.5918 3.79068 77.7586 3.04315 74.135 2.76138C70.4103 2.4712 68.6788 3.58671 66.0619 3.4616C63.632 3.3449 58.9784 1.95182 56.783 2.57003C53.1785 3.58356 53.3008 5.12067 52.7217 6.79446C55.4487 3.63402 58.4912 3.59618 61.6842 4.11871L61.6832 4.11766ZM70.6397 20.6737C70.5154 20.4455 70.3981 20.2069 70.2879 19.9556C68.794 16.5197 69.353 14.5137 70.6397 13.3803C71.9224 15.5409 73.391 17.5942 75.0568 18.5068C74.5615 19.9787 72.5976 20.5549 70.6397 20.6747V20.6737ZM76.5345 17.1505C75.3994 16.8519 73.949 15.7185 71.9153 12.5991C72.9847 12.1502 74.2067 12.0198 75.1862 12.0419C75.6885 12.0535 76.1808 12.0955 76.6518 12.1691C76.5356 12.6632 76.4598 13.1784 76.4355 13.7157C76.3789 14.9342 76.4244 16.0781 76.5345 17.1516V17.1505ZM71.4827 21.928C73.8348 21.641 75.2701 20.2311 76.8449 19.2995C77.2027 21.2299 77.707 22.8963 78.0709 24.3293C75.635 24.6321 73.1808 23.9792 71.4827 21.928ZM77.9506 14.1772C77.9941 13.6095 78.0901 13.0722 78.2256 12.5644C78.8765 12.8031 79.4436 13.1248 79.8883 13.5359C80.3108 14.9689 79.862 16.4608 78.6501 16.9108C78.4257 16.9939 78.1922 17.079 77.9446 17.1421C77.8779 16.2032 77.8698 15.217 77.9506 14.1783V14.1772ZM85.0251 20.4266C83.6615 22.1908 81.5247 23.5397 79.2586 24.1075C78.8876 22.4968 78.3913 20.7136 78.1104 18.7034C78.1255 18.6982 78.1397 18.6929 78.1548 18.6876C79.7913 18.1546 80.5837 16.7268 80.9365 15.8006C81.1902 17.7288 81.2326 18.0789 81.8583 18.4038C82.5224 18.7497 83.4705 18.1704 83.6969 17.1495C81.3519 17.9243 82.5234 15.1813 81.5905 13.3635C81.0335 12.2784 80.3229 11.43 78.8886 10.8507C79.7943 9.09173 81.2185 7.78171 82.6346 6.84178C86.4766 9.26625 88.396 16.0645 85.0251 20.4256V20.4266ZM81.1154 6.02486C79.5972 7.13406 78.1629 8.58286 77.2896 10.3849C76.5901 10.2398 75.7755 10.1315 74.8172 10.0611C73.5154 9.96542 72.171 10.386 71.0167 11.1608C69.1296 8.10974 67.6953 6.09109 66.3601 4.93773C70.8904 5.30887 74.8183 2.98428 81.1164 6.02381L81.1154 6.02486ZM74.0672 30.5482C74.0329 30.5083 74.0036 30.4736 73.9823 30.4494C74.0127 30.4841 74.041 30.5177 74.0672 30.5482ZM74.2957 30.8132C74.2603 30.7722 74.2189 30.7238 74.1683 30.6649C74.2128 30.7164 74.2552 30.7659 74.2957 30.8132ZM74.2957 30.8132C74.3119 30.8321 74.328 30.85 74.3412 30.8657L74.2957 30.8132Z" fill="#635C4C"/>
          </g>
        </svg>
      </div>
    </div>
  </div>
</main>