---
auth: 'true'
---

{{!< body }}
<main class="bg-common profile">
  <div class="container">
    <div class="profile__head only-desktop-flex">
      <svg class="profile__head-border" width="1293" height="9" viewBox="0 0 1293 9" fill="none" preserveAspectRatio="none"  xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1279.29 5.73962L14.1435 5.73959V3.61459L1279.29 3.61462V5.73962Z" fill="#635C4C"/>
        <path d="M12 8.92709L0.798828 4.46352L12 -4.57764e-05L16.33 4.46352L12 8.92709Z" fill="#635C4C"/>
        <path d="M1281.8 8.92712L1293 4.46356L1281.8 -1.62125e-05L1277.47 4.46356L1281.8 8.92712Z" fill="#635C4C"/>
      </svg>
      <div class="profile__avatar">
        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
      </div>
      <div class="flex-1">
        <div class="user-info">
          <h1>Личный кабинет</h1>
          <div class="user-info__name">
            <p>Mellosa morgenstern</p>
            <button>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.64576 2.83988L0.942759 10.5515C0.904005 10.5904 0.876023 10.6396 0.862697 10.6924L0.00889326 14.1229C-0.0166465 14.2262 0.0136681 14.336 0.0889547 14.4114C0.145919 14.4684 0.223538 14.5 0.302933 14.5C0.327251 14.5 0.352125 14.497 0.376332 14.4909L3.80332 13.6361C3.85673 13.6227 3.90526 13.5948 3.94401 13.556L11.6477 5.84495L8.64576 2.83988Z" fill="#635C4C"/>
                <path d="M13.5561 1.78843L12.6986 0.93006C12.1255 0.356369 11.1267 0.356925 10.5542 0.93006L9.5039 1.98151L12.5057 4.98647L13.5561 3.93502C13.8423 3.64856 14 3.26729 14 2.86178C14 2.45627 13.8423 2.075 13.5561 1.78843Z" fill="#635C4C"/>
              </svg>
            </button>
          </div>
          <div class="user-info__id"><p><span>id</span> 1364622</p></div>
        </div>
        <div class="switch-block">
          <a class="switch-block__button" href="../profile/profile.hbs">Общее</a>
          <a class="switch-block__button" href="../profile/profile-balance.hbs">Баланс</a>
          <a class="switch-block__button" href="../profile/profile-promo.hbs">Промокоды</a>
          <a class="switch-block__button active" href="../profile/profile-quest.hbs">Квесты</a>
          <a class="switch-block__button" href="../profile/profile-soc.hbs">Профили</a>
        </div>
      </div>
    </div>
    <div class="profile__head  only-mobile">
     <svg  class="profile__head-border" width="340" height="10" viewBox="0 0 340 10" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M325.571 6.27612L14.0666 6.27612V4.15112L325.571 4.15112V6.27612Z" fill="#635C4C"/>
        <path d="M11.9232 9.46362L0.721952 5.00005L11.9232 0.536477L16.2531 5.00005L11.9232 9.46362Z" fill="#635C4C"/>
        <path d="M328.077 9.46362L339.278 5.00005L328.077 0.536484L323.747 5.00005L328.077 9.46362Z" fill="#635C4C"/>
      </svg>
      <div class="flex-1">
      <div class="profile__avatar">
        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
        <div class="level-block">
          <img src="../../assets/img/profile/level-block.svg" alt="">
          <div class="level-block__content">
            <span>Уровень</span>
            <p>
              11
            </p>
          </div>
        </div>
         {{> "money/money" count="9999"}}
      </div>
        <div class="user-info">
          <h1>Личный кабинет</h1>
          <div class="user-info__name">
            <p>Mellosa morgenstern</p>
            <button>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.64576 2.83988L0.942759 10.5515C0.904005 10.5904 0.876023 10.6396 0.862697 10.6924L0.00889326 14.1229C-0.0166465 14.2262 0.0136681 14.336 0.0889547 14.4114C0.145919 14.4684 0.223538 14.5 0.302933 14.5C0.327251 14.5 0.352125 14.497 0.376332 14.4909L3.80332 13.6361C3.85673 13.6227 3.90526 13.5948 3.94401 13.556L11.6477 5.84495L8.64576 2.83988Z" fill="#635C4C"/>
                <path d="M13.5561 1.78843L12.6986 0.93006C12.1255 0.356369 11.1267 0.356925 10.5542 0.93006L9.5039 1.98151L12.5057 4.98647L13.5561 3.93502C13.8423 3.64856 14 3.26729 14 2.86178C14 2.45627 13.8423 2.075 13.5561 1.78843Z" fill="#635C4C"/>
              </svg>
            </button>
          </div>
          <div class="user-info__id"><p><span>id</span> 1364622</p></div>
           <div class="profile__general-text">
            <p>Lorem ipsum dolor sit amet. Nam earum dolores sed voluptates facilis ut tempora quam et sequi recusandae ut voluptatem tempora.</>
          </div>
        </div>
      </div>
        <div class="switch-block">
           <a class="switch-block__button" href="../profile/profile.hbs">Общее</a>
          <a class="switch-block__button" href="../profile/profile-balance.hbs">Баланс</a>
          <a class="switch-block__button" href="../profile/profile-promo.hbs">Промокоды</a>
          <a class="switch-block__button active" href="../profile/profile-quest.hbs">Квесты</a>
          <a class="switch-block__button" href="../profile/profile-soc.hbs">Профили</a>
        </div>
    </div>
    <div class="profile__general">
      <div class="quest">
        <div class="quest-buttons">
          <a class="quest-button" href="./profile-quest-process.hbs">
            <svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.888915 4.42535V2.49502C0.360126 2.1771 4.19617e-05 1.59238 4.19617e-05 0.916652V0.458348C4.19617e-05 0.205004 0.198833 0 0.444499 0H15.5555C15.8012 0 16 0.205004 16 0.458348V0.916695C16 1.59238 15.6399 2.1771 15.1111 2.49507V4.42535C15.1111 6.24168 14.3603 7.98011 13.0512 9.19488L11.1063 11L13.0512 12.8051C14.3603 14.0199 15.1111 15.7583 15.1111 17.5746V19.5049C15.6399 19.8229 16 20.4076 16 21.0833V21.5417C16 21.795 15.8012 22 15.5555 22H0.444457C0.198792 22 9.53674e-07 21.795 9.53674e-07 21.5417V21.0833C9.53674e-07 20.4076 0.360084 19.8229 0.888873 19.5049V17.5746C0.888873 15.7583 1.63975 14.0199 2.94878 12.8051L4.8937 11L2.94883 9.19488C1.63979 7.98011 0.888915 6.24164 0.888915 4.42535ZM4.13803 7.83239L6.81686 10.3188C7.00436 10.4925 7.11115 10.74 7.11115 11C7.11115 11.26 7.00436 11.5076 6.81686 11.6812L4.13803 14.1676C3.20316 15.0355 2.6667 16.2776 2.6667 17.5746V19.25H3.77803L7.64456 13.9335C7.81211 13.7026 8.18798 13.7026 8.35552 13.9335L12.222 19.25H13.3333V17.5746C13.3333 16.2775 12.7969 15.0355 11.862 14.1676L9.18314 11.6812C8.99564 11.5075 8.88885 11.26 8.88885 11C8.88885 10.7399 8.99564 10.4924 9.18314 10.3187L11.862 7.83234C12.7969 6.9645 13.3333 5.72245 13.3333 4.42535V2.75H2.6667V4.42535C2.6667 5.72245 3.20316 6.9645 4.13803 7.83239Z" fill="#FFC734"/>
              <path d="M4.93665 6.41665H11.0638C11.2396 6.41665 11.3989 6.52364 11.4701 6.68925C11.5412 6.85532 11.5113 7.04868 11.3928 7.18296L8.29819 10.1272C8.21356 10.2065 8.10677 10.2458 8.00002 10.2458C7.89327 10.2458 7.78648 10.2064 7.70185 10.1272L4.6077 7.18296C4.4892 7.04868 4.45924 6.85532 4.53045 6.68925C4.60157 6.52364 4.76086 6.41665 4.93665 6.41665Z" fill="#FFC734"/>
            </svg>
            <span>В процессе </span><b>(3)</b>
          </a>
          <a class="quest-button active">
            <div class="quest-button__bg" style="background-image: url(../../assets/img/quest/done-bg-btn.png);"></div>
            <div class="quest-button__bg quest-button__bg-xs" style="background-image: url(../../assets/img/quest/done-bg-btn-xs.png);"></div>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.32152 12.2163C7.51247 12.2163 2.1882 12.2163 2.1882 12.2163C1.62299 12.2163 1.16051 12.6794 1.16051 13.2455V20.9709C1.16051 21.537 1.62299 22.0002 2.1882 22.0002C2.1882 22.0002 7.62388 22.0002 9.44146 22.0002C9.68322 22.0002 9.68322 21.74 9.68322 21.74V12.566C9.68322 12.566 9.68315 12.2163 9.32152 12.2163Z" fill="#028727"/>
              <path d="M18.9139 12.2163C18.9139 12.2163 13.5693 12.2163 11.7879 12.2163C11.3538 12.2163 11.4188 12.669 11.4188 12.669V21.7484C11.4188 21.7484 11.4153 22 11.6764 22C13.4857 22 18.9138 22 18.9138 22C19.479 22 19.9415 21.5368 19.9415 20.9707V13.2455C19.9416 12.6794 19.4791 12.2163 18.9139 12.2163Z" fill="#028727"/>
              <path d="M9.68315 6.13778C9.68315 6.13778 9.68315 5.78901 9.33904 5.78901C7.27849 5.78901 1.02769 5.78901 1.02769 5.78901C0.462482 5.78901 0 6.25222 0 6.81824V10.0312C0 10.5973 0.462482 11.0604 1.02769 11.0604C1.02769 11.0604 7.3065 11.0604 9.36719 11.0604C9.68315 11.0604 9.68315 10.7859 9.68315 10.7859V6.13778Z" fill="#028727"/>
              <path d="M20.0744 5.78901C20.0744 5.78901 13.821 5.78901 11.7365 5.78901C11.419 5.78901 11.419 6.09204 11.419 6.09204V10.7923C11.419 10.7923 11.419 11.0604 11.805 11.0604C13.8723 11.0604 20.0744 11.0604 20.0744 11.0604C20.6396 11.0604 21.102 10.5973 21.102 10.0312V6.81824C21.102 6.25222 20.6396 5.78901 20.0744 5.78901Z" fill="#028727"/>
              <path d="M6.18777 5.02749C5.71757 5.02749 5.28811 4.99014 4.9115 4.91643C3.95494 4.72925 3.2975 4.36495 2.90157 3.80283C2.54683 3.29905 2.43827 2.67799 2.5788 1.95681C2.82498 0.695037 3.67103 0.000183105 4.96092 0.000183105C5.2339 0.000183105 5.53369 0.0317537 5.85204 0.0940701C6.66185 0.252523 7.69763 0.717609 8.62281 1.33815C10.1925 2.39108 10.2701 3.04566 10.192 3.44648C10.077 4.03545 9.52741 4.45629 8.51163 4.73315C7.82536 4.92018 6.97833 5.02749 6.18777 5.02749ZM4.96099 1.64988C4.46145 1.64988 4.28977 1.78966 4.19551 2.27312C4.11839 2.66839 4.21565 2.80644 4.24754 2.85181C4.38111 3.04154 4.72904 3.19976 5.22731 3.29718C5.49618 3.34982 5.82838 3.37764 6.18769 3.37764C6.97781 3.37764 7.67389 3.25773 8.13577 3.12657C8.16939 3.11705 8.22158 3.07723 8.16565 3.04386C7.56181 2.55118 6.45708 1.8933 5.53623 1.7131C5.32172 1.67125 5.12811 1.64988 4.96099 1.64988Z" fill="#028727"/>
              <path d="M14.9381 5.02749C14.9381 5.02749 14.9381 5.02749 14.9379 5.02749C14.1474 5.02749 13.3004 4.92018 12.6141 4.73315C11.5983 4.45637 11.0487 4.03545 10.9338 3.44656C10.8557 3.04574 10.9332 2.39115 12.503 1.33822C13.4281 0.717684 14.4638 0.252598 15.2738 0.0941451C15.5922 0.0318287 15.8919 0.000258095 16.1647 0.000258095C17.4549 0.000258095 18.3009 0.695187 18.5468 1.95696C18.6875 2.67806 18.579 3.29913 18.2242 3.80291C17.8283 4.3651 17.1709 4.72933 16.2141 4.9165C15.8377 4.99007 15.4082 5.02749 14.9381 5.02749ZM12.9733 3.03366C12.9198 3.06478 12.9457 3.1139 12.9735 3.12193C13.4351 3.25488 14.1385 3.37771 14.9379 3.37771C15.2974 3.37771 15.6294 3.34989 15.8984 3.29725C16.3966 3.19976 16.7447 3.04161 16.8782 2.85189C16.9102 2.80652 17.0075 2.66846 16.9302 2.27319C16.836 1.78974 16.6642 1.64995 16.1646 1.64995C15.9976 1.64995 15.8041 1.67125 15.5895 1.71325C14.6685 1.89337 13.5771 2.54091 12.9733 3.03366Z" fill="#028727"/>
            </svg>
            <span>Выполненые </span><b>(3)</b>
          </a>
          <a href="./profile-quest-get.hbs" class="quest-button">
            <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.6296 1.53411L24.4256 0.362104C23.9296 -0.120701 23.12 -0.120701 22.6197 0.362104L9.99517 12.6558L3.38191 6.21803C2.88595 5.73517 2.07622 5.73517 1.57598 6.21803L0.371975 7.39003C-0.123992 7.87289 -0.123992 8.66108 0.371975 9.14804L9.08797 17.6327C9.33811 17.8762 9.66024 18 9.9867 18C10.3131 18 10.6395 17.8762 10.8855 17.6327L25.6169 3.29217C26.1256 2.80111 26.1256 2.01702 25.6296 1.53411Z" fill="#028727"/>
            </svg>
           <span>Награда получена </span><b>(3)</b></button>
        </div>
        <div class="quest-list">
          <div class="quest-list__bg" style="background: linear-gradient(0deg, rgba(14, 15, 18, 0.2) -2.08%, rgba(51, 108, 84, 0.2) 100%);"></div>
          <div class="quest-item">
            <div class="quest-item__info">
              <div class="quest-item__name">Медведи и пчелы</div>
              <div class="quest-item__descr">
                Медведи повадились разрушать наши ульи. В этих ульях пчелы делают мед!
              </div>
              <div class="quest-item__goal">
                <div class="quest-item__goal-left"></div>
                <div class="quest-item__goal-right"></div>
                <div class="quest-item__goal-center"></div>
                <p>Убейте злобных медведей Убейте злобных медведей Убейте злобных медведей Убейте злобных медведей Убейте злобных медведей Убейте злобных медведей Убейте злобных медведей</p>
              </div>
            </div>
            <div class="quest-item__status">
              <button class="quest-item__button">
                <svg  preserveAspectRatio="none" width="170" height="36" viewBox="0 0 170 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8.00834V27.9125L0.103998 27.8097L8.30175 35.9209L161.698 35.921L169.896 27.8098L170 27.9127V8.00845L169.896 8.11136L161.698 0.00011677L8.30175 0L0.103998 8.11124L0 8.00834Z" fill="#FFC734"/>
                </svg>
                <span>Получить награду</span>
              </button>
            </div>
          </div>
          <div class="quest-item">
            <div class="quest-item__info">
              <div class="quest-item__name">Медведи и пчелы</div>
              <div class="quest-item__descr">
                Медведи повадились разрушать наши ульи. В этих ульях пчелы делают мед! А мы его едим. Нужно что-то сделать с этим. Помоги убить медведей и получи награду. Жаль медведей, но мед жаль еще больше.
              </div>
              <div class="quest-item__goal">
                <div class="quest-item__goal-left"></div>
                <div class="quest-item__goal-right"></div>
                <div class="quest-item__goal-center"></div>
                <p>Убейте злобных медведей Убейте злобных медведей Убейте злобных медведей Убейте злобных медведей</p>
              </div>
            </div>
            <div class="quest-item__status">
              <button class="quest-item__button">
                <svg  preserveAspectRatio="none" width="170" height="36" viewBox="0 0 170 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8.00834V27.9125L0.103998 27.8097L8.30175 35.9209L161.698 35.921L169.896 27.8098L170 27.9127V8.00845L169.896 8.11136L161.698 0.00011677L8.30175 0L0.103998 8.11124L0 8.00834Z" fill="#FFC734"/>
                </svg>
                <span>Получить награду</span>
              </button>
            </div>
          </div>
          <div class="quest-item">
            <div class="quest-item__info">
              <div class="quest-item__name">Медведи и пчелы</div>
              <div class="quest-item__descr">
                Медведи повадились разрушать наши ульи. В этих ульях пчелы делают мед! А мы его едим. Нужно что-то сделать с этим. Помоги убить медведей и получи награду. Жаль медведей, но мед жаль еще больше. Медведи повадились разрушать наши ульи. В этих ульях пчелы делают мед! А мы его едим. Нужно что-то сделать с этим. Помоги убить медведей и получи награду. Жаль медведей, но мед жаль еще больше.
              </div>
              <div class="quest-item__goal">
                <div class="quest-item__goal-left"></div>
                <div class="quest-item__goal-right"></div>
                <div class="quest-item__goal-center"></div>
                <p>Убейте злобных медведей</p>
              </div>
            </div>
            <div class="quest-item__status">
              <button class="quest-item__button">
                <svg  preserveAspectRatio="none" width="170" height="36" viewBox="0 0 170 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8.00834V27.9125L0.103998 27.8097L8.30175 35.9209L161.698 35.921L169.896 27.8098L170 27.9127V8.00845L169.896 8.11136L161.698 0.00011677L8.30175 0L0.103998 8.11124L0 8.00834Z" fill="#FFC734"/>
                </svg>
                <span>Получить награду</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>