---
auth: 'true'
---

{{!< body }}
<main class="bg-common profile">
  <div class="container">
    <div class="profile__head only-desktop-flex">
      <svg class="profile__head-border" width="1293" height="9" viewBox="0 0 1293 9" fill="none" preserveAspectRatio="none"  xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1279.29 5.73962L14.1435 5.73959V3.61459L1279.29 3.61462V5.73962Z" fill="#635C4C"/>
        <path d="M12 8.92709L0.798828 4.46352L12 -4.57764e-05L16.33 4.46352L12 8.92709Z" fill="#635C4C"/>
        <path d="M1281.8 8.92712L1293 4.46356L1281.8 -1.62125e-05L1277.47 4.46356L1281.8 8.92712Z" fill="#635C4C"/>
      </svg>
      <div class="profile__avatar">
        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
      </div>
      <div class="flex-1">
        <div class="user-info">
          <h1>Личный кабинет</h1>
          <div class="user-info__name">
            <p>Mellosa morgenstern</p>
            <button>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.64576 2.83988L0.942759 10.5515C0.904005 10.5904 0.876023 10.6396 0.862697 10.6924L0.00889326 14.1229C-0.0166465 14.2262 0.0136681 14.336 0.0889547 14.4114C0.145919 14.4684 0.223538 14.5 0.302933 14.5C0.327251 14.5 0.352125 14.497 0.376332 14.4909L3.80332 13.6361C3.85673 13.6227 3.90526 13.5948 3.94401 13.556L11.6477 5.84495L8.64576 2.83988Z" fill="#635C4C"/>
                <path d="M13.5561 1.78843L12.6986 0.93006C12.1255 0.356369 11.1267 0.356925 10.5542 0.93006L9.5039 1.98151L12.5057 4.98647L13.5561 3.93502C13.8423 3.64856 14 3.26729 14 2.86178C14 2.45627 13.8423 2.075 13.5561 1.78843Z" fill="#635C4C"/>
              </svg>
            </button>
          </div>
          <div class="user-info__id"><p><span>id</span> 1364622</p></div>
        </div>
        <div class="switch-block">
          <a class="switch-block__button" href="../profile/profile.hbs">Общее</a>
          <a class="switch-block__button" href="../profile/profile-balance.hbs">Баланс</a>
          <a class="switch-block__button active" href="../profile/profile-promo.hbs">Промокоды</a>
          <a class="switch-block__button" href="../profile/profile-quest.hbs">Квесты</a>
        </div>
      </div>
    </div>
    <div class="profile__head  only-mobile">
      <div class="flex-1">
      <div class="profile__avatar">
        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
        <div class="level-block">
          <img src="../../assets/img/profile/level-block.svg" alt="">
          <div class="level-block__content">
            <span>Уровень</span>
            <p>
              11
            </p>
          </div>
        </div>
         {{> "money/money" count="9999"}}
      </div>
        <div class="user-info">
          <h1>Личный кабинет</h1>
          <div class="user-info__name">
            <p>Mellosa morgenstern</p>
            <button>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.64576 2.83988L0.942759 10.5515C0.904005 10.5904 0.876023 10.6396 0.862697 10.6924L0.00889326 14.1229C-0.0166465 14.2262 0.0136681 14.336 0.0889547 14.4114C0.145919 14.4684 0.223538 14.5 0.302933 14.5C0.327251 14.5 0.352125 14.497 0.376332 14.4909L3.80332 13.6361C3.85673 13.6227 3.90526 13.5948 3.94401 13.556L11.6477 5.84495L8.64576 2.83988Z" fill="#635C4C"/>
                <path d="M13.5561 1.78843L12.6986 0.93006C12.1255 0.356369 11.1267 0.356925 10.5542 0.93006L9.5039 1.98151L12.5057 4.98647L13.5561 3.93502C13.8423 3.64856 14 3.26729 14 2.86178C14 2.45627 13.8423 2.075 13.5561 1.78843Z" fill="#635C4C"/>
              </svg>
            </button>
          </div>
          <div class="user-info__id"><p><span>id</span> 1364622</p></div>
           <div class="profile__general-text">
            <p>Lorem ipsum dolor sit amet. Nam earum dolores sed voluptates facilis ut tempora quam et sequi recusandae ut voluptatem tempora.</>
          </div>
        </div>
      </div>
        <div class="switch-block">
          <a class="switch-block__button" href="../profile/profile.hbs">Общее</a>
          <a class="switch-block__button" href="../profile/profile-balance.hbs">Баланс</a>
          <a class="switch-block__button active" href="../profile/profile-promo.hbs">Промокоды</a>
          <a class="switch-block__button" href="../profile/profile-quest.hbs">Квесты</a>
          <svg  class="profile__head-border" width="340" height="10" viewBox="0 0 340 10" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M325.571 6.27612L14.0666 6.27612V4.15112L325.571 4.15112V6.27612Z" fill="#635C4C"/>
            <path d="M11.9232 9.46362L0.721952 5.00005L11.9232 0.536477L16.2531 5.00005L11.9232 9.46362Z" fill="#635C4C"/>
            <path d="M328.077 9.46362L339.278 5.00005L328.077 0.536484L323.747 5.00005L328.077 9.46362Z" fill="#635C4C"/>
          </svg>
        </div>
    </div>
    <div class="profile__general">
       <div class="profile__avatar only-desktop-flex">
        <div class="level-block">
          <img src="../../assets/img/profile/level-block.svg" alt="">
          <div class="level-block__content">
            <span>Уровень</span>
            <p>
              11
            </p>
          </div>
        </div>
         {{> "money/money" count="9999"}}
      </div>
      <div class="flex-1 promocode">
          {{> "input/input" label="Введите промокод" type="text"}}
        <button class="promocode-btn">
          <svg preserveAspectRatio="none" width="213" height="59" viewBox="0 0 213 59" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.0656439 7.20715C0.0413078 7.18307 0 7.20031 0 7.23455V51.542C0 51.5763 0.0413061 51.5935 0.0656434 51.5694C0.0806604 51.5546 0.104838 51.5546 0.119854 51.5694L5.9427 57.3308C6.87881 58.257 8.14253 58.7765 9.45942 58.7765L202.999 58.7766C204.316 58.7766 205.58 58.2571 206.516 57.3309L212.339 51.5695C212.354 51.5547 212.378 51.5547 212.393 51.5695C212.417 51.5936 212.459 51.5764 212.459 51.5421V7.23467C212.459 7.20042 212.417 7.18317 212.393 7.20725C212.378 7.22211 212.354 7.22211 212.339 7.20725L206.516 1.44587C205.58 0.519635 204.316 0.000103525 202.999 0.000102832L9.45943 1.08069e-06C8.14254 3.88344e-07 6.87881 0.519528 5.9427 1.44576L0.119855 7.20715C0.104839 7.22201 0.0806603 7.22201 0.0656439 7.20715Z" fill="#FFC734"/>
          </svg>
          <span>Активировать</span>
        </button>
        <div class="promocode-message promocode-message-success">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.4463 15.8651C11.3604 15.9517 11.2432 16 11.1214 16C10.9996 16 10.8824 15.9517 10.7965 15.8651L8.20197 13.2658C7.93268 12.9961 7.93268 12.5588 8.20197 12.2895L8.52686 11.9641C8.79614 11.6944 9.23224 11.6944 9.50153 11.9641L11.1214 13.5867L15.4985 9.2023C15.7678 8.93257 16.2043 8.93257 16.4731 9.2023L16.798 9.52773C17.0673 9.79747 17.0673 10.2348 16.798 10.504L11.4463 15.8651Z" fill="#69C79F"/>
            <circle cx="12" cy="12" r="11" stroke="#69C79F" stroke-width="2"/>
          </svg>
          <b>Промокод успешно активирован!</b><br>
          Перейдите в игру, чтобы получить бонус</div>
        <div class="promocode-message promocode-message-error">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="11" stroke="#FF7A00" stroke-width="2"/>
            <path d="M8.75836 15.9959C8.56223 16.0074 8.36933 15.9414 8.22036 15.8119C7.92655 15.5129 7.92655 15.03 8.22036 14.731L14.6538 8.22268C14.9594 7.93341 15.4389 7.94949 15.7248 8.25863C15.9834 8.53818 15.9985 8.96787 15.7601 9.26525L9.28878 15.8119C9.14173 15.9396 8.95193 16.0054 8.75836 15.9959Z" fill="#FF7A00"/>
            <path d="M15.1842 15.9959C14.9854 15.995 14.7949 15.9152 14.6538 15.7736L8.22033 9.26522C7.94813 8.94366 7.98514 8.45972 8.303 8.18433C8.5867 7.93856 9.00511 7.93856 9.28878 8.18433L15.7601 14.6926C16.0656 14.982 16.0814 15.4671 15.7954 15.7762C15.784 15.7885 15.7723 15.8004 15.7601 15.8119C15.6017 15.9513 15.3931 16.0179 15.1842 15.9959Z" fill="#FF7A00"/>
          </svg>
          <b>Промокод уже активирован!</b></div>
       <svg class="profile__general-border only-desktop" width="863" height="34" viewBox="0 0 863 34" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M407.874 3.1875H13.3446V5.3125H407.874V3.1875Z" fill="url(#paint0_linear_1079_864)"/>
          <path d="M11.2012 0L0 4.46357L11.2012 8.92714L15.5311 4.46357L11.2012 0Z" fill="url(#paint1_linear_1079_864)"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M455.503 3.1875H849V5.3125H455.503V3.1875Z" fill="url(#paint2_linear_1079_864)"/>
          <path d="M851.143 0L862.345 4.46357L851.143 8.92714L846.813 4.46357L851.143 0Z" fill="url(#paint3_linear_1079_864)"/>
          <path d="M456.161 4.11765C456.219 4.13973 456.276 4.16286 456.335 4.18599C459.889 5.6411 460.159 11.5109 458.897 13.3298C457.636 15.1487 456.296 16.0329 454.664 15.257C453.033 14.4811 450.915 10.9211 453.245 8.64488L454.643 9.46075C454.643 9.46075 452.45 11.2071 453.731 12.904C455.013 14.602 457.583 12.6664 457.874 9.02758C458.165 5.38877 453.997 4.21964 451.229 6.72297C450.342 7.52411 449.252 9.74567 447.947 12.0829C449.68 13.824 450.598 16.4692 449.475 19.1702C449.253 19.7022 449.02 20.2037 448.775 20.6768C450.224 20.6011 451.42 20.3173 451.646 20.0408C451.995 19.6139 451.879 19.3132 451.646 18.8885C452.644 18.9053 453.345 19.2995 453.308 20.4245C455.226 19.615 456.258 20.3026 456.261 21.1931C456.264 22.0836 455.777 22.2003 455.777 22.2003C455.777 22.2003 454.886 21.4612 454.535 21.827C454.133 22.2455 453.409 22.1183 453.409 22.1183C453.409 22.1183 454.059 22.9331 453.123 23.4977C452.827 22.4905 451.635 21.7408 448.044 21.9448C446.145 24.8697 443.586 26.2565 440.017 25.8023C439.849 25.7813 439.678 25.755 439.507 25.7256C439.493 25.7508 439.479 25.776 439.463 25.8023C439.454 25.8202 439.445 25.8391 439.436 25.857C439.248 26.962 439.254 27.8977 439.648 28.682C441.049 31.4724 442.671 29.5399 443.894 30.4105C443.894 30.4105 439.518 32.8907 438.36 29.193C438.296 28.9869 438.246 28.7788 438.207 28.5674C436.814 31.6974 435.217 34.6696 431.343 33.8674C426.397 32.8423 426.233 29.4159 426.964 27.3089C427.319 26.287 428.548 24.7898 431.157 25.0337C433.451 25.2482 434.391 26.4037 434.115 27.6611C433.819 29.0111 432.811 28.9396 431.852 29.03C430.955 29.1141 430.783 30.2528 431.585 30.3642C431.161 30.6586 430.084 30.217 430.148 29.5736C430.211 28.9302 430.81 28.2899 431.527 28.2993C432.997 28.3172 433.608 27.0419 431.896 26.3795C429.919 25.6131 427.938 26.8537 427.835 29.0679C427.733 31.2705 431.216 33.655 433.984 32.3419C436.582 31.1086 437.448 27.3384 438.056 25.3902C433.843 24.1695 429.175 20.6747 429.496 14.6661C429.697 10.9064 430.961 7.96149 433.625 5.92602C432.236 5.22896 431.072 4.89988 430.727 4.85046C429.741 4.71168 429.016 4.3048 428.675 3.8075C428.334 3.31019 428.821 1.59225 429.68 1.41667C429.231 2.99373 430.766 3.24396 431.078 3.30809C431.905 3.47736 433.451 4.02513 435.1 4.97032C437.253 3.79068 440.086 3.04315 443.709 2.76138C447.434 2.4712 449.166 3.58671 451.782 3.4616C454.212 3.34489 458.866 1.95182 461.061 2.57003C464.666 3.58355 464.544 5.12067 465.123 6.79446C462.396 3.63402 459.353 3.59617 456.16 4.11871L456.161 4.11765ZM447.205 20.6737C447.329 20.4455 447.446 20.2069 447.556 19.9556C449.05 16.5197 448.491 14.5137 447.205 13.3803C445.922 15.5409 444.453 17.5942 442.787 18.5068C443.283 19.9787 445.247 20.5549 447.205 20.6747V20.6737ZM441.31 17.1505C442.445 16.8519 443.895 15.7185 445.929 12.5991C444.86 12.1502 443.638 12.0198 442.658 12.0419C442.156 12.0534 441.664 12.0955 441.193 12.1691C441.309 12.6632 441.385 13.1784 441.409 13.7157C441.465 14.9342 441.42 16.0781 441.31 17.1516V17.1505ZM446.362 21.928C444.009 21.641 442.574 20.2311 441 19.2995C440.642 21.2299 440.137 22.8963 439.773 24.3293C442.209 24.6321 444.663 23.9792 446.362 21.928ZM439.894 14.1772C439.85 13.6095 439.754 13.0722 439.619 12.5644C438.968 12.8031 438.401 13.1248 437.956 13.5359C437.534 14.9689 437.982 16.4608 439.194 16.9108C439.419 16.9939 439.652 17.079 439.9 17.1421C439.966 16.2032 439.975 15.217 439.894 14.1783V14.1772ZM432.819 20.4266C434.183 22.1908 436.32 23.5397 438.586 24.1075C438.957 22.4968 439.453 20.7136 439.734 18.7034C439.719 18.6982 439.705 18.6929 439.689 18.6876C438.053 18.1546 437.261 16.7268 436.908 15.8006C436.654 17.7288 436.612 18.0789 435.986 18.4038C435.322 18.7497 434.374 18.1704 434.147 17.1495C436.492 17.9243 435.321 15.1813 436.254 13.3635C436.811 12.2784 437.521 11.43 438.956 10.8507C438.05 9.09172 436.626 7.7817 435.21 6.84177C431.368 9.26625 429.448 16.0645 432.819 20.4256V20.4266ZM436.729 6.02485C438.247 7.13406 439.681 8.58285 440.555 10.3849C441.254 10.2398 442.069 10.1315 443.027 10.0611C444.329 9.96541 445.673 10.386 446.828 11.1608C448.715 8.10973 450.149 6.09109 451.484 4.93773C446.954 5.30886 443.026 2.98427 436.728 6.0238L436.729 6.02485ZM443.777 30.5482C443.811 30.5083 443.841 30.4736 443.862 30.4494C443.832 30.4841 443.803 30.5177 443.777 30.5482ZM443.549 30.8132C443.584 30.7722 443.625 30.7238 443.676 30.6649C443.632 30.7164 443.589 30.7659 443.549 30.8132ZM443.549 30.8132C443.532 30.8321 443.516 30.85 443.503 30.8657L443.549 30.8132Z" fill="url(#paint4_linear_1079_864)"/>
          <path d="M405.371 4.11766C405.314 4.13974 405.256 4.16287 405.198 4.186C401.644 5.6411 401.374 11.5109 402.635 13.3298C403.897 15.1487 405.237 16.0329 406.868 15.257C408.5 14.4811 410.617 10.9211 408.288 8.64489L406.89 9.46076C406.89 9.46076 409.083 11.2071 407.801 12.904C406.52 14.602 403.949 12.6664 403.658 9.02759C403.367 5.38877 407.536 4.21964 410.304 6.72297C411.191 7.52412 412.28 9.74568 413.586 12.0829C411.853 13.824 410.935 16.4692 412.058 19.1702C412.279 19.7022 412.513 20.2037 412.757 20.6768C411.309 20.6011 410.113 20.3173 409.887 20.0408C409.538 19.6139 409.653 19.3132 409.887 18.8885C408.889 18.9053 408.187 19.2995 408.225 20.4245C406.306 19.615 405.274 20.3026 405.271 21.1931C405.268 22.0836 405.756 22.2003 405.756 22.2003C405.756 22.2003 406.647 21.4612 406.998 21.827C407.4 22.2455 408.124 22.1183 408.124 22.1183C408.124 22.1183 407.474 22.9331 408.41 23.4977C408.706 22.4905 409.898 21.7408 413.489 21.9448C415.387 24.8697 417.947 26.2565 421.516 25.8023C421.683 25.7813 421.854 25.755 422.026 25.7256C422.039 25.7508 422.053 25.776 422.069 25.8023C422.079 25.8202 422.088 25.8391 422.097 25.857C422.285 26.962 422.279 27.8977 421.885 28.682C420.484 31.4724 418.861 29.5399 417.638 30.4105C417.638 30.4105 422.015 32.8907 423.172 29.193C423.237 28.9869 423.287 28.7788 423.326 28.5674C424.719 31.6974 426.316 34.6696 430.19 33.8674C435.136 32.8423 435.3 29.4159 434.569 27.3089C434.214 26.287 432.985 24.7898 430.375 25.0338C428.082 25.2482 427.142 26.4037 427.417 27.6611C427.714 29.0111 428.721 28.9396 429.681 29.03C430.577 29.1141 430.75 30.2528 429.948 30.3642C430.372 30.6586 431.449 30.217 431.385 29.5736C431.321 28.9302 430.723 28.2899 430.005 28.2993C428.535 28.3172 427.925 27.0419 429.636 26.3795C431.613 25.6131 433.594 26.8537 433.698 29.0679C433.8 31.2705 430.316 33.655 427.549 32.3419C424.95 31.1086 424.085 27.3384 423.477 25.3902C427.689 24.1695 432.357 20.6747 432.037 14.6661C431.836 10.9064 430.571 7.9615 427.908 5.92603C429.297 5.22897 430.461 4.89989 430.806 4.85047C431.791 4.71169 432.517 4.30481 432.858 3.80751C433.198 3.3102 432.712 1.59226 431.853 1.41668C432.302 2.99374 430.766 3.24397 430.455 3.3081C429.627 3.47737 428.082 4.02514 426.433 4.97033C424.28 3.79068 421.447 3.04315 417.823 2.76138C414.099 2.4712 412.367 3.58671 409.75 3.4616C407.32 3.3449 402.667 1.95182 400.471 2.57003C396.867 3.58356 396.989 5.12067 396.41 6.79446C399.137 3.63402 402.179 3.59618 405.372 4.11871L405.371 4.11766ZM414.328 20.6737C414.204 20.4455 414.086 20.2069 413.976 19.9556C412.482 16.5197 413.041 14.5137 414.328 13.3803C415.611 15.5409 417.079 17.5942 418.745 18.5068C418.25 19.9787 416.286 20.5549 414.328 20.6747V20.6737ZM420.223 17.1505C419.088 16.8519 417.637 15.7185 415.604 12.5991C416.673 12.1502 417.895 12.0198 418.875 12.0419C419.377 12.0535 419.869 12.0955 420.34 12.1691C420.224 12.6632 420.148 13.1784 420.124 13.7157C420.067 14.9342 420.113 16.0781 420.223 17.1516V17.1505ZM415.171 21.928C417.523 21.641 418.958 20.2311 420.533 19.2995C420.891 21.2299 421.395 22.8963 421.759 24.3293C419.323 24.6321 416.869 23.9792 415.171 21.928ZM421.639 14.1772C421.682 13.6095 421.778 13.0722 421.914 12.5644C422.565 12.8031 423.132 13.1248 423.577 13.5359C423.999 14.9689 423.55 16.4608 422.338 16.9108C422.114 16.9939 421.88 17.079 421.633 17.1421C421.566 16.2032 421.558 15.217 421.639 14.1783V14.1772ZM428.713 20.4266C427.35 22.1908 425.213 23.5397 422.947 24.1075C422.576 22.4968 422.08 20.7136 421.799 18.7034C421.814 18.6982 421.828 18.6929 421.843 18.6876C423.48 18.1546 424.272 16.7268 424.625 15.8006C424.878 17.7288 424.921 18.0789 425.547 18.4038C426.211 18.7497 427.159 18.1704 427.385 17.1495C425.04 17.9243 426.212 15.1813 425.279 13.3635C424.722 12.2784 424.011 11.43 422.577 10.8507C423.483 9.09172 424.907 7.78171 426.323 6.84178C430.165 9.26625 432.084 16.0645 428.713 20.4256V20.4266ZM424.804 6.02486C423.286 7.13406 421.851 8.58286 420.978 10.3849C420.278 10.2398 419.464 10.1315 418.505 10.0611C417.204 9.96542 415.859 10.386 414.705 11.1608C412.818 8.10974 411.384 6.09109 410.048 4.93773C414.579 5.30887 418.507 2.98428 424.805 6.02381L424.804 6.02486ZM417.755 30.5482C417.721 30.5083 417.692 30.4736 417.671 30.4494C417.701 30.4841 417.729 30.5177 417.755 30.5482ZM417.984 30.8132C417.949 30.7722 417.907 30.7238 417.857 30.6649C417.901 30.7164 417.944 30.7659 417.984 30.8132ZM417.984 30.8132C418 30.8321 418.016 30.85 418.029 30.8657L417.984 30.8132Z" fill="url(#paint5_linear_1079_864)"/>
          <defs>
          <linearGradient id="paint0_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint1_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint2_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint3_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint4_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint5_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          </defs>
        </svg>
        <svg class="profile__general-border only-mobile" width="176" height="34" viewBox="0 0 176 34" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.2">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M64.1854 3.1875H13.8446V5.3125H64.1854V3.1875Z" fill="#635C4C"/>
          <path d="M11.7012 0L0.5 4.46357L11.7012 8.92714L16.0311 4.46357L11.7012 0Z" fill="#635C4C"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M111.815 3.1875H162.155V5.3125H111.815V3.1875Z" fill="#635C4C"/>
          <path d="M164.299 0L175.5 4.46357L164.299 8.92714L159.969 4.46357L164.299 0Z" fill="#635C4C"/>
          <path d="M112.473 4.11765C112.53 4.13973 112.588 4.16286 112.647 4.18599C116.201 5.6411 116.47 11.5109 115.209 13.3298C113.948 15.1487 112.607 16.0329 110.976 15.257C109.344 14.4811 107.227 10.9211 109.557 8.64488L110.955 9.46075C110.955 9.46075 108.761 11.2071 110.043 12.904C111.325 14.602 113.895 12.6664 114.186 9.02758C114.477 5.38877 110.309 4.21964 107.54 6.72297C106.654 7.52412 105.564 9.74567 104.258 12.0829C105.992 13.824 106.91 16.4692 105.787 19.1702C105.565 19.7022 105.332 20.2037 105.087 20.6768C106.536 20.6011 107.731 20.3173 107.958 20.0408C108.306 19.6139 108.191 19.3132 107.958 18.8885C108.955 18.9053 109.657 19.2995 109.619 20.4245C111.538 19.615 112.57 20.3026 112.573 21.1931C112.576 22.0836 112.089 22.2003 112.089 22.2003C112.089 22.2003 111.197 21.4612 110.846 21.827C110.444 22.2455 109.72 22.1183 109.72 22.1183C109.72 22.1183 110.37 22.9331 109.434 23.4977C109.138 22.4905 107.947 21.7408 104.355 21.9448C102.457 24.8697 99.8978 26.2565 96.3287 25.8023C96.1609 25.7813 95.9901 25.755 95.8183 25.7256C95.8051 25.7508 95.791 25.776 95.7748 25.8023C95.7657 25.8202 95.7566 25.8391 95.7475 25.857C95.5595 26.962 95.5656 27.8977 95.9598 28.682C97.3607 31.4724 98.983 29.5399 100.206 30.4105C100.206 30.4105 95.8294 32.8907 94.6721 29.193C94.6074 28.9869 94.5578 28.7788 94.5184 28.5674C93.1256 31.6974 91.5285 34.6696 87.6542 33.8674C82.7085 32.8423 82.5447 29.4159 83.2755 27.3089C83.6303 26.287 84.8594 24.7898 87.4693 25.0337C89.7627 25.2482 90.7027 26.4037 90.4268 27.6611C90.1306 29.0111 89.1229 28.9396 88.1637 29.03C87.2671 29.1141 87.0943 30.2528 87.8968 30.3642C87.4723 30.6586 86.3958 30.217 86.4595 29.5736C86.5232 28.9302 87.1215 28.2899 87.8392 28.2993C89.3089 28.3172 89.9194 27.0419 88.2081 26.3795C86.231 25.6131 84.2499 26.8537 84.1468 29.0679C84.0447 31.2705 87.5279 33.655 90.2954 32.3419C92.8941 31.1086 93.7593 27.3384 94.3678 25.3902C90.1549 24.1695 85.4871 20.6747 85.8075 14.6661C86.0087 10.9064 87.2732 7.96149 89.9366 5.92602C88.5478 5.22896 87.3833 4.89988 87.0387 4.85046C86.0532 4.71168 85.3274 4.3048 84.9868 3.8075C84.6462 3.3102 85.1323 1.59225 85.9915 1.41667C85.5427 2.99373 87.0781 3.24396 87.3894 3.30809C88.2172 3.47736 89.7627 4.02513 91.4113 4.97032C93.5642 3.79068 96.3974 3.04315 100.021 2.76138C103.746 2.4712 105.477 3.58671 108.094 3.4616C110.524 3.34489 115.178 1.95182 117.373 2.57003C120.978 3.58355 120.855 5.12067 121.434 6.79446C118.707 3.63402 115.665 3.59617 112.472 4.11871L112.473 4.11765ZM103.516 20.6737C103.641 20.4455 103.758 20.2069 103.868 19.9556C105.362 16.5197 104.803 14.5137 103.516 13.3803C102.234 15.5409 100.765 17.5942 99.0993 18.5068C99.5945 19.9787 101.558 20.5549 103.516 20.6747V20.6737ZM97.6215 17.1505C98.7566 16.8519 100.207 15.7185 102.241 12.5991C101.171 12.1502 99.9493 12.0198 98.9699 12.0419C98.4675 12.0534 97.9753 12.0955 97.5042 12.1691C97.6205 12.6632 97.6963 13.1784 97.7206 13.7157C97.7772 14.9342 97.7317 16.0781 97.6215 17.1516V17.1505ZM102.673 21.928C100.321 21.641 98.886 20.2311 97.3112 19.2995C96.9534 21.2299 96.449 22.8963 96.0851 24.3293C98.5211 24.6321 100.975 23.9792 102.673 21.928ZM96.2054 14.1772C96.1619 13.6095 96.0659 13.0722 95.9305 12.5644C95.2795 12.8031 94.7125 13.1248 94.2677 13.5359C93.8452 14.9689 94.294 16.4608 95.5059 16.9108C95.7303 16.9939 95.9638 17.079 96.2115 17.1421C96.2782 16.2032 96.2862 15.217 96.2054 14.1783V14.1772ZM89.131 20.4266C90.4945 22.1908 92.6313 23.5397 94.8975 24.1075C95.2684 22.4968 95.7647 20.7136 96.0457 18.7034C96.0305 18.6981 96.0164 18.6929 96.0012 18.6876C94.3648 18.1546 93.5723 16.7268 93.2196 15.8006C92.9659 17.7288 92.9234 18.0789 92.2977 18.4038C91.6337 18.7497 90.6855 18.1704 90.4591 17.1495C92.8041 17.9243 91.6326 15.1813 92.5656 13.3635C93.1225 12.2784 93.8331 11.43 95.2674 10.8507C94.3617 9.09172 92.9376 7.7817 91.5215 6.84177C87.6795 9.26625 85.76 16.0644 89.131 20.4256V20.4266ZM93.0407 6.02485C94.5588 7.13406 95.9931 8.58285 96.8664 10.3849C97.5659 10.2398 98.3806 10.1315 99.3388 10.0611C100.641 9.96541 101.985 10.386 103.139 11.1608C105.026 8.10973 106.461 6.09109 107.796 4.93773C103.266 5.30886 99.3378 2.98427 93.0396 6.0238L93.0407 6.02485ZM100.089 30.5482C100.123 30.5083 100.152 30.4736 100.174 30.4494C100.143 30.4841 100.115 30.5177 100.089 30.5482ZM99.8604 30.8132C99.8957 30.7722 99.9372 30.7238 99.9877 30.6649C99.9433 30.7164 99.9008 30.7659 99.8604 30.8132ZM99.8604 30.8132C99.8442 30.8321 99.828 30.85 99.8149 30.8657L99.8604 30.8132Z" fill="#635C4C"/>
          <path d="M61.6832 4.11766C61.6256 4.13974 61.568 4.16287 61.5093 4.186C57.9555 5.6411 57.6856 11.5109 58.947 13.3298C60.2085 15.1487 61.5488 16.0329 63.1802 15.257C64.8116 14.4811 66.9291 10.9211 64.5993 8.64489L63.2014 9.46076C63.2014 9.46076 65.3948 11.2071 64.1131 12.904C62.8314 14.602 60.261 12.6664 59.9699 9.02759C59.6788 5.38877 63.8473 4.21964 66.6158 6.72297C67.5023 7.52412 68.5919 9.74568 69.8978 12.0829C68.1643 13.824 67.2465 16.4692 68.3695 19.1702C68.5909 19.7022 68.8243 20.2037 69.069 20.6768C67.6205 20.6011 66.4248 20.3173 66.1983 20.0408C65.8496 19.6139 65.9649 19.3132 66.1983 18.8885C65.2007 18.9053 64.4992 19.2995 64.5366 20.4245C62.6182 19.615 61.5862 20.3026 61.5831 21.1931C61.5801 22.0836 62.0673 22.2003 62.0673 22.2003C62.0673 22.2003 62.9588 21.4612 63.3095 21.827C63.7118 22.2455 64.4356 22.1183 64.4356 22.1183C64.4356 22.1183 63.7856 22.9331 64.7216 23.4977C65.0178 22.4905 66.2095 21.7408 69.8008 21.9448C71.699 24.8697 74.2583 26.2565 77.8273 25.8023C77.9951 25.7813 78.1659 25.755 78.3378 25.7256C78.3509 25.7508 78.3651 25.776 78.3812 25.8023C78.3903 25.8202 78.3994 25.8391 78.4085 25.857C78.5965 26.962 78.5905 27.8977 78.1963 28.682C76.7953 31.4724 75.173 29.5399 73.95 30.4105C73.95 30.4105 78.3267 32.8907 79.484 29.193C79.5487 28.9869 79.5982 28.7788 79.6376 28.5674C81.0305 31.6974 82.6275 34.6696 86.5018 33.8674C91.4475 32.8423 91.6113 29.4159 90.8805 27.3089C90.5257 26.287 89.2966 24.7898 86.6868 25.0338C84.3933 25.2482 83.4533 26.4037 83.7293 27.6611C84.0254 29.0111 85.0332 28.9396 85.9924 29.03C86.8889 29.1141 87.0618 30.2528 86.2592 30.3642C86.6838 30.6586 87.7602 30.217 87.6966 29.5736C87.6329 28.9302 87.0345 28.2899 86.3168 28.2993C84.8472 28.3172 84.2367 27.0419 85.9479 26.3795C87.925 25.6131 89.9061 26.8537 90.0092 29.0679C90.1113 31.2705 86.6282 33.655 83.8607 32.3419C81.2619 31.1086 80.3967 27.3384 79.7882 25.3902C84.0012 24.1695 88.6689 20.6747 88.3485 14.6661C88.1474 10.9064 86.8829 7.9615 84.2195 5.92603C85.6083 5.22897 86.7727 4.89989 87.1174 4.85047C88.1029 4.71169 88.8286 4.30481 89.1693 3.80751C89.5099 3.3102 89.0237 1.59226 88.1646 1.41668C88.6133 2.99374 87.078 3.24397 86.7666 3.3081C85.9388 3.47737 84.3933 4.02514 82.7448 4.97033C80.5918 3.79068 77.7586 3.04315 74.135 2.76138C70.4103 2.4712 68.6788 3.58671 66.0619 3.4616C63.632 3.3449 58.9784 1.95182 56.783 2.57003C53.1785 3.58356 53.3008 5.12067 52.7217 6.79446C55.4487 3.63402 58.4912 3.59618 61.6842 4.11871L61.6832 4.11766ZM70.6397 20.6737C70.5154 20.4455 70.3981 20.2069 70.2879 19.9556C68.794 16.5197 69.353 14.5137 70.6397 13.3803C71.9224 15.5409 73.391 17.5942 75.0568 18.5068C74.5615 19.9787 72.5976 20.5549 70.6397 20.6747V20.6737ZM76.5345 17.1505C75.3994 16.8519 73.949 15.7185 71.9153 12.5991C72.9847 12.1502 74.2067 12.0198 75.1862 12.0419C75.6885 12.0535 76.1808 12.0955 76.6518 12.1691C76.5356 12.6632 76.4598 13.1784 76.4355 13.7157C76.3789 14.9342 76.4244 16.0781 76.5345 17.1516V17.1505ZM71.4827 21.928C73.8348 21.641 75.2701 20.2311 76.8449 19.2995C77.2027 21.2299 77.707 22.8963 78.0709 24.3293C75.635 24.6321 73.1808 23.9792 71.4827 21.928ZM77.9506 14.1772C77.9941 13.6095 78.0901 13.0722 78.2256 12.5644C78.8765 12.8031 79.4436 13.1248 79.8883 13.5359C80.3108 14.9689 79.862 16.4608 78.6501 16.9108C78.4257 16.9939 78.1922 17.079 77.9446 17.1421C77.8779 16.2032 77.8698 15.217 77.9506 14.1783V14.1772ZM85.0251 20.4266C83.6615 22.1908 81.5247 23.5397 79.2586 24.1075C78.8876 22.4968 78.3913 20.7136 78.1104 18.7034C78.1255 18.6982 78.1397 18.6929 78.1548 18.6876C79.7913 18.1546 80.5837 16.7268 80.9365 15.8006C81.1902 17.7288 81.2326 18.0789 81.8583 18.4038C82.5224 18.7497 83.4705 18.1704 83.6969 17.1495C81.3519 17.9243 82.5234 15.1813 81.5905 13.3635C81.0335 12.2784 80.3229 11.43 78.8886 10.8507C79.7943 9.09173 81.2185 7.78171 82.6346 6.84178C86.4766 9.26625 88.396 16.0645 85.0251 20.4256V20.4266ZM81.1154 6.02486C79.5972 7.13406 78.1629 8.58286 77.2896 10.3849C76.5901 10.2398 75.7755 10.1315 74.8172 10.0611C73.5154 9.96542 72.171 10.386 71.0167 11.1608C69.1296 8.10974 67.6953 6.09109 66.3601 4.93773C70.8904 5.30887 74.8183 2.98428 81.1164 6.02381L81.1154 6.02486ZM74.0672 30.5482C74.0329 30.5083 74.0036 30.4736 73.9823 30.4494C74.0127 30.4841 74.041 30.5177 74.0672 30.5482ZM74.2957 30.8132C74.2603 30.7722 74.2189 30.7238 74.1683 30.6649C74.2128 30.7164 74.2552 30.7659 74.2957 30.8132ZM74.2957 30.8132C74.3119 30.8321 74.328 30.85 74.3412 30.8657L74.2957 30.8132Z" fill="#635C4C"/>
          </g>
        </svg>
        
      </div>
    </div>
  </div>
</main>