---
auth: 'true'
---

{{!< body }}
<main class="bg-common profile">
  <div class="container">
    <div class="profile__head">
      <svg class="profile__head-border" width="1293" height="9" viewBox="0 0 1293 9" fill="none" preserveAspectRatio="none"  xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1279.29 5.73962L14.1435 5.73959V3.61459L1279.29 3.61462V5.73962Z" fill="#635C4C"/>
<path d="M12 8.92709L0.798828 4.46352L12 -4.57764e-05L16.33 4.46352L12 8.92709Z" fill="#635C4C"/>
<path d="M1281.8 8.92712L1293 4.46356L1281.8 -1.62125e-05L1277.47 4.46356L1281.8 8.92712Z" fill="#635C4C"/>
</svg>
      <div class="profile__avatar">
        {{> "avatar/avatar" imgSrc="../../assets/img/avatar.png" disabled="true"}}
      </div>
      <div class="flex-1">
        <div class="user-info">
          <h1>Личный кабинет</h1>
          <div class="user-info__name">
            <p>Mellosa morgenstern</p>
            <button>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.64576 2.83988L0.942759 10.5515C0.904005 10.5904 0.876023 10.6396 0.862697 10.6924L0.00889326 14.1229C-0.0166465 14.2262 0.0136681 14.336 0.0889547 14.4114C0.145919 14.4684 0.223538 14.5 0.302933 14.5C0.327251 14.5 0.352125 14.497 0.376332 14.4909L3.80332 13.6361C3.85673 13.6227 3.90526 13.5948 3.94401 13.556L11.6477 5.84495L8.64576 2.83988Z" fill="#635C4C"/>
                <path d="M13.5561 1.78843L12.6986 0.93006C12.1255 0.356369 11.1267 0.356925 10.5542 0.93006L9.5039 1.98151L12.5057 4.98647L13.5561 3.93502C13.8423 3.64856 14 3.26729 14 2.86178C14 2.45627 13.8423 2.075 13.5561 1.78843Z" fill="#635C4C"/>
              </svg>
            </button>
          </div>
          <div class="user-info__id"><p><span>id</span> 1364622</p></div>
        </div>
        <div class="switch-block">
          <a class="switch-block__button active" href="../profile/profile.hbs">Общее</a>
          <a class="switch-block__button" href="../profile/profile-balance.hbs">Баланс</a>
        </div>
      </div>
    </div>
    <div class="profile__general">
       <div class="profile__avatar">
        <div class="level-block">
          <svg width="81" height="128" viewBox="0 0 81 128" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 1.5H79.5V108.531L40.0077 126.351L1.5 108.541V1.5Z" fill="url(#paint0_linear_732_150)" stroke="url(#paint1_linear_732_150)" stroke-width="3"/>
            <defs>
            <linearGradient id="paint0_linear_732_150" x1="40.5" y1="0" x2="40.5" y2="128" gradientUnits="userSpaceOnUse">
            <stop stop-color="#3D5A65"/>
            <stop offset="1" stop-color="#010202"/>
            </linearGradient>
            <linearGradient id="paint1_linear_732_150" x1="40.5" y1="0" x2="40.5" y2="128" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E3C668"/>
            <stop offset="1" stop-color="#6E4020"/>
            </linearGradient>
            </defs>
          </svg>
          <div class="level-block__content">
            <span>Уровень</span>
            <p>
              11
            </p>
          </div>
        </div>
         {{> "money/money" count="9999"}}
      </div>
      <div class="flex-1">
        <div class="profile__general-input-block">
          {{> "input/input" label="E-mail" type="mail"}}
          <div class="profile__general-text">
            <p>Lorem ipsum dolor sit amet. Nam earum dolores sed voluptates facilis ut tempora quam et sequi recusandae ut voluptatem tempora.</>
          </div>
        </div>
        <svg class="profile__general-border" width="863" height="34" viewBox="0 0 863 34" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M407.874 3.1875H13.3446V5.3125H407.874V3.1875Z" fill="url(#paint0_linear_1079_864)"/>
          <path d="M11.2012 0L0 4.46357L11.2012 8.92714L15.5311 4.46357L11.2012 0Z" fill="url(#paint1_linear_1079_864)"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M455.503 3.1875H849V5.3125H455.503V3.1875Z" fill="url(#paint2_linear_1079_864)"/>
          <path d="M851.143 0L862.345 4.46357L851.143 8.92714L846.813 4.46357L851.143 0Z" fill="url(#paint3_linear_1079_864)"/>
          <path d="M456.161 4.11765C456.219 4.13973 456.276 4.16286 456.335 4.18599C459.889 5.6411 460.159 11.5109 458.897 13.3298C457.636 15.1487 456.296 16.0329 454.664 15.257C453.033 14.4811 450.915 10.9211 453.245 8.64488L454.643 9.46075C454.643 9.46075 452.45 11.2071 453.731 12.904C455.013 14.602 457.583 12.6664 457.874 9.02758C458.165 5.38877 453.997 4.21964 451.229 6.72297C450.342 7.52411 449.252 9.74567 447.947 12.0829C449.68 13.824 450.598 16.4692 449.475 19.1702C449.253 19.7022 449.02 20.2037 448.775 20.6768C450.224 20.6011 451.42 20.3173 451.646 20.0408C451.995 19.6139 451.879 19.3132 451.646 18.8885C452.644 18.9053 453.345 19.2995 453.308 20.4245C455.226 19.615 456.258 20.3026 456.261 21.1931C456.264 22.0836 455.777 22.2003 455.777 22.2003C455.777 22.2003 454.886 21.4612 454.535 21.827C454.133 22.2455 453.409 22.1183 453.409 22.1183C453.409 22.1183 454.059 22.9331 453.123 23.4977C452.827 22.4905 451.635 21.7408 448.044 21.9448C446.145 24.8697 443.586 26.2565 440.017 25.8023C439.849 25.7813 439.678 25.755 439.507 25.7256C439.493 25.7508 439.479 25.776 439.463 25.8023C439.454 25.8202 439.445 25.8391 439.436 25.857C439.248 26.962 439.254 27.8977 439.648 28.682C441.049 31.4724 442.671 29.5399 443.894 30.4105C443.894 30.4105 439.518 32.8907 438.36 29.193C438.296 28.9869 438.246 28.7788 438.207 28.5674C436.814 31.6974 435.217 34.6696 431.343 33.8674C426.397 32.8423 426.233 29.4159 426.964 27.3089C427.319 26.287 428.548 24.7898 431.157 25.0337C433.451 25.2482 434.391 26.4037 434.115 27.6611C433.819 29.0111 432.811 28.9396 431.852 29.03C430.955 29.1141 430.783 30.2528 431.585 30.3642C431.161 30.6586 430.084 30.217 430.148 29.5736C430.211 28.9302 430.81 28.2899 431.527 28.2993C432.997 28.3172 433.608 27.0419 431.896 26.3795C429.919 25.6131 427.938 26.8537 427.835 29.0679C427.733 31.2705 431.216 33.655 433.984 32.3419C436.582 31.1086 437.448 27.3384 438.056 25.3902C433.843 24.1695 429.175 20.6747 429.496 14.6661C429.697 10.9064 430.961 7.96149 433.625 5.92602C432.236 5.22896 431.072 4.89988 430.727 4.85046C429.741 4.71168 429.016 4.3048 428.675 3.8075C428.334 3.31019 428.821 1.59225 429.68 1.41667C429.231 2.99373 430.766 3.24396 431.078 3.30809C431.905 3.47736 433.451 4.02513 435.1 4.97032C437.253 3.79068 440.086 3.04315 443.709 2.76138C447.434 2.4712 449.166 3.58671 451.782 3.4616C454.212 3.34489 458.866 1.95182 461.061 2.57003C464.666 3.58355 464.544 5.12067 465.123 6.79446C462.396 3.63402 459.353 3.59617 456.16 4.11871L456.161 4.11765ZM447.205 20.6737C447.329 20.4455 447.446 20.2069 447.556 19.9556C449.05 16.5197 448.491 14.5137 447.205 13.3803C445.922 15.5409 444.453 17.5942 442.787 18.5068C443.283 19.9787 445.247 20.5549 447.205 20.6747V20.6737ZM441.31 17.1505C442.445 16.8519 443.895 15.7185 445.929 12.5991C444.86 12.1502 443.638 12.0198 442.658 12.0419C442.156 12.0534 441.664 12.0955 441.193 12.1691C441.309 12.6632 441.385 13.1784 441.409 13.7157C441.465 14.9342 441.42 16.0781 441.31 17.1516V17.1505ZM446.362 21.928C444.009 21.641 442.574 20.2311 441 19.2995C440.642 21.2299 440.137 22.8963 439.773 24.3293C442.209 24.6321 444.663 23.9792 446.362 21.928ZM439.894 14.1772C439.85 13.6095 439.754 13.0722 439.619 12.5644C438.968 12.8031 438.401 13.1248 437.956 13.5359C437.534 14.9689 437.982 16.4608 439.194 16.9108C439.419 16.9939 439.652 17.079 439.9 17.1421C439.966 16.2032 439.975 15.217 439.894 14.1783V14.1772ZM432.819 20.4266C434.183 22.1908 436.32 23.5397 438.586 24.1075C438.957 22.4968 439.453 20.7136 439.734 18.7034C439.719 18.6982 439.705 18.6929 439.689 18.6876C438.053 18.1546 437.261 16.7268 436.908 15.8006C436.654 17.7288 436.612 18.0789 435.986 18.4038C435.322 18.7497 434.374 18.1704 434.147 17.1495C436.492 17.9243 435.321 15.1813 436.254 13.3635C436.811 12.2784 437.521 11.43 438.956 10.8507C438.05 9.09172 436.626 7.7817 435.21 6.84177C431.368 9.26625 429.448 16.0645 432.819 20.4256V20.4266ZM436.729 6.02485C438.247 7.13406 439.681 8.58285 440.555 10.3849C441.254 10.2398 442.069 10.1315 443.027 10.0611C444.329 9.96541 445.673 10.386 446.828 11.1608C448.715 8.10973 450.149 6.09109 451.484 4.93773C446.954 5.30886 443.026 2.98427 436.728 6.0238L436.729 6.02485ZM443.777 30.5482C443.811 30.5083 443.841 30.4736 443.862 30.4494C443.832 30.4841 443.803 30.5177 443.777 30.5482ZM443.549 30.8132C443.584 30.7722 443.625 30.7238 443.676 30.6649C443.632 30.7164 443.589 30.7659 443.549 30.8132ZM443.549 30.8132C443.532 30.8321 443.516 30.85 443.503 30.8657L443.549 30.8132Z" fill="url(#paint4_linear_1079_864)"/>
          <path d="M405.371 4.11766C405.314 4.13974 405.256 4.16287 405.198 4.186C401.644 5.6411 401.374 11.5109 402.635 13.3298C403.897 15.1487 405.237 16.0329 406.868 15.257C408.5 14.4811 410.617 10.9211 408.288 8.64489L406.89 9.46076C406.89 9.46076 409.083 11.2071 407.801 12.904C406.52 14.602 403.949 12.6664 403.658 9.02759C403.367 5.38877 407.536 4.21964 410.304 6.72297C411.191 7.52412 412.28 9.74568 413.586 12.0829C411.853 13.824 410.935 16.4692 412.058 19.1702C412.279 19.7022 412.513 20.2037 412.757 20.6768C411.309 20.6011 410.113 20.3173 409.887 20.0408C409.538 19.6139 409.653 19.3132 409.887 18.8885C408.889 18.9053 408.187 19.2995 408.225 20.4245C406.306 19.615 405.274 20.3026 405.271 21.1931C405.268 22.0836 405.756 22.2003 405.756 22.2003C405.756 22.2003 406.647 21.4612 406.998 21.827C407.4 22.2455 408.124 22.1183 408.124 22.1183C408.124 22.1183 407.474 22.9331 408.41 23.4977C408.706 22.4905 409.898 21.7408 413.489 21.9448C415.387 24.8697 417.947 26.2565 421.516 25.8023C421.683 25.7813 421.854 25.755 422.026 25.7256C422.039 25.7508 422.053 25.776 422.069 25.8023C422.079 25.8202 422.088 25.8391 422.097 25.857C422.285 26.962 422.279 27.8977 421.885 28.682C420.484 31.4724 418.861 29.5399 417.638 30.4105C417.638 30.4105 422.015 32.8907 423.172 29.193C423.237 28.9869 423.287 28.7788 423.326 28.5674C424.719 31.6974 426.316 34.6696 430.19 33.8674C435.136 32.8423 435.3 29.4159 434.569 27.3089C434.214 26.287 432.985 24.7898 430.375 25.0338C428.082 25.2482 427.142 26.4037 427.417 27.6611C427.714 29.0111 428.721 28.9396 429.681 29.03C430.577 29.1141 430.75 30.2528 429.948 30.3642C430.372 30.6586 431.449 30.217 431.385 29.5736C431.321 28.9302 430.723 28.2899 430.005 28.2993C428.535 28.3172 427.925 27.0419 429.636 26.3795C431.613 25.6131 433.594 26.8537 433.698 29.0679C433.8 31.2705 430.316 33.655 427.549 32.3419C424.95 31.1086 424.085 27.3384 423.477 25.3902C427.689 24.1695 432.357 20.6747 432.037 14.6661C431.836 10.9064 430.571 7.9615 427.908 5.92603C429.297 5.22897 430.461 4.89989 430.806 4.85047C431.791 4.71169 432.517 4.30481 432.858 3.80751C433.198 3.3102 432.712 1.59226 431.853 1.41668C432.302 2.99374 430.766 3.24397 430.455 3.3081C429.627 3.47737 428.082 4.02514 426.433 4.97033C424.28 3.79068 421.447 3.04315 417.823 2.76138C414.099 2.4712 412.367 3.58671 409.75 3.4616C407.32 3.3449 402.667 1.95182 400.471 2.57003C396.867 3.58356 396.989 5.12067 396.41 6.79446C399.137 3.63402 402.179 3.59618 405.372 4.11871L405.371 4.11766ZM414.328 20.6737C414.204 20.4455 414.086 20.2069 413.976 19.9556C412.482 16.5197 413.041 14.5137 414.328 13.3803C415.611 15.5409 417.079 17.5942 418.745 18.5068C418.25 19.9787 416.286 20.5549 414.328 20.6747V20.6737ZM420.223 17.1505C419.088 16.8519 417.637 15.7185 415.604 12.5991C416.673 12.1502 417.895 12.0198 418.875 12.0419C419.377 12.0535 419.869 12.0955 420.34 12.1691C420.224 12.6632 420.148 13.1784 420.124 13.7157C420.067 14.9342 420.113 16.0781 420.223 17.1516V17.1505ZM415.171 21.928C417.523 21.641 418.958 20.2311 420.533 19.2995C420.891 21.2299 421.395 22.8963 421.759 24.3293C419.323 24.6321 416.869 23.9792 415.171 21.928ZM421.639 14.1772C421.682 13.6095 421.778 13.0722 421.914 12.5644C422.565 12.8031 423.132 13.1248 423.577 13.5359C423.999 14.9689 423.55 16.4608 422.338 16.9108C422.114 16.9939 421.88 17.079 421.633 17.1421C421.566 16.2032 421.558 15.217 421.639 14.1783V14.1772ZM428.713 20.4266C427.35 22.1908 425.213 23.5397 422.947 24.1075C422.576 22.4968 422.08 20.7136 421.799 18.7034C421.814 18.6982 421.828 18.6929 421.843 18.6876C423.48 18.1546 424.272 16.7268 424.625 15.8006C424.878 17.7288 424.921 18.0789 425.547 18.4038C426.211 18.7497 427.159 18.1704 427.385 17.1495C425.04 17.9243 426.212 15.1813 425.279 13.3635C424.722 12.2784 424.011 11.43 422.577 10.8507C423.483 9.09172 424.907 7.78171 426.323 6.84178C430.165 9.26625 432.084 16.0645 428.713 20.4256V20.4266ZM424.804 6.02486C423.286 7.13406 421.851 8.58286 420.978 10.3849C420.278 10.2398 419.464 10.1315 418.505 10.0611C417.204 9.96542 415.859 10.386 414.705 11.1608C412.818 8.10974 411.384 6.09109 410.048 4.93773C414.579 5.30887 418.507 2.98428 424.805 6.02381L424.804 6.02486ZM417.755 30.5482C417.721 30.5083 417.692 30.4736 417.671 30.4494C417.701 30.4841 417.729 30.5177 417.755 30.5482ZM417.984 30.8132C417.949 30.7722 417.907 30.7238 417.857 30.6649C417.901 30.7164 417.944 30.7659 417.984 30.8132ZM417.984 30.8132C418 30.8321 418.016 30.85 418.029 30.8657L417.984 30.8132Z" fill="url(#paint5_linear_1079_864)"/>
          <defs>
          <linearGradient id="paint0_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint1_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint2_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint3_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint4_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          <linearGradient id="paint5_linear_1079_864" x1="-127.656" y1="33.9999" x2="989.343" y2="33.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D310C"/>
          <stop offset="0.348958" stop-color="#755708"/>
          <stop offset="0.498617" stop-color="#76643C"/>
          <stop offset="0.645833" stop-color="#8E6607"/>
          <stop offset="1" stop-color="#3D310C"/>
          </linearGradient>
          </defs>
        </svg>

      </div>
    </div>
  </div>
</main>