.profile {
  padding-bottom: calc(16.5em + 90px);
  padding-top: 1.75em;
  & .container {
    padding: 0 30px;
    @media (max-width: 810px) {
      padding: 0 20px;
    }
  }
  @media (max-width: 1000px) {
    padding-top: 124px;
    padding-bottom: 100px;
  }
  &__avatar {
    width: 217px;
    padding: 0 65px 0 45px;
    @media (max-width: 810px) {
      padding: 0 19px 0 10px;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & .avatar {
      width: 107px;
      height: 107px;
      display: block;
      @media (max-width: 810px) {
        margin-bottom: -35%;
        z-index: 100;
      }
    }
  }
  & .flex-1 {
    padding-right: 1.9vw;
    @media (max-width: 810px) {
      padding-right: 0;
    }
  }
  &__head {
    padding-bottom: 0.9375em;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    @media (max-width: 1000px) {
      font-size: 14.5px;
    }
    @media (max-width: 810px) {
      flex-direction: column;
      padding-bottom: 0;
    }
    &-border {
      transform: translateY(50%);
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      @media (max-width: 810px) {
        bottom: 0;
      }
    }
    & .flex-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 810px) {
        align-items: flex-start;
        margin-bottom: 36px;
        flex-wrap: nowrap;
      }
    }
    & .switch-block {
      align-self: flex-end;
      &__button {
        @media (max-width: 810px) {
          padding-bottom: 0.9375rem;
        }

        &:not(:last-child) {
          padding-right: 0.9em;
        }
        position: relative;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.375em;
        line-height: 88.6%;
        color: #635c4c;
        &.active,
        &:hover {
          color: #ffc734;
          &::after {
            content: url(../../assets/img/profile/active-switch.svg);
            position: absolute;
            bottom: -0.9375rem;
            transform: translateX(-50%);
            left: 50%;
            @media (max-width: 810px) {
              bottom: 0;
            }
          }
        }
      }
      @media (max-width: 810px) {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 0 30px;
        position: relative;
        &::-webkit-scrollbar {
          width: 0;
        }
        &__button {
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
    }
    & .user-info {
      font-weight: 500;
      font-size: 1.375em;
      line-height: 88.6%;
      color: #635c4c;
      & h1 {
        @media (max-width: 810px) {
          margin-top: 0.2em;
        }
      }
      &__name {
        margin: 0.15em 0;
        color: #f5e3cc;
        font-weight: 700;
        font-size: 1.18em;
        line-height: 105.6%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        @media (max-width: 1000px) {
          font-size: 22px;
        }
        @media (max-width: 810px) {
          margin: 19px 0 5px;
        }
        & button {
          background-color: transparent;
          border: none;
          margin-left: 0.8rem;
        }
      }
      &__id {
        & a {
          color: inherit;
          text-decoration: none;
        }
        & span {
          text-transform: uppercase;
        }
      }
    }
  }
  &__general {
    margin-top: 1px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    & .flex-1 {
      position: relative;
      flex-direction: column;
      padding-top: 1.875em;
      display: flex;
      @media (max-width: 810px) {
        padding-top: 54px;
      }
      &.promocode {
        flex-direction: column;
        align-items: center;
        max-width: 862px;
        box-sizing: border-box;
        padding-right: 0;
        &.success {
          & .promocode-message-success {
            display: block;
          }
        }
        &.error {
          & .promocode-message-error {
            display: block;
          }
        }
        & .promocode {
          &-btn {
            margin-bottom: 20px;
            pointer-events: none;
            width: 213px;
            height: 59px;
            background-color: transparent;
            padding: 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;
            & svg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            & span {
              font-weight: 500;
              font-size: 22px;
              line-height: 88.6%;
              text-align: center;
              color: #000000;
              z-index: 10;
            }
            &:not([disabled]):hover {
              cursor: pointer;
              & svg path {
                fill: #f2a000;
              }
            }
          }
          &-message {
            display: none;
            padding-left: 31px;
            position: relative;
            font-weight: 400;
            font-size: 15px;
            line-height: 130%;
            & svg {
              position: absolute;
              top: -3px;
              left: 0;
            }
            &-success {
              color: #69c79f;
            }
            &-error {
              color: #ff7a00;
            }
          }
        }
        & .input {
          width: 100%;
          max-width: 640px;
          margin-bottom: 40px;
          & label {
            width: 168px;
          }
          &.value ~ .promocode-btn {
            pointer-events: auto;
          }
        }
        & .profile__general-input-block {
          justify-content: center;
        }
        & .profile__general-border {
          width: 100%;
        }
      }
    }
    &-balance .flex-1 {
      padding-top: 1.5em;
      @media (max-width: 810px) {
        padding-top: 54px;
      }
      @media (max-width: 1000px) {
        padding-right: 0;
      }
      & .profile__general-border {
        transform: translate(-50%, 150%);
      }
    }
    & .history-balance {
      margin-top: 3.5em;
      @media (max-width: 810px) {
        margin: 138px -10px 0;
      }
      &__name-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__nav {
        & button {
          padding: 0;
          background-color: transparent;
          border: none;
          font-weight: 700;
          font-size: 1.375em;
          line-height: 88.6%;
          color: #635c4c;
          font-family: inherit;
          &:not(:last-child) {
            margin-right: 1vw;
          }
          &.active,
          &:hover {
            color: #ffc734;
          }
        }
      }
      &__list {
        margin-top: 1.6em;
        &[data-type="in"] .history-balance__item:not([data-type="in"]) {
          display: none;
        }
        &[data-type="out"] .history-balance__item:not([data-type="out"]) {
          display: none;
        }
      }
    }
    & h2 {
      font-weight: 700;
      font-size: 1.625em;
      line-height: 88.6%;
      color: #f5e3cc;
    }
    &-input-block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 810px) {
        margin-top: 0;
      }
    }
    &-border {
      position: absolute;
      transform: translate(0, 50%);
      top: 100%;
      left: 0;
      width: 79.59%;
      @media (max-width: 810px) {
        width: 45vw;
      }
    }

    & .input {
      width: 49.5%;
      height: fit-content;
      @media (max-width: 810px) {
        width: calc(100% - 10px);
      }
    }
    &-text {
      font-size: 1.125em;
      line-height: 130%;
      color: #f5e3cc;
      width: 43.5%;
      margin-left: 7%;
      @media (max-width: 810px) {
        font-size: 16px;
        width: auto;
        margin-left: 0;
        margin-top: 19px;
      }
    }
  }
}
.level-block {
  width: 100%;
  position: relative;
  max-width: 81px;
  padding-bottom: 120%;
  &.without-level {
    margin-bottom: 4.25em;
    @media (max-width: 810px) {
      margin-bottom: 0;
    }
  }
  & > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px #a23c1b);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-width: 95%;
    top: 38%;
    transform: translateX(-50%);
    left: 50%;
    color: #f5e3cc;
    line-height: 103.6%;
    text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
    &:not(.without-level) {
      @media (max-width: 810px) {
        & span {
          font-size: 16px;
        }
      }
    }
    & .money img {
      width: 28px;
      height: 26px;
    }
    &.without-level {
      & .money {
        margin-top: 0.2em;
        @media (max-width: 810px) {
          margin-top: 0.4em;
        }
      }
    }
  }
  & p {
    font-weight: 700;
    font-size: 53px;
    text-transform: uppercase;
  }
  & span {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 1em;
  }
}
.profile__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .money {
    margin-top: 1.3em;
    font-size: 1.375em;
    line-height: 103.6%;
    text-transform: uppercase;
    color: #f5e3cc;
    text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      margin-right: 0;
      margin-bottom: 0.1em;
    }
  }
}
.quest {
  width: 100%;
  display: grid;
  grid-template-columns: 216px 1fr;
  margin-top: 10px;
  @media (max-width: 810px) {
    position: relative;
    grid-template-columns: 1fr;
    margin-top: 35px;
  }
  &-list {
    position: relative;
    padding-top: 4px;
    @media (max-width: 810px) {
      padding-top: 7px;
    }
    &__bg {
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 346px;
      @media (max-width: 810px) {
        display: none;
      }
      &-xs {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        @media (max-width: 810px) {
          display: block;
        }
      }
    }
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    @media (max-width: 810px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-button {
    width: 100%;
    height: 76px;
    font-weight: 700;
    font-size: 19px;
    line-height: 105.6%;
    text-align: right;
    color: #f5e3cc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding: 0 22px;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    @media (max-width: 810px) {
      padding: 0;
      width: 33%;
      max-width: 114px;
      height: 47px;
      display: flex;
      justify-content: center;
      position: static;
      & span {
        display: none;
      }
      & b {
        position: relative;
      }
    }
    & svg {
      position: relative;
      display: none;
      margin-right: 5px;
      @media (max-width: 810px) {
        display: block;
      }
    }
    &__bg {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 88px;
      pointer-events: none;
      background-size: 100% 100%;
      &:first-child {
        height: 82px;
        transform: translateY(0);
        top: 0;
      }
      @media (max-width: 810px) {
        display: none;
      }
      &-xs {
        transform: translateY(0);
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
    &.active,
    &:hover {
      color: #ffc734;
    }
    &.active {
      & .quest-button__bg {
        display: block;
        @media (max-width: 810px) {
          display: none;
        }
        &-xs {
          display: none;
          @media (max-width: 810px) {
            display: block;
          }
        }
      }
    }
  }
  &-item {
    display: flex;
    padding: 25px 0 22px;
    margin: 0 35px;
    border-bottom: 1px solid #635c4c;
    gap: 4%;
    @media (max-width: 810px) {
      margin: 0 20px;
      flex-direction: column;
      padding: 30px 0 10px;
    }
    &__info {
      color: #f5e3cc;
      width: 63%;
      @media (max-width: 810px) {
        width: 100%;
      }
    }
    &__name {
      font-weight: 700;
      font-size: 26px;
      line-height: 105.6%;
    }
    &__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 99.6%;
      margin-top: 5px;
      @media (max-width: 810px) {
        margin-top: 10px;
      }
    }
    &__goal {
      margin-top: 25px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #ffffff;
      padding: 3px 9.5px 3px 15px;
      position: relative;
      width: fit-content;
      @media (max-width: 810px) {
        margin-top: 10px;
      }
      &-right,
      &-left,
      &-center {
        position: absolute;
        width: 10px;
       
      }
      &-right,
      &-left {
        top: 9px;
        bottom: 9px;
        background-color: #004313;
        &::before,
        &::after {
          content: '';
          position: absolute;
          right: 0;
          left: 0;
          height: 10px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        &::before {
          top: -9px;
        }
        &::after {
          bottom: -9px;
        }
      }
      &-left {
        left: 0;
        &::before{
          background-image: url(../../assets/img/quest/left.svg);
        }
        &::after {
         background-image: url(../../assets/img/quest/right.svg);
         transform: scale(-1,-1);
        }
      }
      &-right {
        right: 0;
        &::before{
          background-image: url(../../assets/img/quest/right.svg);
        }
        &::after {
         background-image: url(../../assets/img/quest/left.svg);
         transform: scale(-1,-1);
        }
      }
      &-center {
        height: 100%;
        top: 0;
        width: auto;
        left: 9px;
        right: 9px;
        background-color: #004313;
      }
      & p {
        position: relative;
      }
    }
    &__status {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #ffffff;
      flex: 1;
      &-text {
        margin: 37px 12px 0 auto;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
        color: #948d7e;
        & small {
          display: block;
          font-size: 15px;
          color: #635c4c;
          @media (max-width: 810px) {
          }
        }
        @media (max-width: 810px) {
          text-align: left;
          margin: 10px 0 0;
        }
      }
    }
    &__button {
      margin: 37px auto 0;
      display: block;
      position: relative;
      background-color: transparent;
      padding: 10px 15px 9px;
      border: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 88.6%;
      text-align: center;
      color: #000000;
      @media (max-width: 810px) {
        margin: 10px 0 0;
      }
      & span {
        position: relative;
      }
      & svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:hover {
        & svg path {
          fill: #f2a000;
        }
      }
      &[disabled] {
        pointer-events: none;
      }
    }
  }
}
