@import './reset.css';
@import './mixins.scss';
@import './variables.scss';
@import './fonts.css';
@import './general.scss';
@import '../pages/news/style.scss';
@import '../pages/article/style.scss';
@import '../pages/profile/style.scss';
@import '../pages/shop/style.scss';
@import '../pages/index/style.scss';
@import '../pages/product/style.scss';
@import '../pages/auth/style.scss';
@import '../pages/legal/style.scss';
@import '../pages/contacts/style.scss';

@import '../partials/input/style.scss';
@import '../partials/input-balance/style.scss';
@import '../partials/link/style.scss';
@import '../partials/language/style.scss';
@import '../partials/language-select/style.scss';
@import '../partials/avatar/style.scss';
@import '../partials/money/style.scss';
@import '../partials/notifications/style.scss';
@import '../partials/button-singin/style.scss';
@import '../partials/header-nav/style.scss';
@import '../partials/header/style.scss';
@import '../partials/footer/style.scss';
@import '../partials/footer-nav/style.scss';
@import '../partials/news-list/style.scss';
@import '../partials/news-item/style.scss';
@import '../partials/balance-item/style.scss';
@import '../partials/product/style.scss';
@import '../partials/button-yellow/style.scss';
@import '../partials/popup/style.scss';
@import '../partials/auth-form/style.scss';
@import '../partials/confirm/style.scss';
@import '../partials/pay-card__item/style.scss';
@import '../partials/choose-region/style.scss';
@import '../partials/cookies/style.scss';

@import '../assets/js/swiper/swiper-bundle.min.css'