{{!< body }}
<main class="main-page">
  <div class="news-block">
    <div class="container">
      <div>
        <div class="main-page-title">
          <h1>Masters & Heroes</h1>
          <p>Собери несокрушимый отряд и побеждай других игроков</p>
        </div>
        {{> "soc-block/soc-block" }}
      </div>
      <div class="news-block-main">
        <a href="../news/news.hbs"></a>
        <div class="news-list">
          {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union.png" title="Ваши Герои" itemDate="22 / 03 / 2022" desription="Особенности боевой системы" }}
          {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-2.png" title="Ваши противники" itemDate="22 / 03 / 2022" desription="Вы столкнетесь с опасными существами — посмотрим на них повнимательнее" }}
          {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-3.png" title="Ваш город" itemDate="22 / 03 / 2022" desription="Первый взгляд на экран поселения и знакомство с Мастерами" }}
        </div>
      </div>
    </div>
  </div>
  <div class="guide-wrapper container">
    <div class="guide-block">
      <div class="guide-block__info">
        <h2>гайд для новичка</h2>
        <p>Кириллическая рыба используется дизайнерами, когда нужно быстро заполнить макеты или прототипы содержимым.</p>
      </div>
    </div>
  </div>
  <div class="invitation">
    <div class="container">
      <div class="invitation-info block-info">
        <h2>Пригласи Друзей</h2>
        <p>Выясни, кто из вас лучший правитель!</p>
        {{> "button-singin/button-singin" text="Приглаисть" }}
      </div>
      <svg class="invitation-border" width="1301" height="35" viewBox="0 0 1301 35" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M628.529 3.91943H14.0001V6.04443H628.529V3.91943Z" fill="url(#paint0_linear_953_631)"/>
        <path d="M11.8567 0.731934L0.655518 5.1955L11.8567 9.65907L16.1867 5.1955L11.8567 0.731934Z" fill="url(#paint1_linear_953_631)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M676.158 3.91943H1287.19V6.04443H676.158V3.91943Z" fill="url(#paint2_linear_953_631)"/>
        <path d="M1289.33 0.731934L1300.53 5.1955L1289.33 9.65907L1285 5.1955L1289.33 0.731934Z" fill="url(#paint3_linear_953_631)"/>
        <path d="M676.817 4.84959C676.874 4.87167 676.932 4.8948 676.99 4.91793C680.544 6.37303 680.814 12.2429 679.553 14.0618C678.291 15.8806 676.951 16.7648 675.32 15.9889C673.688 15.213 671.571 11.653 673.901 9.37682L675.298 10.1927C675.298 10.1927 673.105 11.939 674.387 13.6359C675.668 15.3339 678.239 13.3983 678.53 9.75952C678.821 6.1207 674.653 4.95157 671.884 7.4549C670.998 8.25605 669.908 10.4776 668.602 12.8148C670.336 14.5559 671.253 17.2012 670.13 19.9022C669.909 20.4341 669.676 20.9357 669.431 21.4088C670.879 21.3331 672.075 21.0492 672.302 20.7727C672.65 20.3458 672.535 20.0451 672.302 19.6204C673.299 19.6372 674.001 20.0315 673.963 21.1564C675.882 20.3469 676.914 21.0345 676.917 21.925C676.92 22.8155 676.432 22.9322 676.432 22.9322C676.432 22.9322 675.541 22.1931 675.19 22.559C674.788 22.9774 674.064 22.8502 674.064 22.8502C674.064 22.8502 674.714 23.665 673.778 24.2296C673.482 23.2224 672.29 22.4728 668.699 22.6767C666.801 25.6017 664.242 26.9884 660.672 26.5342C660.505 26.5132 660.334 26.4869 660.162 26.4575C660.149 26.4827 660.135 26.508 660.119 26.5342C660.11 26.5521 660.1 26.571 660.091 26.5889C659.903 27.6939 659.909 28.6296 660.304 29.414C661.705 32.2043 663.327 30.2719 664.55 31.1424C664.55 31.1424 660.173 33.6226 659.016 29.9249C658.951 29.7189 658.902 29.5107 658.862 29.2994C657.469 32.4293 655.872 35.4016 651.998 34.5993C647.052 33.5743 646.889 30.1478 647.619 28.0409C647.974 27.0189 649.203 25.5218 651.813 25.7657C654.106 25.9802 655.047 27.1356 654.771 28.3931C654.474 29.743 653.467 29.6715 652.507 29.762C651.611 29.8461 651.438 30.9847 652.241 31.0962C651.816 31.3905 650.74 30.949 650.803 30.3055C650.867 29.6621 651.465 29.0218 652.183 29.0313C653.653 29.0491 654.263 27.7738 652.552 27.1114C650.575 26.345 648.594 27.5856 648.491 29.7998C648.388 32.0024 651.872 34.387 654.639 33.0738C657.238 31.8405 658.103 28.0703 658.712 26.1221C654.499 24.9015 649.831 21.4067 650.151 15.3981C650.353 11.6383 651.617 8.69342 654.28 6.65796C652.892 5.96089 651.727 5.63181 651.382 5.5824C650.397 5.44362 649.671 5.03673 649.331 4.53943C648.99 4.04213 649.476 2.32418 650.335 2.1486C649.887 3.72567 651.422 3.97589 651.733 4.04003C652.561 4.2093 654.107 4.75707 655.755 5.70226C657.908 4.52261 660.741 3.77508 664.365 3.49331C668.09 3.20313 669.821 4.31864 672.438 4.19353C674.868 4.07683 679.521 2.68375 681.717 3.30196C685.321 4.31549 685.199 5.8526 685.778 7.52639C683.051 4.36595 680.009 4.32811 676.816 4.85064L676.817 4.84959ZM667.86 21.4056C667.984 21.1775 668.102 20.9388 668.212 20.6875C669.706 17.2516 669.147 15.2456 667.86 14.1122C666.577 16.2728 665.109 18.3261 663.443 19.2387C663.938 20.7107 665.902 21.2868 667.86 21.4067V21.4056ZM661.965 17.8825C663.1 17.5839 664.551 16.4505 666.585 13.331C665.515 12.8821 664.293 12.7517 663.314 12.7738C662.811 12.7854 662.319 12.8274 661.848 12.901C661.964 13.3952 662.04 13.9104 662.064 14.4476C662.121 15.6662 662.076 16.8101 661.965 17.8835V17.8825ZM667.017 22.6599C664.665 22.3729 663.23 20.963 661.655 20.0315C661.297 21.9618 660.793 23.6282 660.429 25.0613C662.865 25.3641 665.319 24.7112 667.017 22.6599ZM660.549 14.9092C660.506 14.3414 660.41 13.8042 660.274 13.2963C659.623 13.535 659.056 13.8567 658.612 14.2678C658.189 15.7009 658.638 17.1928 659.85 17.6427C660.074 17.7258 660.308 17.811 660.555 17.874C660.622 16.9352 660.63 15.949 660.549 14.9102V14.9092ZM653.475 21.1585C654.838 22.9228 656.975 24.2717 659.241 24.8394C659.612 23.2287 660.109 21.4456 660.39 19.4353C660.374 19.4301 660.36 19.4248 660.345 19.4196C658.708 18.8865 657.916 17.4587 657.563 16.5325C657.31 18.4607 657.267 18.8108 656.641 19.1357C655.977 19.4816 655.029 18.9023 654.803 17.8814C657.148 18.6563 655.977 15.9132 656.909 14.0954C657.466 13.0104 658.177 12.1619 659.611 11.5826C658.706 9.82365 657.281 8.51364 655.865 7.57371C652.023 9.99818 650.104 16.7964 653.475 21.1575V21.1585ZM657.384 6.75679C658.903 7.86599 660.337 9.31479 661.21 11.1168C661.91 10.9718 662.724 10.8635 663.683 10.793C664.984 10.6973 666.329 11.1179 667.483 11.8928C669.37 8.84167 670.805 6.82302 672.14 5.66966C667.609 6.0408 663.682 3.7162 657.383 6.75573L657.384 6.75679ZM664.433 31.2802C664.467 31.2402 664.496 31.2055 664.517 31.1813C664.487 31.216 664.459 31.2497 664.433 31.2802ZM664.204 31.5451C664.24 31.5041 664.281 31.4557 664.332 31.3969C664.287 31.4484 664.245 31.4978 664.204 31.5451ZM664.204 31.5451C664.188 31.564 664.172 31.5819 664.159 31.5977L664.204 31.5451Z" fill="url(#paint4_linear_953_631)"/>
        <path d="M626.027 4.84959C625.969 4.87167 625.912 4.8948 625.853 4.91793C622.299 6.37303 622.029 12.2429 623.291 14.0618C624.552 15.8806 625.893 16.7648 627.524 15.9889C629.155 15.213 631.273 11.6531 628.943 9.37682L627.545 10.1927C627.545 10.1927 629.739 11.939 628.457 13.6359C627.175 15.3339 624.605 13.3983 624.314 9.75952C624.023 6.1207 628.191 4.95158 630.96 7.4549C631.846 8.25605 632.936 10.4776 634.242 12.8148C632.508 14.5559 631.59 17.2012 632.713 19.9022C632.935 20.4341 633.168 20.9357 633.413 21.4088C631.964 21.3331 630.769 21.0492 630.542 20.7727C630.193 20.3458 630.309 20.0451 630.542 19.6204C629.544 19.6372 628.843 20.0315 628.88 21.1564C626.962 20.3469 625.93 21.0345 625.927 21.925C625.924 22.8155 626.411 22.9322 626.411 22.9322C626.411 22.9322 627.303 22.1931 627.653 22.559C628.056 22.9774 628.779 22.8502 628.779 22.8502C628.779 22.8502 628.129 23.665 629.065 24.2296C629.362 23.2224 630.553 22.4728 634.145 22.6767C636.043 25.6017 638.602 26.9884 642.171 26.5342C642.339 26.5132 642.51 26.4869 642.682 26.4575C642.695 26.4827 642.709 26.508 642.725 26.5342C642.734 26.5521 642.743 26.571 642.752 26.5889C642.94 27.6939 642.934 28.6296 642.54 29.414C641.139 32.2043 639.517 30.2719 638.294 31.1424C638.294 31.1424 642.67 33.6226 643.828 29.9249C643.892 29.7189 643.942 29.5107 643.981 29.2994C645.374 32.4293 646.971 35.4016 650.846 34.5993C655.791 33.5743 655.955 30.1478 655.224 28.0409C654.869 27.0189 653.64 25.5218 651.031 25.7657C648.737 25.9802 647.797 27.1356 648.073 28.3931C648.369 29.743 649.377 29.6715 650.336 29.762C651.233 29.8461 651.406 30.9847 650.603 31.0962C651.028 31.3905 652.104 30.949 652.04 30.3055C651.977 29.6621 651.378 29.0218 650.661 29.0313C649.191 29.0491 648.581 27.7738 650.292 27.1114C652.269 26.345 654.25 27.5856 654.353 29.7998C654.455 32.0025 650.972 34.387 648.204 33.0738C645.606 31.8405 644.741 28.0703 644.132 26.1221C648.345 24.9015 653.013 21.4067 652.692 15.3981C652.491 11.6383 651.227 8.69343 648.563 6.65796C649.952 5.9609 651.117 5.63182 651.461 5.58241C652.447 5.44362 653.172 5.03674 653.513 4.53944C653.854 4.04214 653.367 2.32419 652.508 2.14861C652.957 3.72567 651.422 3.9759 651.11 4.04003C650.283 4.20931 648.737 4.75708 647.089 5.70226C644.936 4.52262 642.102 3.77509 638.479 3.49332C634.754 3.20314 633.023 4.31865 630.406 4.19353C627.976 4.07683 623.322 2.68375 621.127 3.30196C617.522 4.31549 617.645 5.8526 617.065 7.52639C619.792 4.36596 622.835 4.32811 626.028 4.85064L626.027 4.84959ZM634.984 21.4056C634.859 21.1775 634.742 20.9388 634.632 20.6875C633.138 17.2516 633.697 15.2456 634.984 14.1122C636.266 16.2728 637.735 18.3261 639.401 19.2387C638.905 20.7107 636.941 21.2868 634.984 21.4067V21.4056ZM640.878 17.8825C639.743 17.5839 638.293 16.4505 636.259 13.331C637.329 12.8821 638.551 12.7517 639.53 12.7738C640.032 12.7854 640.525 12.8274 640.996 12.901C640.879 13.3952 640.804 13.9104 640.779 14.4476C640.723 15.6662 640.768 16.8101 640.878 17.8835V17.8825ZM635.827 22.6599C638.179 22.3729 639.614 20.963 641.189 20.0315C641.546 21.9618 642.051 23.6282 642.415 25.0613C639.979 25.3641 637.525 24.7112 635.827 22.6599ZM642.294 14.9092C642.338 14.3414 642.434 13.8042 642.569 13.2964C643.22 13.535 643.787 13.8567 644.232 14.2678C644.655 15.7009 644.206 17.1928 642.994 17.6427C642.77 17.7258 642.536 17.811 642.288 17.874C642.222 16.9352 642.214 15.949 642.294 14.9102V14.9092ZM649.369 21.1585C648.005 22.9228 645.869 24.2717 643.602 24.8394C643.231 23.2287 642.735 21.4456 642.454 19.4353C642.469 19.4301 642.484 19.4248 642.499 19.4196C644.135 18.8865 644.927 17.4588 645.28 16.5325C645.534 18.4607 645.576 18.8108 646.202 19.1357C646.866 19.4816 647.814 18.9023 648.041 17.8814C645.696 18.6563 646.867 15.9132 645.934 14.0954C645.377 13.0104 644.667 12.1619 643.232 11.5826C644.138 9.82366 645.562 8.51364 646.978 7.57371C650.82 9.99819 652.74 16.7964 649.369 21.1575V21.1585ZM645.459 6.75679C643.941 7.86599 642.507 9.31479 641.633 11.1168C640.934 10.9718 640.119 10.8635 639.161 10.793C637.859 10.6974 636.515 11.1179 635.36 11.8928C633.473 8.84167 632.039 6.82302 630.704 5.66966C635.234 6.0408 639.162 3.71621 645.46 6.75574L645.459 6.75679ZM638.411 31.2802C638.377 31.2402 638.347 31.2055 638.326 31.1813C638.357 31.216 638.385 31.2497 638.411 31.2802ZM638.64 31.5451C638.604 31.5041 638.563 31.4557 638.512 31.3969C638.557 31.4484 638.599 31.4978 638.64 31.5451ZM638.64 31.5451C638.656 31.564 638.672 31.5819 638.685 31.5977L638.64 31.5451Z" fill="url(#paint5_linear_953_631)"/>
        <defs>
        <linearGradient id="paint0_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint1_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint2_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint3_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint4_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint5_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        </defs>
      </svg>

    </div>
  </div>
  <div class="download">
    <div class="container">
      <div class="block-info">
        <h2>Скачай игру</h2>
        <p>Герои ждут твоих приказов</p>
      {{> "soc-block/soc-block" }}
      </div>
    </div>
  </div>

</main>