{{!< body }}
<main class="main-page">
  <div class="news-block">
    <div class="video-wrapper">
      <video src="../../assets/vidoe/VS_FullVersion_newPackShot.mp4" autoplay loop preload muted playsinline></video>
    </div>
    <div class="container video">
      <div class="title-wrapper">
        <div class="main-page-title">
          <h1>Masters & Heroes</h1>
          <p>Собери несокрушимый отряд и побеждай других игроков</p>
        </div>
        {{> "soc-block/soc-block" }}
      </div>
      <div class="news-block-main only-desktop">
        <a class="to-all-news" href="../news/news.hbs">Все новости</a>
        <div class="news-list">
          {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union.png" title="Ваши Герои" itemDate="22 / 03 / 2022" desription="Особенности боевой системы" }}
          {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-2.png" title="Ваши противники" itemDate="22 / 03 / 2022" desription="Вы столкнетесь с опасными существами — посмотрим на них повнимательнее" }}
          {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-3.png" title="Ваш город" itemDate="22 / 03 / 2022" desription="Первый взгляд на экран поселения и знакомство с Мастерами" }}
        </div>
      </div>
    </div>
  </div>
  <div class="container with-slider only-mobile">
       <div class="news-block-main only-mobile">
        <div class="slider-nav">
          <div>
            <div class="swiper-prev">
              <img src="../../assets/img/slider/to-left.svg" alt="">
            </div>
            <div class="swiper-next">
              <img src="../../assets/img/slider/to-right.svg" alt="">
            </div>
          </div>
          <a class="to-all-news" href="../news/news.hbs">Все новости</a>
        </div>
        <div class="swiper news-list">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union.png" title="Ваши Герои" itemDate="22 / 03 / 2022" desription="Особенности боевой системы" }}
            </div>
            <div class="swiper-slide">
              {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-2.png" title="Ваши противники" itemDate="22 / 03 / 2022" desription="Вы столкнетесь с опасными существами — посмотрим на них повнимательнее" }}
            </div>
            <div class="swiper-slide">
              {{> "news-item/news-item" link="../../pages/article/article.hbs" imgSrc="../../assets/img/news/Union-3.png" title="Ваш город" itemDate="22 / 03 / 2022" desription="Первый взгляд на экран поселения и знакомство с Мастерами" }}
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="guide-wrapper container">
    <div class="guide-block">

      <div class="guide-block__black"></div>
      <div class="guide-block__left"></div>
      <div class="guide-block__right"></div>
      <div class="guide-block__top"></div>
      <div class="guide-block__bottom"></div>
      <div class="guide-block__bottom-gradinet"></div>
      <div class="guide-block__info">
        <h2>гайд для новичка</h2>
        <p>Кириллическая рыба используется дизайнерами, когда нужно быстро заполнить макеты или прототипы содержимым.</p>
      </div>
    </div>
  </div>
  <div class="invitation">
    <div class="container">
      <div class="invitation-info block-info">
        <h2>Пригласить Друзей</h2>
        <p>Выясни, кто из вас лучший правитель!</p>
        {{> "button-singin/button-singin" text="Пригласисть" }}
      </div>
      <svg class="invitation-border only-desktop" width="1301" height="35" viewBox="0 0 1301 35" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M628.529 3.91943H14.0001V6.04443H628.529V3.91943Z" fill="url(#paint0_linear_953_631)"/>
        <path d="M11.8567 0.731934L0.655518 5.1955L11.8567 9.65907L16.1867 5.1955L11.8567 0.731934Z" fill="url(#paint1_linear_953_631)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M676.158 3.91943H1287.19V6.04443H676.158V3.91943Z" fill="url(#paint2_linear_953_631)"/>
        <path d="M1289.33 0.731934L1300.53 5.1955L1289.33 9.65907L1285 5.1955L1289.33 0.731934Z" fill="url(#paint3_linear_953_631)"/>
        <path d="M676.817 4.84959C676.874 4.87167 676.932 4.8948 676.99 4.91793C680.544 6.37303 680.814 12.2429 679.553 14.0618C678.291 15.8806 676.951 16.7648 675.32 15.9889C673.688 15.213 671.571 11.653 673.901 9.37682L675.298 10.1927C675.298 10.1927 673.105 11.939 674.387 13.6359C675.668 15.3339 678.239 13.3983 678.53 9.75952C678.821 6.1207 674.653 4.95157 671.884 7.4549C670.998 8.25605 669.908 10.4776 668.602 12.8148C670.336 14.5559 671.253 17.2012 670.13 19.9022C669.909 20.4341 669.676 20.9357 669.431 21.4088C670.879 21.3331 672.075 21.0492 672.302 20.7727C672.65 20.3458 672.535 20.0451 672.302 19.6204C673.299 19.6372 674.001 20.0315 673.963 21.1564C675.882 20.3469 676.914 21.0345 676.917 21.925C676.92 22.8155 676.432 22.9322 676.432 22.9322C676.432 22.9322 675.541 22.1931 675.19 22.559C674.788 22.9774 674.064 22.8502 674.064 22.8502C674.064 22.8502 674.714 23.665 673.778 24.2296C673.482 23.2224 672.29 22.4728 668.699 22.6767C666.801 25.6017 664.242 26.9884 660.672 26.5342C660.505 26.5132 660.334 26.4869 660.162 26.4575C660.149 26.4827 660.135 26.508 660.119 26.5342C660.11 26.5521 660.1 26.571 660.091 26.5889C659.903 27.6939 659.909 28.6296 660.304 29.414C661.705 32.2043 663.327 30.2719 664.55 31.1424C664.55 31.1424 660.173 33.6226 659.016 29.9249C658.951 29.7189 658.902 29.5107 658.862 29.2994C657.469 32.4293 655.872 35.4016 651.998 34.5993C647.052 33.5743 646.889 30.1478 647.619 28.0409C647.974 27.0189 649.203 25.5218 651.813 25.7657C654.106 25.9802 655.047 27.1356 654.771 28.3931C654.474 29.743 653.467 29.6715 652.507 29.762C651.611 29.8461 651.438 30.9847 652.241 31.0962C651.816 31.3905 650.74 30.949 650.803 30.3055C650.867 29.6621 651.465 29.0218 652.183 29.0313C653.653 29.0491 654.263 27.7738 652.552 27.1114C650.575 26.345 648.594 27.5856 648.491 29.7998C648.388 32.0024 651.872 34.387 654.639 33.0738C657.238 31.8405 658.103 28.0703 658.712 26.1221C654.499 24.9015 649.831 21.4067 650.151 15.3981C650.353 11.6383 651.617 8.69342 654.28 6.65796C652.892 5.96089 651.727 5.63181 651.382 5.5824C650.397 5.44362 649.671 5.03673 649.331 4.53943C648.99 4.04213 649.476 2.32418 650.335 2.1486C649.887 3.72567 651.422 3.97589 651.733 4.04003C652.561 4.2093 654.107 4.75707 655.755 5.70226C657.908 4.52261 660.741 3.77508 664.365 3.49331C668.09 3.20313 669.821 4.31864 672.438 4.19353C674.868 4.07683 679.521 2.68375 681.717 3.30196C685.321 4.31549 685.199 5.8526 685.778 7.52639C683.051 4.36595 680.009 4.32811 676.816 4.85064L676.817 4.84959ZM667.86 21.4056C667.984 21.1775 668.102 20.9388 668.212 20.6875C669.706 17.2516 669.147 15.2456 667.86 14.1122C666.577 16.2728 665.109 18.3261 663.443 19.2387C663.938 20.7107 665.902 21.2868 667.86 21.4067V21.4056ZM661.965 17.8825C663.1 17.5839 664.551 16.4505 666.585 13.331C665.515 12.8821 664.293 12.7517 663.314 12.7738C662.811 12.7854 662.319 12.8274 661.848 12.901C661.964 13.3952 662.04 13.9104 662.064 14.4476C662.121 15.6662 662.076 16.8101 661.965 17.8835V17.8825ZM667.017 22.6599C664.665 22.3729 663.23 20.963 661.655 20.0315C661.297 21.9618 660.793 23.6282 660.429 25.0613C662.865 25.3641 665.319 24.7112 667.017 22.6599ZM660.549 14.9092C660.506 14.3414 660.41 13.8042 660.274 13.2963C659.623 13.535 659.056 13.8567 658.612 14.2678C658.189 15.7009 658.638 17.1928 659.85 17.6427C660.074 17.7258 660.308 17.811 660.555 17.874C660.622 16.9352 660.63 15.949 660.549 14.9102V14.9092ZM653.475 21.1585C654.838 22.9228 656.975 24.2717 659.241 24.8394C659.612 23.2287 660.109 21.4456 660.39 19.4353C660.374 19.4301 660.36 19.4248 660.345 19.4196C658.708 18.8865 657.916 17.4587 657.563 16.5325C657.31 18.4607 657.267 18.8108 656.641 19.1357C655.977 19.4816 655.029 18.9023 654.803 17.8814C657.148 18.6563 655.977 15.9132 656.909 14.0954C657.466 13.0104 658.177 12.1619 659.611 11.5826C658.706 9.82365 657.281 8.51364 655.865 7.57371C652.023 9.99818 650.104 16.7964 653.475 21.1575V21.1585ZM657.384 6.75679C658.903 7.86599 660.337 9.31479 661.21 11.1168C661.91 10.9718 662.724 10.8635 663.683 10.793C664.984 10.6973 666.329 11.1179 667.483 11.8928C669.37 8.84167 670.805 6.82302 672.14 5.66966C667.609 6.0408 663.682 3.7162 657.383 6.75573L657.384 6.75679ZM664.433 31.2802C664.467 31.2402 664.496 31.2055 664.517 31.1813C664.487 31.216 664.459 31.2497 664.433 31.2802ZM664.204 31.5451C664.24 31.5041 664.281 31.4557 664.332 31.3969C664.287 31.4484 664.245 31.4978 664.204 31.5451ZM664.204 31.5451C664.188 31.564 664.172 31.5819 664.159 31.5977L664.204 31.5451Z" fill="url(#paint4_linear_953_631)"/>
        <path d="M626.027 4.84959C625.969 4.87167 625.912 4.8948 625.853 4.91793C622.299 6.37303 622.029 12.2429 623.291 14.0618C624.552 15.8806 625.893 16.7648 627.524 15.9889C629.155 15.213 631.273 11.6531 628.943 9.37682L627.545 10.1927C627.545 10.1927 629.739 11.939 628.457 13.6359C627.175 15.3339 624.605 13.3983 624.314 9.75952C624.023 6.1207 628.191 4.95158 630.96 7.4549C631.846 8.25605 632.936 10.4776 634.242 12.8148C632.508 14.5559 631.59 17.2012 632.713 19.9022C632.935 20.4341 633.168 20.9357 633.413 21.4088C631.964 21.3331 630.769 21.0492 630.542 20.7727C630.193 20.3458 630.309 20.0451 630.542 19.6204C629.544 19.6372 628.843 20.0315 628.88 21.1564C626.962 20.3469 625.93 21.0345 625.927 21.925C625.924 22.8155 626.411 22.9322 626.411 22.9322C626.411 22.9322 627.303 22.1931 627.653 22.559C628.056 22.9774 628.779 22.8502 628.779 22.8502C628.779 22.8502 628.129 23.665 629.065 24.2296C629.362 23.2224 630.553 22.4728 634.145 22.6767C636.043 25.6017 638.602 26.9884 642.171 26.5342C642.339 26.5132 642.51 26.4869 642.682 26.4575C642.695 26.4827 642.709 26.508 642.725 26.5342C642.734 26.5521 642.743 26.571 642.752 26.5889C642.94 27.6939 642.934 28.6296 642.54 29.414C641.139 32.2043 639.517 30.2719 638.294 31.1424C638.294 31.1424 642.67 33.6226 643.828 29.9249C643.892 29.7189 643.942 29.5107 643.981 29.2994C645.374 32.4293 646.971 35.4016 650.846 34.5993C655.791 33.5743 655.955 30.1478 655.224 28.0409C654.869 27.0189 653.64 25.5218 651.031 25.7657C648.737 25.9802 647.797 27.1356 648.073 28.3931C648.369 29.743 649.377 29.6715 650.336 29.762C651.233 29.8461 651.406 30.9847 650.603 31.0962C651.028 31.3905 652.104 30.949 652.04 30.3055C651.977 29.6621 651.378 29.0218 650.661 29.0313C649.191 29.0491 648.581 27.7738 650.292 27.1114C652.269 26.345 654.25 27.5856 654.353 29.7998C654.455 32.0025 650.972 34.387 648.204 33.0738C645.606 31.8405 644.741 28.0703 644.132 26.1221C648.345 24.9015 653.013 21.4067 652.692 15.3981C652.491 11.6383 651.227 8.69343 648.563 6.65796C649.952 5.9609 651.117 5.63182 651.461 5.58241C652.447 5.44362 653.172 5.03674 653.513 4.53944C653.854 4.04214 653.367 2.32419 652.508 2.14861C652.957 3.72567 651.422 3.9759 651.11 4.04003C650.283 4.20931 648.737 4.75708 647.089 5.70226C644.936 4.52262 642.102 3.77509 638.479 3.49332C634.754 3.20314 633.023 4.31865 630.406 4.19353C627.976 4.07683 623.322 2.68375 621.127 3.30196C617.522 4.31549 617.645 5.8526 617.065 7.52639C619.792 4.36596 622.835 4.32811 626.028 4.85064L626.027 4.84959ZM634.984 21.4056C634.859 21.1775 634.742 20.9388 634.632 20.6875C633.138 17.2516 633.697 15.2456 634.984 14.1122C636.266 16.2728 637.735 18.3261 639.401 19.2387C638.905 20.7107 636.941 21.2868 634.984 21.4067V21.4056ZM640.878 17.8825C639.743 17.5839 638.293 16.4505 636.259 13.331C637.329 12.8821 638.551 12.7517 639.53 12.7738C640.032 12.7854 640.525 12.8274 640.996 12.901C640.879 13.3952 640.804 13.9104 640.779 14.4476C640.723 15.6662 640.768 16.8101 640.878 17.8835V17.8825ZM635.827 22.6599C638.179 22.3729 639.614 20.963 641.189 20.0315C641.546 21.9618 642.051 23.6282 642.415 25.0613C639.979 25.3641 637.525 24.7112 635.827 22.6599ZM642.294 14.9092C642.338 14.3414 642.434 13.8042 642.569 13.2964C643.22 13.535 643.787 13.8567 644.232 14.2678C644.655 15.7009 644.206 17.1928 642.994 17.6427C642.77 17.7258 642.536 17.811 642.288 17.874C642.222 16.9352 642.214 15.949 642.294 14.9102V14.9092ZM649.369 21.1585C648.005 22.9228 645.869 24.2717 643.602 24.8394C643.231 23.2287 642.735 21.4456 642.454 19.4353C642.469 19.4301 642.484 19.4248 642.499 19.4196C644.135 18.8865 644.927 17.4588 645.28 16.5325C645.534 18.4607 645.576 18.8108 646.202 19.1357C646.866 19.4816 647.814 18.9023 648.041 17.8814C645.696 18.6563 646.867 15.9132 645.934 14.0954C645.377 13.0104 644.667 12.1619 643.232 11.5826C644.138 9.82366 645.562 8.51364 646.978 7.57371C650.82 9.99819 652.74 16.7964 649.369 21.1575V21.1585ZM645.459 6.75679C643.941 7.86599 642.507 9.31479 641.633 11.1168C640.934 10.9718 640.119 10.8635 639.161 10.793C637.859 10.6974 636.515 11.1179 635.36 11.8928C633.473 8.84167 632.039 6.82302 630.704 5.66966C635.234 6.0408 639.162 3.71621 645.46 6.75574L645.459 6.75679ZM638.411 31.2802C638.377 31.2402 638.347 31.2055 638.326 31.1813C638.357 31.216 638.385 31.2497 638.411 31.2802ZM638.64 31.5451C638.604 31.5041 638.563 31.4557 638.512 31.3969C638.557 31.4484 638.599 31.4978 638.64 31.5451ZM638.64 31.5451C638.656 31.564 638.672 31.5819 638.685 31.5977L638.64 31.5451Z" fill="url(#paint5_linear_953_631)"/>
        <defs>
        <linearGradient id="paint0_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint1_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint2_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint3_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint4_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint5_linear_953_631" x1="93" y1="34.7318" x2="1210" y2="34.7318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        </defs>
      </svg>
      <svg class="invitation-border only-mobile" width="325" height="34" viewBox="0 0 325 34" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M138.375 3.18755L13.3445 3.1875V5.3125L138.375 5.31255V3.18755Z" fill="url(#paint0_linear_941_565)"/>
        <path d="M11.2011 0L-0.000142097 4.46357L11.2011 8.92714L15.531 4.46357L11.2011 0Z" fill="url(#paint1_linear_941_565)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M186.004 3.18755H311.201V5.31255L186.004 5.31255V3.18755Z" fill="url(#paint2_linear_941_565)"/>
        <path d="M313.345 5.34057e-05L324.546 4.46362L313.345 8.92719L309.015 4.46362L313.345 5.34057e-05Z" fill="url(#paint3_linear_941_565)"/>
        <path d="M186.662 4.11771C186.72 4.13979 186.777 4.16292 186.836 4.18605C190.39 5.64115 190.66 11.511 189.398 13.3299C188.137 15.1488 186.797 16.033 185.165 15.257C183.534 14.4811 181.416 10.9212 183.746 8.64494L185.144 9.46081C185.144 9.46081 182.951 11.2071 184.232 12.9041C185.514 14.602 188.084 12.6665 188.375 9.02764C188.667 5.38882 184.498 4.21969 181.73 6.72302C180.843 7.52417 179.754 9.74573 178.448 12.0829C180.181 13.824 181.099 16.4693 179.976 19.1703C179.755 19.7023 179.521 20.2038 179.276 20.6769C180.725 20.6012 181.921 20.3173 182.147 20.0408C182.496 19.614 182.381 19.3133 182.147 18.8885C183.145 18.9053 183.846 19.2996 183.809 20.4246C185.727 19.615 186.759 20.3026 186.762 21.1931C186.765 22.0836 186.278 22.2003 186.278 22.2003C186.278 22.2003 185.387 21.4612 185.036 21.8271C184.634 22.2455 183.91 22.1183 183.91 22.1183C183.91 22.1183 184.56 22.9332 183.624 23.4977C183.328 22.4905 182.136 21.7409 178.545 21.9449C176.646 24.8698 174.087 26.2566 170.518 25.8024C170.35 25.7813 170.18 25.755 170.008 25.7256C169.995 25.7508 169.98 25.7761 169.964 25.8024C169.955 25.8202 169.946 25.8392 169.937 25.857C169.749 26.962 169.755 27.8978 170.149 28.6821C171.55 31.4724 173.172 29.54 174.395 30.4105C174.395 30.4105 170.019 32.8907 168.861 29.1931C168.797 28.987 168.747 28.7788 168.708 28.5675C167.315 31.6974 165.718 34.6697 161.844 33.8675C156.898 32.8424 156.734 29.4159 157.465 27.309C157.82 26.287 159.049 24.7899 161.659 25.0338C163.952 25.2483 164.892 26.4037 164.616 27.6612C164.32 29.0112 163.312 28.9397 162.353 29.0301C161.456 29.1142 161.284 30.2528 162.086 30.3643C161.662 30.6587 160.585 30.2171 160.649 29.5736C160.712 28.9302 161.311 28.2899 162.029 28.2994C163.498 28.3172 164.109 27.0419 162.397 26.3796C160.42 25.6131 158.439 26.8537 158.336 29.0679C158.234 31.2706 161.717 33.6551 164.485 32.3419C167.083 31.1087 167.949 27.3384 168.557 25.3902C164.344 24.1696 159.677 20.6748 159.997 14.6662C160.198 10.9064 161.463 7.96154 164.126 5.92608C162.737 5.22901 161.573 4.89993 161.228 4.85052C160.242 4.71174 159.517 4.30485 159.176 3.80755C158.836 3.31025 159.322 1.5923 160.181 1.41672C159.732 2.99379 161.267 3.24401 161.579 3.30815C162.407 3.47742 163.952 4.02519 165.601 4.97038C167.754 3.79073 170.587 3.0432 174.21 2.76143C177.935 2.47125 179.667 3.58676 182.284 3.46165C184.713 3.34495 189.367 1.95187 191.562 2.57008C195.167 3.58361 195.045 5.12072 195.624 6.79451C192.897 3.63407 189.854 3.59623 186.661 4.11876L186.662 4.11771ZM177.706 20.6737C177.83 20.4456 177.947 20.2069 178.057 19.9557C179.551 16.5198 178.992 14.5137 177.706 13.3803C176.423 15.5409 174.954 17.5943 173.289 18.5069C173.784 19.9788 175.748 20.5549 177.706 20.6748V20.6737ZM171.811 17.1506C172.946 16.852 174.396 15.7186 176.43 12.5992C175.361 12.1502 174.139 12.0199 173.159 12.0419C172.657 12.0535 172.165 12.0956 171.694 12.1692C171.81 12.6633 171.886 13.1785 171.91 13.7157C171.967 14.9343 171.921 16.0782 171.811 17.1516V17.1506ZM176.863 21.928C174.511 21.641 173.075 20.2311 171.501 19.2996C171.143 21.2299 170.638 22.8964 170.275 24.3294C172.711 24.6322 175.165 23.9793 176.863 21.928ZM170.395 14.1773C170.351 13.6095 170.255 13.0723 170.12 12.5645C169.469 12.8031 168.902 13.1249 168.457 13.5359C168.035 14.969 168.483 16.4609 169.695 16.9109C169.92 16.9939 170.153 17.0791 170.401 17.1422C170.468 16.2033 170.476 15.2171 170.395 14.1783V14.1773ZM163.32 20.4267C164.684 22.1909 166.821 23.5398 169.087 24.1075C169.458 22.4968 169.954 20.7137 170.235 18.7035C170.22 18.6982 170.206 18.6929 170.191 18.6877C168.554 18.1546 167.762 16.7269 167.409 15.8006C167.155 17.7288 167.113 18.0789 166.487 18.4038C165.823 18.7497 164.875 18.1704 164.649 17.1495C166.994 17.9244 165.822 15.1813 166.755 13.3635C167.312 12.2785 168.022 11.43 169.457 10.8507C168.551 9.09177 167.127 7.78176 165.711 6.84183C161.869 9.2663 159.949 16.0645 163.32 20.4256V20.4267ZM167.23 6.02491C168.748 7.13411 170.182 8.58291 171.056 10.385C171.755 10.2399 172.57 10.1316 173.528 10.0611C174.83 9.96546 176.174 10.386 177.329 11.1609C179.216 8.10979 180.65 6.09114 181.985 4.93778C177.455 5.30892 173.527 2.98432 167.229 6.02385L167.23 6.02491ZM174.278 30.5483C174.313 30.5083 174.342 30.4736 174.363 30.4494C174.333 30.4841 174.304 30.5178 174.278 30.5483ZM174.05 30.8132C174.085 30.7722 174.127 30.7239 174.177 30.665C174.133 30.7165 174.09 30.7659 174.05 30.8132ZM174.05 30.8132C174.034 30.8321 174.017 30.85 174.004 30.8658L174.05 30.8132Z" fill="url(#paint4_linear_941_565)"/>
        <path d="M135.873 4.11771C135.815 4.13979 135.757 4.16292 135.699 4.18605C132.145 5.64115 131.875 11.511 133.136 13.3299C134.398 15.1488 135.738 16.033 137.369 15.257C139.001 14.4811 141.119 10.9212 138.789 8.64494L137.391 9.46081C137.391 9.46081 139.584 11.2071 138.302 12.9041C137.021 14.602 134.45 12.6665 134.159 9.02764C133.868 5.38882 138.037 4.21969 140.805 6.72302C141.692 7.52417 142.781 9.74573 144.087 12.0829C142.354 13.824 141.436 16.4693 142.559 19.1703C142.78 19.7023 143.014 20.2038 143.258 20.6769C141.81 20.6012 140.614 20.3173 140.388 20.0408C140.039 19.614 140.154 19.3133 140.388 18.8885C139.39 18.9053 138.689 19.2996 138.726 20.4246C136.807 19.615 135.775 20.3026 135.772 21.1931C135.769 22.0836 136.257 22.2003 136.257 22.2003C136.257 22.2003 137.148 21.4612 137.499 21.8271C137.901 22.2455 138.625 22.1183 138.625 22.1183C138.625 22.1183 137.975 22.9331 138.911 23.4977C139.207 22.4905 140.399 21.7409 143.99 21.9449C145.888 24.8698 148.448 26.2566 152.017 25.8024C152.184 25.7813 152.355 25.755 152.527 25.7256C152.54 25.7508 152.554 25.7761 152.571 25.8024C152.58 25.8202 152.589 25.8392 152.598 25.857C152.786 26.962 152.78 27.8978 152.386 28.6821C150.985 31.4724 149.362 29.54 148.139 30.4105C148.139 30.4105 152.516 32.8907 153.673 29.1931C153.738 28.987 153.788 28.7788 153.827 28.5675C155.22 31.6974 156.817 34.6697 160.691 33.8675C165.637 32.8424 165.801 29.4159 165.07 27.309C164.715 26.287 163.486 24.7899 160.876 25.0338C158.583 25.2483 157.643 26.4037 157.919 27.6612C158.215 29.0112 159.223 28.9397 160.182 29.0301C161.078 29.1142 161.251 30.2528 160.449 30.3643C160.873 30.6587 161.95 30.2171 161.886 29.5736C161.822 28.9302 161.224 28.2899 160.506 28.2994C159.037 28.3173 158.426 27.0419 160.137 26.3796C162.114 25.6131 164.095 26.8537 164.199 29.0679C164.301 31.2706 160.818 33.6551 158.05 32.3419C155.451 31.1087 154.586 27.3384 153.978 25.3902C158.191 24.1696 162.858 20.6748 162.538 14.6662C162.337 10.9065 161.072 7.96155 158.409 5.92608C159.798 5.22902 160.962 4.89994 161.307 4.85053C162.292 4.71174 163.018 4.30486 163.359 3.80756C163.699 3.31026 163.213 1.59231 162.354 1.41673C162.803 2.99379 161.267 3.24402 160.956 3.30815C160.128 3.47743 158.583 4.0252 156.934 4.97038C154.781 3.79074 151.948 3.04321 148.324 2.76144C144.6 2.47126 142.868 3.58677 140.251 3.46165C137.821 3.34495 133.168 1.95188 130.972 2.57008C127.368 3.58361 127.49 5.12072 126.911 6.79451C129.638 3.63408 132.68 3.59623 135.874 4.11876L135.873 4.11771ZM144.829 20.6737C144.705 20.4456 144.587 20.2069 144.477 19.9557C142.983 16.5198 143.542 14.5137 144.829 13.3803C146.112 15.5409 147.58 17.5943 149.246 18.5069C148.751 19.9788 146.787 20.5549 144.829 20.6748V20.6737ZM150.724 17.1506C149.589 16.852 148.138 15.7186 146.105 12.5992C147.174 12.1502 148.396 12.0199 149.376 12.0419C149.878 12.0535 150.37 12.0956 150.841 12.1692C150.725 12.6633 150.649 13.1785 150.625 13.7157C150.568 14.9343 150.614 16.0782 150.724 17.1516V17.1506ZM145.672 21.928C148.024 21.641 149.459 20.2311 151.034 19.2996C151.392 21.2299 151.896 22.8964 152.26 24.3294C149.824 24.6322 147.37 23.9793 145.672 21.928ZM152.14 14.1773C152.183 13.6095 152.279 13.0723 152.415 12.5645C153.066 12.8031 153.633 13.1249 154.078 13.5359C154.5 14.969 154.051 16.4609 152.839 16.9109C152.615 16.9939 152.382 17.0791 152.134 17.1422C152.067 16.2033 152.059 15.2171 152.14 14.1783V14.1773ZM159.214 20.4267C157.851 22.1909 155.714 23.5398 153.448 24.1075C153.077 22.4968 152.581 20.7137 152.3 18.7035C152.315 18.6982 152.329 18.6929 152.344 18.6877C153.981 18.1546 154.773 16.7269 155.126 15.8006C155.38 17.7288 155.422 18.0789 156.048 18.4038C156.712 18.7497 157.66 18.1704 157.886 17.1495C155.541 17.9244 156.713 15.1814 155.78 13.3635C155.223 12.2785 154.512 11.43 153.078 10.8507C153.984 9.09178 155.408 7.78176 156.824 6.84183C160.666 9.26631 162.585 16.0645 159.214 20.4256V20.4267ZM155.305 6.02491C153.787 7.13411 152.352 8.58291 151.479 10.385C150.78 10.2399 149.965 10.1316 149.007 10.0611C147.705 9.96547 146.36 10.386 145.206 11.1609C143.319 8.10979 141.885 6.09115 140.549 4.93778C145.08 5.30892 149.008 2.98433 155.306 6.02386L155.305 6.02491ZM148.257 30.5483C148.222 30.5083 148.193 30.4736 148.172 30.4494C148.202 30.4841 148.23 30.5178 148.257 30.5483ZM148.485 30.8132C148.45 30.7722 148.408 30.7239 148.358 30.665C148.402 30.7165 148.445 30.7659 148.485 30.8132ZM148.485 30.8132C148.501 30.8321 148.517 30.85 148.531 30.8658L148.485 30.8132Z" fill="url(#paint5_linear_941_565)"/>
        <defs>
        <linearGradient id="paint0_linear_941_565" x1="5.5" y1="34" x2="325" y2="34" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint1_linear_941_565" x1="5.5" y1="34" x2="325" y2="34" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint2_linear_941_565" x1="5.5" y1="34" x2="325" y2="34" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint3_linear_941_565" x1="5.5" y1="34" x2="325" y2="34" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint4_linear_941_565" x1="5.5" y1="34" x2="325" y2="34" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        <linearGradient id="paint5_linear_941_565" x1="5.5" y1="34" x2="325" y2="34" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3D310C"/>
        <stop offset="0.348958" stop-color="#755708"/>
        <stop offset="0.498617" stop-color="#76643C"/>
        <stop offset="0.645833" stop-color="#8E6607"/>
        <stop offset="1" stop-color="#3D310C"/>
        </linearGradient>
        </defs>
      </svg>

    </div>
  </div>
  <div class="download">
    <div class="container">
      <div class="block-info">
        <h2>Скачай игру</h2>
        <p>Герои ждут твоих приказов</p>
      {{> "soc-block/soc-block" }}
      </div>
    </div>
  </div>

</main>