.main-page {
  padding-bottom: 4em;
  & ~ .footer {
    z-index: 50;
  }
  & .news-block {
    width: 100%;
    max-width: 3000px;
    position: relative;
    padding-bottom: 56.25%;
    background-image: url(../../assets/img/main/news-block.jpg);
    background-size: cover;
    &::after {
      z-index: 3;
      position: absolute;
      left: 0;
      transform: translateY(50%);
      bottom: 0;
      content: "";
      width: 100vw;
      height: 25.66vw;
      background: linear-gradient(
        180deg,
        rgba(14, 14, 18, 0) 0%,
        #0e0e12 37.79%,
        #0e0e12 52.12%,
        rgba(14, 14, 18, 0) 100%
      );
    }
    & .container {
      z-index: 10;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      left: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-main {
      margin-top: 20px;
    }
  }
  &-title {
    & h1 {
      margin-top: 7.5vw;
      font-weight: 700;
      font-size: 4.4375em;
      line-height: 1.366;
      text-transform: uppercase;
      color: #ffc734;
      text-shadow: 0px 0px 4px #ff7a00;
    }
    & p {
      font-size: 1.625em;
      line-height: 103.6%;
      color: #ffe1c1;
      text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
    }
  }
  & .soc-block {
    margin-top: 2.8vw;
    height: 2.9375em;
    & a {
      display: inline-block;
      height: 100%;
      &:not(:last-child) {
        margin-right: 2.1875em;
      }
    }
  }
  & .guide {
    &-wrapper {
      padding-top: 8.9375em;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        height: 100%;
        background: #5d2b2c;
        filter: blur(103px);
        top: 0;
        left: 6%;
        width: 70.9%;
      }
    }
    &-block {
      background-image: url(../../assets/img/main/bg-guide.png);
      background-size: auto 100%;
      background-position: right;
      border: 1px solid #ffe483;
      position: relative;
      z-index: 10;
      padding: 2.75em 0 2.75em 6.5625em;
      border-radius: 10px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/main/guide-man.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        width: 23%;
        right: 0;
        bottom: 0;
        height: calc(100% + 8.9375em);
      }
      &__info {
        width: 52%;
      }
      & h2 {
        font-weight: 700;
        font-size: 2em;
        line-height: 105.6%;
        text-transform: uppercase;
        color: #f5e3cc;
      }
      & p {
        margin-top: 1em;
        font-size: 1.375em;
        line-height: 130%;
        color: #f5e3cc;
      }
    }
  }
  & .invitation {
    position: relative;
    width: 100vw;
    height: 36.8421vw;
    background: linear-gradient(270deg, #000 5.56%, rgba(15, 15, 19, 0) 39.23%),
      linear-gradient(90deg, #000 6.66%, rgba(0, 0, 0, 0) 31.58%),
      url(../../assets/img/main/invait.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    &-border {
      position: absolute;
      top: 100%;
      height: auto;
      width: 100%;
      left: 0;
      transform: translateY(-16%);
    }
    &-info {
      padding-top: 19.578vw;

      & .button-singin {
        margin-top: 2em;
        box-shadow: none;
        border-color: #ffc734;
        background: #ffc734;
        color: black;
        font-weight: 500;
        font-size: 1.4375em;
        line-height: 88.6%;
        width: fit-content;
        & *,
        & *::after,
        & *::before {
          box-shadow: none;
          border-color: #ffc734;
          background: #ffc734;
        }
        &:hover {
          border-color: #ffe6a1;
          background: #ffe6a1;
          & *,
          & *::after,
          & *::before {
            border-color: #ffe6a1;
            background: #ffe6a1;
          }
        }
      }
    }
    & .container {
      height: 100%;
      position: relative;
      z-index: 10;
    }
  }
  & .download {
    width: 100vw;
    position: relative;
    height: 24.4736vw;
    background: linear-gradient(90deg, #000 5.73%, rgba(14, 14, 18, 0) 16.87%),
      linear-gradient(270deg, #000 5.5%, rgba(14, 14, 18, 0) 16.26%),
      linear-gradient(180deg, #000 0%, rgba(14, 14, 18, 0) 26.56%),
      url(../../assets/img/main/download.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    & .container {
      position: relative;
      height: 100%;
      &::after {
        content: url(../../assets/img/main/fair.png);
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(0, 25%);
        opacity: 0.6;
        z-index: 40;
      }
    }
    & .block-info {
      padding-top: 6.7vw;
    }
    & .soc-block {
      position: relative;
      z-index: 50;
      height: 2.9375em;
      margin-top: 4vw;
      & a:not(:last-child) {
        margin-right: 1.5625em;
      }
    }
  }
  & .block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
      font-weight: 700;
      font-size: 2em;
      line-height: 105.6%;
      text-transform: uppercase;
      color: #f5e3cc;
    }
    & p {
      margin-top: 0.3em;
      font-size: 1.375em;
      line-height: 103.6%;
      color: #ffe1c1;
      text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
    }
  }
}
