.main-page {
  padding-bottom: 4em;
  @media (max-width: 810px) {
    padding-top: 0px;
  }
  & ~ .footer {
    z-index: 50;
    margin-top: -150px;
  }
  & .news-block {
    width: 100%;
    max-width: 3000px;
    position: relative;
    height: 980px;
    background-image: url(../../assets/img/main/news-block-2.png);
    background-size: auto 980px;
    background-repeat: no-repeat;
    background-position: center top;
    
    @media (max-width: 810px) {
      background-size: auto 80%;
      max-height: 100vh;
    }
    & .video-wrapper {
      position: absolute;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      width: 100vw;
      height: 980px;
      @media (max-width: 810px) {
       height: 80%;
      }
      overflow: hidden;
    }
    & video {
      position: absolute;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      min-width: 100vw;
      height: 100%;
      opacity: 0;
      transition: 0.1;
      object-fit: cover;
      &.show {
        opacity: 1;
      }
    }
    &::after {
      z-index: 1;
      position: absolute;
      left: 0;
      transform: translateY(50%);
      bottom: 0;
      content: "";
      width: 100vw;
      height: 20.66vw;
      background: linear-gradient(180deg, rgba(14, 14, 18, 0) 0%, #0E0E12 45.79%, #0E0E12 52.12%, rgba(14, 14, 18, 0) 100%);
      @media (max-width: 810px) {
        transform: translateY(0);
        height: 30%;
        background: linear-gradient(180deg, rgba(14, 14, 18, 0) 0%, #0E0E12 25.79%, #0E0E12 52.12%, rgba(14, 14, 18, 0) 100%);
      }
    }
    & .container {
      &.video {
        overflow: hidden;
        z-index: 10;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        left: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: 810px) {
          max-height: 100vh;
          justify-content: flex-end;
        }
        &.with-slider {
          position: static;
        }
        @media (min-width: 810px) {
          & .title-wrapper {
            margin-top: 82px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
    &-main {
      margin-top: 98px;
      @media (max-width: 810px) {
          margin-top: 60px;
        }
      & .news-list {
        column-gap: 26px;
        @media (max-width: 1350px) {
          width: 100%;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          gap: 0;
          & .news-item {
            width: 30.8461538461538vw;
          }
          & .img-wrapper {
            width: 30.8461538461538vw;
            height: 18vw;
            background-size: 0;
          }
          & .news-img {
            &__center {
              background-size: 30.8461538461538vw 18vw;
            }
            &__left,
            &__right {
              background-size: 30.8461538461538vw 18vw;
              &-top, 
              &-bottom {
                &::after {
                  background-size: 30.8461538461538vw 18vw;
                }
              }
            }
          }
        }
      }
      & a.to-all-news {
        display: block;
        text-decoration: none;
        margin-bottom: 1.12em;
        font-weight: 700;
        font-size: 1.5625em;
        line-height: 88.6%;
        text-align: right;
        text-transform: uppercase;
        color: #FFE6A1;
        &:hover {
          cursor: pointer;
          color: #FFC734;
        }
      }
    }
  }
  &-title {
    & h1 {
      font-weight: 700;
      font-size: 4.4375em;
      line-height: 1.366;
      text-transform: uppercase;
      color: #ffc734;
      text-shadow: 0px 0px 4px #ff7a00;
      @media (max-width: 810px) {
        text-align: center;
        font-size: 33px;
      }
    }
    & p {
      font-size: 1.625em;
      line-height: 103.6%;
      color: #ffe1c1;
      text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
      @media (max-width: 810px) {
        text-align: center;
      }
    }
  }
  & .soc-block {
    margin-top: 33px;
    height: 2.9375em;
    display: flex;
    & a {
      display: inline-block;
      height: 100%;
      &:not(:last-child) {
        margin-right: 27px;
      }
      & img {
        height: 100%;
      }
      &.pc {
        display: inline;
        background: #FFFFFF;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 10px 0 18px;
        height: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        width: fit-content;

        & svg:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    @media (max-width: 810px) {
      margin-top: 35px !important;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
      & a {
        display: block;
        height: 42px;
        &:not(:last-child) {
          margin-right: 0 !important;
        }
        &:not(.apple) {
          display: none;
        }
      }
      & .only-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
          margin: 30px auto 16px;
          font-size: 16px;
          line-height: 103.6%;
          text-align: center;
          color: #FFE1C1;
          text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
        }
      }
      &-mobile {
        display: flex;
        justify-content: center;
        column-gap: 22px;
        & a {
          height: 26px;
          &:not(.apple) {
            display: block;
          }
        }

      }
    }
  }
  & .guide {
    &-wrapper {
      position: relative;
      @media (max-width: 810px) {
        padding-top: 80px;
      }
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        background: #5d2b2c;
        filter: blur(103px);
        left: 20%;
        height: 120%;
        width: 50.9%;
        bottom: 0;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        @media (max-width: 810px) {
          height: 90%;
        }
      }
    }
    &-block {
      position: relative;
      z-index: 4;
      padding-left:  5.2vw;
      position: relative;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 199px;
      &__bg {
        position: absolute;
        top: 1px;
        bottom: 2px;
        left: 10px;
        right: 10px;
        z-index: 11;
        background-size: auto 100%;
        background-position: 82% 50%;
        background-image: url(../../assets/img/main/bg-guide-1.png);
        background-repeat: no-repeat;
         @media (max-width: 810px) {
          background-position: -400px 50%;
          background-size: auto 75%;
          justify-content: flex-end;
          padding-left: 0;
          left: 1px;
          right: 1px;
        }
      }
      &__man {
        position: absolute;
        z-index: 15;
        background-image: url(../../assets/img/main/guide-man.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        width: 23%;
        min-width: 266px;
        right: 1px;
        bottom: 1px;
        height: calc(100% + 8.9375em);
        @media (max-width: 810px) {
          background-image: url(../../assets/img/main/guide-man-m.png);
          height: 386px;
          width: 266px;
          bottom: 133px;
        }
      }
      @media (max-width: 810px) {
        background-position: -400px 50%;
        background-size: auto 70%;
        justify-content: flex-end;
        height: 460px;
        padding-left: 0;
      }
      &::after {
        content: '';
        position: absolute;
        z-index: 0;
        top: 10px;
        left: 1px;
        bottom: 10px;
        right: 1px;
        z-index: 12;
        background: 
        linear-gradient(270deg, #0E0E12 10px, rgba(14, 14, 18, 0) 17.17%), 
        linear-gradient(90deg, #0E0E12 40.26%, rgba(14, 14, 18, 0) 50.81%);
        @media (max-width: 810px) {
          bottom: 65%;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 70%);
        }
      }
      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 10px;
        bottom: 1px;
        right: 10px;
        z-index: 12;
        background: 1
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E12 100%);
        @media (max-width: 810px) {
          bottom: 10px;
          left: 1px;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E12 100%);
        }
      }
      &__black {
        display: none;
        transform-origin: left top;
        transform: rotate(45deg);
        position: absolute;
        width: 15px;
        height: calc((10px * 1.41421356237));
        background-color: black;
        bottom: -3px;
        right: -14px;
        z-index: 20;
        border-left: 1px solid #ffe483;
        @media (max-width: 810px) {
          display: block;
        }
      }
      &__top, &__bottom {
        z-index: 10;
        position: absolute;
        left: 10px;
        height: 10px;
        right: 10px;
        background-color: #0E0E12;
      }
      &__top {
        top: 0;
        border-top: 1px solid #ffe483;
      }
      &__bottom-gradinet {
        display: none;
        @media (max-width: 810px) {
          display: block;
          position: absolute;
          bottom: 10px;
          left: 1px;
          right: 1px;
          top: 10px;
          z-index: 15;
          background:  linear-gradient(180deg, rgba(15, 15, 19, 0) 60%, rgba(15, 15, 19, 0.4) 100%);
        }

      }
      &__bottom {
        bottom: 0;
        border-bottom: 1px solid #ffe483;
        @media (max-width: 810px) {
          z-index: 15;
          background-color: transparent;
        }
        &::before {
          content: '';
          display: none;
          position: absolute;
          bottom: 0;
          background-image: url(../../assets/img/main/guide-bg-m.png);
          
          height: 460px;
          width: 266px;
          
          z-index: 19;
          right: -9px;
          @media (max-width: 810px) {
            display: block;
          }
        }
        &::after {
          content: url(../../assets/img/main/guide-fair.png);
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
          
          z-index: 20;
          right: -9px;
          @media (max-width: 810px) {
            display: block;
          }
        }
      }
      &__left, &__right {
        z-index: 19;
        background-color: #0E0E12;
        position: absolute;
        width: 10px;
        top: 10px;
        bottom: 10px;
        background-color: transparent;
        &::before, &::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          width: 10px;
          padding-bottom: calc((10px * 1.41421356237));
          background-color: #0E0E12;
        }
        &::before {
          bottom: 100%;
        }
        &::after {
          top: 100%;
        }
      }
      &__left {
       left: 0;
        border-left: 1px solid #ffe483;
        background-color: #0E0E12;
        @media (max-width: 810px) {
          background-color: transparent;
        }
        &::before, &::after {
          right: 0;
          border-left: 1px solid #ffe483; 
          background-color: #0E0E12;
        }
        &::before {
          transform: rotate(45deg);
          transform-origin: left bottom;
        }
        &::after {
          transform: rotate(-45deg);
          transform-origin: left top;
        }
      }
      &__right {
        right: 0;
        border-right: 1px solid #ffe483;
        &::before, &::after {
          left: 0;
          border-right: 1px solid #ffe483; 
        }
        &::before {
          background-color: #0E0E12;
          background-position: right top;
          transform: rotate(-45deg);
          transform-origin: right bottom;
        }
        &::after {
          background-position: right bottom;
          transform: rotate(45deg);
          transform-origin: right top;
           @media (max-width: 810px) {
            display: none;
          }
        }
      }
      
      &__info {
        width: 52%;
        position: relative;
        z-index: 20;
        @media (max-width: 810px) {
        width: 100%;
        padding: 0 20px 50px;
        }
      }
      & h2 {
        font-weight: 700;
        font-size: 2em;
        line-height: 105.6%;
        text-transform: uppercase;
        color: #f5e3cc;
      }
      & p {
        margin-top: 1em;
        font-size: 1.375em;
        line-height: 130%;
        color: #f5e3cc;
      }
    }
  }
  & .invitation {
    position: relative;
    width: 100vw;
    height: 715px;
    min-height: 580px;
    @media (min-width: 1300px) {
      background: linear-gradient(270deg, #000 5.56%, rgba(15, 15, 19, 0) 20.23%),
      linear-gradient(90deg, #000 6.66%, rgba(0, 0, 0, 0) 20.58%), url(../../assets/img/main/invait.jpg);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    @media (max-width: 1300px) {
      background: linear-gradient(270deg, #000 0.56%, rgba(15, 15, 19, 0) 10.23%),
      linear-gradient(90deg, #000 0.66%, rgba(0, 0, 0, 0) 10.58%), url(../../assets/img/main/invait.jpg);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    @media (max-width: 810px) {
      height: 36.8421vw;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: 
        linear-gradient(0deg, rgba(black, 1) 0%, rgba(0, 0, 0, 0) 30%),
        linear-gradient(180deg, rgba(black, 1)0%, rgba(0, 0, 0, 0) 15%);
        background: 
        -webkit-linear-gradient(270deg, rgba(black, 1) 10%, rgba(0, 0, 0, 0) 30%),
        -webkit-linear-gradient(90deg, rgba(black, 1) 10%, rgba(0, 0, 0, 0) 25%);
 
        background: 
        -moz-linear-gradient(0deg, rgba(black, 1) 0%, rgba(0, 0, 0, 0) 30%),
        -moz-linear-gradient(180deg, rgba(black, 1)0%, rgba(0, 0, 0, 0) 15%);
   
        background: 
        -o-linear-gradient(0deg, rgba(black, 1) 0%, rgba(0, 0, 0, 0) 30%),
        -o-linear-gradient(180deg, rgba(black, 1)0%, rgba(0, 0, 0, 0) 15%);
        z-index: 2;
      }
      background: url(../../assets/img/main/invait.jpg);
      background-size: auto 430px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-border {
      position: absolute;
      z-index: 6;
      top: 100%;
      height: auto;
      width: 100%;
      left: 50%;
      transform: translateY(-16%) translateX(-50%);
      margin: 0 auto;
      &.only-mobile {
        width: 83%;
        transform: translateX(-50%)
      }
    }
    &-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;
      padding-bottom: 142px;
      @media (max-width: 810px) {
        padding-bottom: 54px;
        & p {
          max-width: 230px;
        }
      }
      & .button-singin {
        margin-top: 2em;
        box-shadow: none;
        border-color: #ffc734;
        background: #ffc734;
        color: black;
        font-weight: 500;
        font-size: 1.4375em;
        line-height: 88.6%;
        width: fit-content;
        padding: 27px 28px;
        @media (max-width: 810px) {
          font-size: 18px;
          padding: 20px 14px 18px;
          
        }
        & *,
        & *::after,
        & *::before {
          box-shadow: none;
          border-color: #ffc734;
          background: #ffc734;
        }
        &:hover {
          border-color: #F2A000;
          background: #F2A000;
          & *,
          & *::after,
          & *::before {
            border-color: #F2A000;
            background: #F2A000;
          }
        }
      }
    }
    & .container {
      height: 100%;
      position: relative;
      z-index: 10;
    }
  }
  & .download {
    width: 100vw;
    position: relative;
    height: 24.4736vw;
    min-height: 458px;
    background: linear-gradient(90deg, #000 5.73%, rgba(14, 14, 18, 0) 16.87%),
      linear-gradient(270deg, #000 5.5%, rgba(14, 14, 18, 0) 16.26%),
      linear-gradient(180deg, #000 0%, rgba(14, 14, 18, 0) 26.56%),
      url(../../assets/img/main/download.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
     @media (max-width: 810px) {
      background:
      url(../../assets/img/main/download.png);
      background-size: auto 70%;
      background-position: center top;
      padding-bottom: 15%;
    }
    @media (max-width: 550px) {
      background: linear-gradient(270deg, rgba(14, 14, 18, 0.1) 0%, rgba(14, 14, 18, 0.1) 100%),
      url(../../assets/img/main/download-m.png);
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
    }
    & .container {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &::after {
        content: url(../../assets/img/main/fair.png);
        position: absolute;
        left: 25%;
        bottom: 60px;
        transform: translate(-50%, 50%);
        opacity: 0.6;
        z-index: 40;
         @media (max-width: 810px) {
            display: none;
          }
      }
    }
    & .soc-block {
      position: relative;
      z-index: 50;
      height: 2.9375em;
      margin-top: 76px;
      & a:not(:last-child) {
        margin-right: 1.5625em;
      }
    }
  }
  & .block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
      font-weight: 700;
      font-size: 2em;
      line-height: 105.6%;
      text-transform: uppercase;
      color: #f5e3cc;
    }
    & p {
      margin-top: 10px;
      font-size: 1.375em;
      line-height: 103.6%;
      color: #ffe1c1;
      text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
    }
  }
}
.container.with-slider {
  overflow: hidden;
  & .news-block-main {
    & .slider-nav {
      margin-bottom: 16px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > div {
        display: flex;
        column-gap: 50px;
        
      }
      & a.to-all-news {
        font-size: 16px;
        margin: 0;
      }
    }
    & .news-list {
        width: 100%;
        overflow: visible;
        display: flex;
        justify-content: space-between;
        gap: 0;
        & .news-item {
          width: 278px;
        }
        & .swiper-slide {
          width: 278px;
        }
        & .img-wrapper {
          width: 278px;
          height: 224px;
          background-size: 0;
        }
        & .news-img {
          &__center {
            background-size: 278px 224px;
          }
          &__left,
          &__right {
            background-size: 278px 224px;
            &-top, 
            &-bottom {
              &::after {
                background-size: 278px 224px;
              }
            }
          }
        }
        & h2 {
          font-size: 32px;
          margin-top: 12px;
        }
        &__date {
          margin-top: 3px;
        }
        & p {
          margin-top: 3px;
          width: 100%;
          box-sizing: content-box;
        }
    }
  }
  & .swiper-wrapper {
    width: 100vw;
  }
}