<div class="header-nav">
  {{> "link/link" text="Об игре" link=""}}
  {{> "link/link" text="Магазин" link="../../pages/shop/shop.hbs"}}
  {{> "link/link" text="События" link=""}}
  {{> "link/link" text="Новости" link="../../pages/news/news.hbs"}}
  {{> "link/link" text="Поддержка" link=""}}
</div>