<a class="button-yellow" {{#if link}} href="{{link}} {{/if}} ">
  <svg width="77" height="30" viewBox="0 0 77 30" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 5.36753L0 23.774L0.0697037 23.705L5.56419 29.1415L71.4358 29.1416L76.9303 23.7051L77 23.7741V5.36761L76.9303 5.43658L71.4358 7.80931e-05L5.56419 0L0.0697037 5.4365L0 5.36753Z" fill="#FFC734"/>
  </svg>
  <p>
  {{text}}
  </p>
</a>