---
auth: 'true'
page-shop: 'true'
---
{{!< body }}
<main class="shop bg-common">
  <div class="container">
    <div class="shop-nav">
      <div class="shop-nav__types-wrapper">
        <div class="shop-nav__types select-switcher">
          <div class="buttons">
            <button id="" class="active">Все</button>
            <button id="oruzhie">Оружие</button>
            <button id="dospehi">Доспехи</button>
            <button id="craft">Крафт</button>
            <button id="money">Валюта</button>
          </div>
          <svg class="shop-nav__types-border" width="512" height="17" viewBox="0 0 512 17" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_1079_1104)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M493.823 5.73975L18.1435 5.73975V3.61475L493.823 3.61475V5.73975Z" fill="#635C4C"/>
            <path d="M16 8.92725L4.79883 4.46368L16 0.000106812L20.33 4.46368L16 8.92725Z" fill="#635C4C"/>
            <path d="M496.33 8.92725L507.531 4.46368L496.33 0.000105858L492 4.46368L496.33 8.92725Z" fill="#635C4C"/>
            </g>
            <defs>
            <filter id="filter0_d_1079_1104" x="0.798828" y="0" width="510.732" height="16.9272" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1079_1104"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1079_1104" result="shape"/>
            </filter>
            </defs>
          </svg>
        </div>
      </div>
      {{> "input/input" label="Поиск" type="text" name="search"}}
    </div>
    <div class="shop__list select-list search-list">
      {{> "product/product" link="../product/product.hbs" title="Легендарный меч1" summ="9999" imgSrc="../../assets/img/products/mech.png" type="oruzhie" sale="8000" sale-date="31.12"}}
      {{> "product/product" link="../product/product-bought.hbs" title="Легендарный меч2" summ="9999" imgSrc="../../assets/img/products/mech.png" type="dospehi" bought="true"}}
      {{> "product/product" link="../product/product.hbs" title="Легендарный меч3" summ="9999" imgSrc="../../assets/img/products/mech.png" type="craft"}}
      {{> "product/product" link="../product/product.hbs" title="Легендарный меч4" summ="9999" imgSrc="../../assets/img/products/mech.png" type="money"}}
      {{> "product/product" link="../product/product.hbs" title="Легендарный меч5" summ="9999" imgSrc="../../assets/img/products/heroy.png" type="oruzhie"}}
      {{> "product/product" link="../product/product.hbs" title="Легендарный меч6" summ="9999" imgSrc="../../assets/img/products/heroy.png" type="dospehi"}}
      {{> "product/product" link="../product/product.hbs" title="Легендарный меч7" summ="9999" imgSrc="../../assets/img/products/heroy.png" type="money"}}
      {{> "product/product" link="../product/product.hbs" title="Легендарный меч8" summ="9999" imgSrc="../../assets/img/products/heroy.png" type="craft"}}
    </div>
    <div class="promo-wrapper">
      <div class="promo">
      <div class="promo-man"></div>
        <div class="promo-info">
          <h2>Легендарный
меч</h2>
          <div class="promo-money">
            {{> "money/money" count="9999" }}
            <a class="button-yellow" data-popup="confirm">
              <svg width="77" height="30" viewBox="0 0 77 30" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 5.36753L0 23.774L0.0697037 23.705L5.56419 29.1415L71.4358 29.1416L76.9303 23.7051L77 23.7741V5.36761L76.9303 5.43658L71.4358 7.80931e-05L5.56419 0L0.0697037 5.4365L0 5.36753Z" fill="#FFC734"/>
              </svg>
              <svg class="xs" width="147" height="41" viewBox="0 0 147 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 7.3936L0 32.7479L0.0960146 32.6529L7.66449 40.1415L138.401 40.1416L145.969 32.653L146.065 32.748V7.39371L145.969 7.48871L138.401 0.000107571L7.66449 0L0.0960146 7.4886L0 7.3936Z" fill="#FFC734"/>
              </svg>
              <p>Купить</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>