--- page-news: 'true' ---
{{!< body }}
<main class="article bg-common">
  <div class="container">
    <div class="breadcrumbs">
      <a href="../news/news.hbs">&#60; назад к новостям</a>
    </div>
    <div class="article__main-img full">
      <div class="img-wrapper">
        <img src="../../assets/img/article-new/top-banner.png" alt="" />
      </div>
    </div>
    <div class="article__main new">
      <div class="article__date">22 / 03 / 2022</div>
      <h1>все, что нужно знать перед запуском</h1>
      <div class="article__description">
        <p>
          Буквально через пару дней, 12 октября, состоится релиз глобальной
          версии корейского мультиплатформенного дьяблоида с очень необычным
          названием Undecember, и дабы подготовиться к этому событию, в данной
          статье мы подробно разберем все, что нужно знать об игре.
        </p>
      </div>
      <ul>
        <li>
          Игра поддерживает 10 языков, включая русский. Качество перевода на
          русский приемлемое, но на мой взгляд, сильно хромает адаптация
          русского текста под различные кнопки \ интерфейс.</li>
        <li>
          Игра создана на движке
          <a href="#">Unreal Engine 4</a>, так что картинка и анимации выглядят
          весьма приемлемо, не ААА-уровня, но для изометрии вполне неплохо.
        </li>
        <li>
          Игра будет доступна на платформах PC, Android, iOS. В случае с
          PC-клиентом разработчики оптимизировали большую часть интерфейса,
          доведя его до приемлемого состояния.
        </li>
        <li>
          Присутствуют элементы автоматизации - использование расходных зелий в
          1 и 2 слотах быстрого доступа, подбор лута, использование способности
          в первом слоте (по умолчанию это ЛКМ), крафт (об этом чуть позже).
        </li>
        <li>
          Присутствует встроенная обширная система фильтров, но, к сожалению,
          они не скрывают названия предметов, а просто не позволяют их
          подобрать.
        </li>
      </ul>
      <p>Также в этом пункте хочу оставить весьма полезную ссылку на официальный
        каталог всех рун. Помимо описания основных эффектов и наглядных
        GIF-примеров, там указан способ получения, и это довольно важный момент
        (дальше поймете почему).</p>
      <div class="article__side-img">
        <p>
          Также в этом пункте хочу оставить весьма полезную ссылку на
          официальный каталог всех рун. Помимо описания основных эффектов и
          наглядных GIF-примеров, там указан способ получения, и это довольно
          важный момент (дальше поймете почему). Также в этом пункте хочу
          оставить весьма полезную ссылку на официальный каталог всех рун.
          Помимо описания основных эффектов и наглядных GIF-примеров, там указан
          способ получения, и это довольно важный момент (дальше поймете
          почему).Также в этом пункте хочу оставить весьма полезную ссылку на
          официальный каталог всех рун.
        </p>
        <div class="article__side-img__svg">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg preserveAspectRatio="none" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 984 353" style="enable-background:new 0 0 984 353;" xml:space="preserve">
            <defs>
              <pattern id="img1" patternUnits="userSpaceOnUse" width="984px" height="100%" preserveAspectRatio="xMinYMin slice">
                <image href="../../assets/img/article-new/side-img.png" x="0" y="0" width="984px" height="100%"  preserveAspectRatio="xMinYMin slice"/>
              </pattern>
            </defs>
            <path preserveAspectRatio="xMidYMid slice" fill="url(#img1)" d="M 20 0 L 0 20 V 333 L 20 353 H 964 L 984 333 V 20 L 964 0 Z"/>
          </svg>
        </div>
      </div>
      <p>Также в этом пункте хочу оставить весьма полезную ссылку на официальный каталог всех рун. Помимо описания основных эффектов и наглядных GIF-примеров, там указан способ получения, и это довольно важный момент (дальше поймете почему). Также в этом пункте хочу оставить весьма полезную ссылку на официальный каталог всех рун. Помимо описания основных эффектов и наглядных GIF-примеров, там указан способ получения, и это довольно важный момент (дальше поймете почему).Также в этом пункте хочу оставить весьма полезную ссылку на официальный каталог всех рун.</p>
      <p>Также в этом пункте хочу оставить весьма полезную ссылку на официальный каталог всех рун. Помимо описания основных эффектов и наглядных GIF-примеров, там указан способ получения, и это довольно важный момент (дальше поймете почему). Также в этом пункте хочу оставить весьма полезную ссылку на официальный каталог всех рун. Помимо описания основных эффектов и наглядных GIF-примеров, там указан способ получения, и это довольно важный момент (дальше поймете почему).Также в этом пункте хочу оставить весьма полезную ссылку на официальный каталог всех рун.</p>
      <div class="double-img">
        <div class="img-wrapper">
        <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg preserveAspectRatio="none" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 627 354" style="enable-background:new 0 0 627 354;" xml:space="preserve">
            <defs>
              <pattern id="img1" patternUnits="userSpaceOnUse" width="100%" height="100%" preserveAspectRatio="xMinYMin slice">
                <image href="../../assets/img/article-new/double.png" x="0" y="0" width="100%" height="100%"  preserveAspectRatio="xMinYMin slice"/>
              </pattern>
            </defs>
            <path preserveAspectRatio="xMidYMid slice" fill="url(#img1)" d="M 20 0 L 0 20 V 334 L 20 354 H 607 L 627 334 V 20 L 607 0 Z"/>
          </svg>
        </div>
        <div class="img-wrapper">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg preserveAspectRatio="none" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 627 354" style="enable-background:new 0 0 627 354;" xml:space="preserve">
            <defs>
              <pattern id="img1" patternUnits="userSpaceOnUse" width="100%" height="100%" preserveAspectRatio="xMinYMin slice">
                <image href="../../assets/img/article-new/double.png" x="0" y="0" width="100%" height="100%"  preserveAspectRatio="xMinYMin slice"/>
              </pattern>
            </defs>
            <path preserveAspectRatio="xMidYMid slice" fill="url(#img1)" d="M 20 0 L 0 20 V 334 L 20 354 H 607 L 627 334 V 20 L 607 0 Z"/>
          </svg>
        </div>
      </div>
      <div class="article__add">
        <h2>донат</h2>
        <p>На мой взгляд, в магазине стоит купить только особые вкладки склада.
          Во-первых, они позволяют хранить предметы в стаках большего
          количества, то есть если у предмета Х максимальный размер стака 50, в
          особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически
          используются в связанных с ними системах, благодаря этому вам, скажем,
          не придется перетаскивать в инвентарь ресурсы для улучшения
          снаряжения.</p>
      </div>
    </div>
    <div class="article__quote only-desktop">
      <svg
        class="article__quote-quote"
        width="76"
        height="55"
        viewBox="0 0 76 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.2">
          <path
            d="M30.8454 0H2.22656C0.996735 0 0 1.00521 0 2.24549V31.1077C0 32.348 0.996735 33.3532 2.22656 33.3532H14.3091V52.7545C14.3091 53.9942 15.3059 55 16.5357 55H23.6909C24.6493 55 25.4999 54.3813 25.8026 53.4644L32.9572 31.8176C33.0331 31.589 33.072 31.3492 33.072 31.1077V2.24549C33.072 1.00521 32.0753 0 30.8454 0Z"
            fill="#635C4C"
          ></path>
          <path
            d="M73.7734 0H45.1546C43.9247 0 42.928 1.00521 42.928 2.24549V31.1077C42.928 32.348 43.9247 33.3532 45.1546 33.3532H57.2377V52.7545C57.2377 53.9942 58.2345 55 59.4643 55H66.6189C67.5773 55 68.4279 54.3813 68.7312 53.4644L75.8858 31.8176C75.9612 31.589 76 31.3492 76 31.1077V2.24549C76 1.00521 75.0033 0 73.7734 0Z"
            fill="#635C4C"
          ></path>
        </g>
      </svg>
      <div class="article__quote-border-top"></div>
      <div class="article__quote-border-bottom"></div>
      <div class="article__quote-border-left"></div>
      <div class="article__quote-border-right"></div>
      <p>На мой взгляд, в магазине стоит купить только особые вкладки склада.
        Во-первых, они позволяют хранить предметы в стаках большего количества,
        то есть если у предмета Х максимальный размер стака 50, в особой вкладке
        он 2000. Во-вторых, предметы из вкладок автоматически используются в
        связанных с ними системах, благодаря этому вам, скажем, не придется
        перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
    </div>
    <div class="article__table only-desktop">
      <div class="article__table-list article__table-head">
        <h2>Название итема</h2>
        <h2>Стоимость</h2>
        <h2>Дата продажи</h2>
      </div>
      <div class="article__table-body">
        <div class="article__table-list">
          <h3 class="article__table-title">Эпический меч</h3>
          <div class="article__table-price">200</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Эпический меч</h3>
          <div class="article__table-price">200</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
      </div>
    </div>
    <div class="article__main-img full outline">
      <div class="img-wrapper">
        <img src="../../assets/img/article-new/top-banner.png" alt="" />
      </div>
    </div>
    <div class="article__main">
      <p>На мой взгляд, в магазине стоит купить только особые вкладки склада. Во-первых, они позволяют хранить предметы в стаках большего количества, то есть если у предмета Х максимальный размер стака 50, в особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически используются в связанных с ними системах, благодаря этому вам, скажем, не придется перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
      <p>На мой взгляд, в магазине стоит купить только особые вкладки склада. Во-первых, они позволяют хранить предметы в стаках большего количества, то есть если у предмета Х максимальный размер стака 50, в особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически используются в связанных с ними системах, благодаря этому вам, скажем, не придется перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
    </div>
    <div class="article__main-img full outline prod">
      <img class="prod" src="../../assets/img/article-new/pouches.png" alt="">
      <div class="img-wrapper">
        <img src="../../assets/img/article-new/bg-for-product.png" alt="" />
      </div>
    </div>
    <div class="article__main">
       <div class="article__add">
        <h2>донат</h2>
        <p>На мой взгляд, в магазине стоит купить только особые вкладки склада.
          Во-первых, они позволяют хранить предметы в стаках большего
          количества, то есть если у предмета Х максимальный размер стака 50, в
          особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически
          используются в связанных с ними системах, благодаря этому вам, скажем,
          не придется перетаскивать в инвентарь ресурсы для улучшения
          снаряжения.</p>
      </div>
    </div>
     <div class="article__quote only-desktop">
      <svg
        class="article__quote-quote"
        width="76"
        height="55"
        viewBox="0 0 76 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.2">
          <path
            d="M30.8454 0H2.22656C0.996735 0 0 1.00521 0 2.24549V31.1077C0 32.348 0.996735 33.3532 2.22656 33.3532H14.3091V52.7545C14.3091 53.9942 15.3059 55 16.5357 55H23.6909C24.6493 55 25.4999 54.3813 25.8026 53.4644L32.9572 31.8176C33.0331 31.589 33.072 31.3492 33.072 31.1077V2.24549C33.072 1.00521 32.0753 0 30.8454 0Z"
            fill="#635C4C"
          ></path>
          <path
            d="M73.7734 0H45.1546C43.9247 0 42.928 1.00521 42.928 2.24549V31.1077C42.928 32.348 43.9247 33.3532 45.1546 33.3532H57.2377V52.7545C57.2377 53.9942 58.2345 55 59.4643 55H66.6189C67.5773 55 68.4279 54.3813 68.7312 53.4644L75.8858 31.8176C75.9612 31.589 76 31.3492 76 31.1077V2.24549C76 1.00521 75.0033 0 73.7734 0Z"
            fill="#635C4C"
          ></path>
        </g>
      </svg>
      <div class="article__quote-border-top"></div>
      <div class="article__quote-border-bottom"></div>
      <div class="article__quote-border-left"></div>
      <div class="article__quote-border-right"></div>
      <p>На мой взгляд, в магазине стоит купить только особые вкладки склада.
        Во-первых, они позволяют хранить предметы в стаках большего количества,
        то есть если у предмета Х максимальный размер стака 50, в особой вкладке
        он 2000. Во-вторых, предметы из вкладок автоматически используются в
        связанных с ними системах, благодаря этому вам, скажем, не придется
        перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
    </div>
    <div class="article__table only-desktop">
      <div class="article__table-list article__table-head">
        <h2>Название итема</h2>
        <h2>Стоимость</h2>
        <h2>Дата продажи</h2>
      </div>
      <div class="article__table-body">
        <div class="article__table-list">
          <h3 class="article__table-title">Эпический меч</h3>
          <div class="article__table-price">200</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Эпический меч</h3>
          <div class="article__table-price">200</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
        <div class="article__table-list">
          <h3 class="article__table-title">Легендарная Броня</h3>
          <div class="article__table-price">2000</div>
          <div class="article__table-date">23 / 12 / 2022</div>
        </div>
      </div>
    </div>
    <div class="article__one-img">
      <div class="img-wrapper">
      <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg preserveAspectRatio="none" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 860 354" style="enable-background:new 0 0 860 354;" xml:space="preserve">
          <defs>
            <pattern id="img1" patternUnits="userSpaceOnUse" width="100%" height="100%" preserveAspectRatio="xMinYMin slice">
              <image href="../../assets/img/article-new/side-img.png" x="0" y="0" width="100%" height="100%"  preserveAspectRatio="xMinYMin slice"/>
            </pattern>
          </defs>
          <path preserveAspectRatio="xMidYMid slice" fill="url(#img1)" d="M 20 0 L 0 20 V 334 L 20 354 H 840 L 860 334 V 20 L 840 0 Z"/>
        </svg>
      </div>
    </div>
     <div class="article__main">
      <p>На мой взгляд, в магазине стоит купить только особые вкладки склада. Во-первых, они позволяют хранить предметы в стаках большего количества, то есть если у предмета Х максимальный размер стака 50, в особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически используются в связанных с ними системах, благодаря этому вам, скажем, не придется перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
      <p>На мой взгляд, в магазине стоит купить только особые вкладки склада. Во-первых, они позволяют хранить предметы в стаках большего количества, то есть если у предмета Х максимальный размер стака 50, в особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически используются в связанных с ними системах, благодаря этому вам, скажем, не придется перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
       <div class="article__with-img">
        <div class="article__with-img__txt">
          <p>На мой взгляд, в магазине стоит купить только особые вкладки склада. Во-первых, они позволяют хранить предметы в стаках большего количества, то есть если у предмета Х максимальный размер стака 50, в особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически используются в связанных с ними системах, благодаря этому вам, скажем, не придется перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
          <p>На мой взгляд, в магазине стоит купить только особые вкладки склада. Во-первых, они позволяют хранить предметы в стаках большего количества, то есть если у предмета Х максимальный размер стака 50, в особой вкладке он 2000. Во-вторых, предметы из вкладок автоматически используются в связанных с ними системах, благодаря этому вам, скажем, не придется перетаскивать в инвентарь ресурсы для улучшения снаряжения.</p>
        </div>
        <div class="article__with-img__svg">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg preserveAspectRatio="none" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 392 634" style="enable-background:new 0 0 392 634;" xml:space="preserve">
            <defs>
              <pattern id="img2" patternUnits="userSpaceOnUse" width="100%" height="100%" preserveAspectRatio="xMinYMin slice">
                <image href="../../assets/img/article-new/vertical.png" x="0" y="0" width="100%" height="100%"  preserveAspectRatio="xMinYMin slice"/>
              </pattern>
            </defs>
            <path preserveAspectRatio="xMidYMid slice" fill="url(#img2)" d="M 20 0 L 0 20 V 614 L 20 634 H 372 L 392 614 V 20 L 372 0 Z"/>
          </svg>
        </div>
      </div>
     </div>
    <div class="promo-wrapper">
      <div
        class="promo"
        style="background-image: url(../../assets/img/article/banner-bg.png);"
      >
        <div
          class="promo-man"
          style="background-image: url(../../assets/img/article/banner-man.png);"
        ></div>
        <div class="promo-info">
          <h2>Эксклюзивные предметы<br />
            <small>для героев</small></h2>
          <div class="promo-money">
            <a class="button-yellow" data-popup="confirm">
              <svg
                width="242"
                height="48"
                viewBox="0 0 242 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.5956L0 36.9304L0.137597 36.7943L10.9839 47.5261L231.016 47.5262L241.862 36.7945L242 36.9306V10.5958L241.862 10.7319L231.016 0.000154495L10.9839 0L0.137597 10.7318L0 10.5956Z"
                  fill="#FFC734"
                ></path>
              </svg>
              <svg
                class="xs"
                width="147"
                height="41"
                viewBox="0 0 147 41"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 7.3936L0 32.7479L0.0960146 32.6529L7.66449 40.1415L138.401 40.1416L145.969 32.653L146.065 32.748V7.39371L145.969 7.48871L138.401 0.000107571L7.66449 0L0.0960146 7.4886L0 7.3936Z"
                  fill="#FFC734"
                ></path>
              </svg>
              <p>Получить</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</main>