.notifications {
  display: block !important;
  visibility: visible;
  width: 19px;
  height: 20px;
  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  & img.notifications-hover {
    display: none;
  }
  &:hover {
    cursor: pointer;
    & img:not(.notifications-hover) {
      display: none;
    }
    & img.notifications-hover {
      display: block;
    }
  }
}
