.notifications {
  display: block !important;
  visibility: visible;
  width: 19px;
  height: 20px;
  background-image: url(../../assets/img/notifications.svg);
  background-size: contain;
    &:hover {
      cursor: pointer;
      background-image: url(../../assets/img/notifications-hover.svg);
    }
}
