<div class="cookies">
  <div class="container">
    <svg
      class="cookies-svg"
      preserveAspectRatio="none"
      width="1097"
      height="35"
      viewBox="0 0 1097 35"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M528.874 3.19055L13.6435 3.19067V5.31567L528.874 5.31555V3.19055Z"
        fill="#354A51"
      ></path>
      <path
        d="M11.5 0.00317383L0.298828 4.46674L11.5 8.93031L15.83 4.46674L11.5 0.00317383Z"
        fill="#354A51"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M576.504 3.19055L1083.16 3.1875V5.3125L576.504 5.31555V3.19055Z"
        fill="#354A51"
      ></path>
      <path
        d="M1085.3 0L1096.5 4.46357L1085.3 8.92714L1080.97 4.46357L1085.3 0Z"
        fill="#354A51"
      ></path>
      <path
        d="M577.162 4.12071C577.22 4.14279 577.277 4.16592 577.336 4.18905C580.89 5.64415 581.16 11.514 579.898 13.3329C578.637 15.1518 577.297 16.036 575.665 15.26C574.034 14.4841 571.916 10.9242 574.246 8.64794L575.644 9.4638C575.644 9.4638 573.45 11.2101 574.732 12.9071C576.014 14.605 578.584 12.6695 578.875 9.03064C579.166 5.39182 574.998 4.22269 572.229 6.72602C571.343 7.52717 570.253 9.74873 568.947 12.0859C570.681 13.827 571.599 16.4723 570.476 19.1733C570.254 19.7053 570.021 20.2068 569.776 20.6799C571.225 20.6042 572.42 20.3203 572.647 20.0438C572.996 19.6169 572.88 19.3163 572.647 18.8915C573.645 18.9083 574.346 19.3026 574.309 20.4276C576.227 19.618 577.259 20.3056 577.262 21.1961C577.265 22.0866 576.778 22.2033 576.778 22.2033C576.778 22.2033 575.886 21.4642 575.536 21.8301C575.133 22.2485 574.41 22.1213 574.41 22.1213C574.41 22.1213 575.06 22.9361 574.124 23.5007C573.827 22.4935 572.636 21.7439 569.044 21.9479C567.146 24.8728 564.587 26.2596 561.018 25.8054C560.85 25.7843 560.679 25.758 560.507 25.7286C560.494 25.7538 560.48 25.7791 560.464 25.8054C560.455 25.8232 560.446 25.8422 560.437 25.86C560.249 26.965 560.255 27.9007 560.649 28.6851C562.05 31.4754 563.672 29.543 564.895 30.4135C564.895 30.4135 560.519 32.8937 559.361 29.196C559.297 28.99 559.247 28.7818 559.208 28.5705C557.815 31.7004 556.218 34.6727 552.343 33.8705C547.398 32.8454 547.234 29.4189 547.965 27.312C548.32 26.29 549.549 24.7929 552.158 25.0368C554.452 25.2513 555.392 26.4067 555.116 27.6642C554.82 29.0142 553.812 28.9427 552.853 29.0331C551.956 29.1172 551.783 30.2558 552.586 30.3673C552.161 30.6617 551.085 30.2201 551.149 29.5766C551.212 28.9332 551.811 28.2929 552.528 28.3024C553.998 28.3202 554.608 27.0449 552.897 26.3826C550.92 25.6161 548.939 26.8567 548.836 29.0709C548.734 31.2736 552.217 33.6581 554.984 32.3449C557.583 31.1117 558.448 27.3414 559.057 25.3932C554.844 24.1726 550.176 20.6778 550.497 14.6692C550.698 10.9094 551.962 7.96454 554.626 5.92908C553.237 5.23201 552.072 4.90293 551.728 4.85352C550.742 4.71473 550.017 4.30785 549.676 3.81055C549.335 3.31325 549.822 1.5953 550.681 1.41972C550.232 2.99678 551.767 3.24701 552.078 3.31114C552.906 3.48042 554.452 4.02819 556.1 4.97337C558.253 3.79373 561.087 3.0462 564.71 2.76443C568.435 2.47425 570.167 3.58976 572.783 3.46465C575.213 3.34794 579.867 1.95487 582.062 2.57308C585.667 3.58661 585.544 5.12372 586.124 6.79751C583.397 3.63707 580.354 3.59922 577.161 4.12176L577.162 4.12071ZM568.206 20.6767C568.33 20.4486 568.447 20.2099 568.557 19.9586C570.051 16.5227 569.492 14.5167 568.206 13.3833C566.923 15.5439 565.454 17.5973 563.788 18.5098C564.284 19.9818 566.248 20.5579 568.206 20.6778V20.6767ZM562.311 17.1536C563.446 16.855 564.896 15.7216 566.93 12.6022C565.861 12.1532 564.638 12.0229 563.659 12.0449C563.157 12.0565 562.664 12.0986 562.193 12.1722C562.31 12.6663 562.385 13.1815 562.41 13.7187C562.466 14.9373 562.421 16.0812 562.311 17.1546V17.1536ZM567.362 21.931C565.01 21.644 563.575 20.2341 562 19.3026C561.643 21.2329 561.138 22.8993 560.774 24.3324C563.21 24.6352 565.664 23.9823 567.362 21.931ZM560.895 14.1803C560.851 13.6125 560.755 13.0753 560.62 12.5675C559.969 12.8061 559.402 13.1279 558.957 13.5389C558.534 14.972 558.983 16.4639 560.195 16.9139C560.419 16.9969 560.653 17.0821 560.901 17.1452C560.967 16.2063 560.975 15.2201 560.895 14.1813V14.1803ZM553.82 20.4297C555.184 22.1939 557.32 23.5428 559.587 24.1105C559.958 22.4998 560.454 20.7167 560.735 18.7065C560.72 18.7012 560.705 18.6959 560.69 18.6907C559.054 18.1576 558.261 16.7299 557.909 15.8036C557.655 17.7318 557.612 18.0819 556.987 18.4068C556.323 18.7527 555.375 18.1734 555.148 17.1525C557.493 17.9274 556.322 15.1843 557.255 13.3665C557.812 12.2815 558.522 11.433 559.957 10.8537C559.051 9.09477 557.627 7.78476 556.211 6.84482C552.369 9.2693 550.449 16.0675 553.82 20.4286V20.4297ZM557.73 6.0279C559.248 7.13711 560.682 8.5859 561.556 10.388C562.255 10.2429 563.07 10.1346 564.028 10.0641C565.33 9.96846 566.674 10.389 567.829 11.1639C569.716 8.11279 571.15 6.09414 572.485 4.94078C567.955 5.31192 564.027 2.98732 557.729 6.02685L557.73 6.0279ZM564.778 30.5513C564.812 30.5113 564.842 30.4766 564.863 30.4524C564.833 30.4871 564.804 30.5208 564.778 30.5513ZM564.549 30.8162C564.585 30.7752 564.626 30.7269 564.677 30.668C564.632 30.7195 564.59 30.7689 564.549 30.8162ZM564.549 30.8162C564.533 30.8351 564.517 30.853 564.504 30.8688L564.549 30.8162Z"
        fill="#354A51"
      ></path>
      <path
        d="M526.372 4.12071C526.314 4.14279 526.257 4.16592 526.198 4.18905C522.644 5.64415 522.374 11.514 523.636 13.3329C524.897 15.1518 526.238 16.036 527.869 15.26C529.5 14.4841 531.618 10.9242 529.288 8.64794L527.89 9.46381C527.89 9.46381 530.084 11.2101 528.802 12.9071C527.52 14.605 524.95 12.6695 524.659 9.03064C524.368 5.39182 528.536 4.22269 531.305 6.72602C532.191 7.52717 533.281 9.74873 534.587 12.0859C532.853 13.827 531.935 16.4723 533.058 19.1733C533.28 19.7053 533.513 20.2068 533.758 20.6799C532.309 20.6042 531.114 20.3203 530.887 20.0438C530.538 19.6169 530.654 19.3163 530.887 18.8915C529.89 18.9083 529.188 19.3026 529.225 20.4276C527.307 19.618 526.275 20.3056 526.272 21.1961C526.269 22.0866 526.756 22.2033 526.756 22.2033C526.756 22.2033 527.648 21.4642 527.998 21.8301C528.401 22.2485 529.124 22.1213 529.124 22.1213C529.124 22.1213 528.474 22.9361 529.41 23.5007C529.707 22.4935 530.898 21.7439 534.49 21.9479C536.388 24.8728 538.947 26.2596 542.516 25.8054C542.684 25.7843 542.855 25.758 543.027 25.7286C543.04 25.7538 543.054 25.7791 543.07 25.8054C543.079 25.8232 543.088 25.8422 543.098 25.86C543.286 26.965 543.279 27.9007 542.885 28.6851C541.484 31.4754 539.862 29.543 538.639 30.4135C538.639 30.4135 543.016 32.8937 544.173 29.196C544.238 28.99 544.287 28.7818 544.327 28.5705C545.72 31.7004 547.317 34.6727 551.191 33.8705C556.137 32.8454 556.3 29.4189 555.57 27.312C555.215 26.29 553.986 24.7929 551.376 25.0368C549.083 25.2513 548.142 26.4067 548.418 27.6642C548.714 29.0142 549.722 28.9427 550.682 29.0331C551.578 29.1172 551.751 30.2558 550.948 30.3673C551.373 30.6617 552.449 30.2201 552.386 29.5766C552.322 28.9332 551.724 28.2929 551.006 28.3024C549.536 28.3203 548.926 27.0449 550.637 26.3826C552.614 25.6161 554.595 26.8567 554.698 29.0709C554.8 31.2736 551.317 33.6581 548.55 32.3449C545.951 31.1117 545.086 27.3414 544.477 25.3932C548.69 24.1726 553.358 20.6778 553.038 14.6692C552.836 10.9095 551.572 7.96455 548.909 5.92908C550.297 5.23202 551.462 4.90294 551.807 4.85352C552.792 4.71474 553.518 4.30786 553.858 3.81056C554.199 3.31326 553.713 1.59531 552.854 1.41973C553.302 2.99679 551.767 3.24702 551.456 3.31115C550.628 3.48042 549.082 4.02819 547.434 4.97338C545.281 3.79374 542.448 3.04621 538.824 2.76444C535.099 2.47426 533.368 3.58977 530.751 3.46465C528.321 3.34795 523.667 1.95487 521.472 2.57308C517.867 3.58661 517.989 5.12372 517.41 6.79751C520.137 3.63707 523.18 3.59923 526.373 4.12176L526.372 4.12071ZM535.329 20.6767C535.204 20.4486 535.087 20.2099 534.977 19.9586C533.483 16.5227 534.042 14.5167 535.329 13.3833C536.611 15.5439 538.08 17.5973 539.746 18.5099C539.25 19.9818 537.286 20.5579 535.329 20.6778V20.6767ZM541.223 17.1536C540.088 16.855 538.638 15.7216 536.604 12.6022C537.674 12.1532 538.896 12.0229 539.875 12.0449C540.378 12.0565 540.87 12.0986 541.341 12.1722C541.225 12.6663 541.149 13.1815 541.124 13.7187C541.068 14.9373 541.113 16.0812 541.223 17.1546V17.1536ZM536.172 21.931C538.524 21.644 539.959 20.2341 541.534 19.3026C541.892 21.2329 542.396 22.8994 542.76 24.3324C540.324 24.6352 537.87 23.9823 536.172 21.931ZM542.64 14.1803C542.683 13.6125 542.779 13.0753 542.915 12.5675C543.565 12.8061 544.133 13.1279 544.577 13.5389C545 14.972 544.551 16.4639 543.339 16.9139C543.115 16.9969 542.881 17.0821 542.634 17.1452C542.567 16.2063 542.559 15.2201 542.64 14.1813V14.1803ZM549.714 20.4297C548.351 22.1939 546.214 23.5428 543.948 24.1105C543.577 22.4998 543.08 20.7167 542.799 18.7065C542.814 18.7012 542.829 18.6959 542.844 18.6907C544.48 18.1576 545.273 16.7299 545.626 15.8036C545.879 17.7318 545.922 18.0819 546.547 18.4068C547.211 18.7527 548.16 18.1734 548.386 17.1525C546.041 17.9274 547.212 15.1844 546.279 13.3665C545.723 12.2815 545.012 11.433 543.578 10.8537C544.483 9.09478 545.908 7.78476 547.324 6.84483C551.166 9.26931 553.085 16.0675 549.714 20.4286V20.4297ZM545.805 6.02791C544.286 7.13711 542.852 8.58591 541.979 10.388C541.279 10.2429 540.464 10.1346 539.506 10.0641C538.204 9.96847 536.86 10.389 535.706 11.1639C533.818 8.11279 532.384 6.09414 531.049 4.94078C535.579 5.31192 539.507 2.98733 545.805 6.02686L545.805 6.02791ZM538.756 30.5513C538.722 30.5113 538.693 30.4766 538.671 30.4524C538.702 30.4871 538.73 30.5208 538.756 30.5513ZM538.985 30.8162C538.949 30.7752 538.908 30.7268 538.857 30.668C538.902 30.7195 538.944 30.7689 538.985 30.8162ZM538.985 30.8162C539.001 30.8351 539.017 30.853 539.03 30.8688L538.985 30.8162Z"
        fill="#354A51"
      ></path>
    </svg>
    <div class="cookies-main">
      <div class="cookies-text">
        Мы используем Cookies. Нажав «Принять» или продолжая использовать cайт
        mastersandheroes.com, вы подтверждаете<br />
        свое согласие с политикой компании Vintersaga по использованию файлов
        cookie и других персональных данных согласно&nbsp;<a
          href="../../pages/legal/legal.hbs"
          target="_blank"
        >Политике конфиденциальности.</a>
      </div>
      <button class="cookies-btn">
        <svg
          width="173"
          height="39"
          preserveAspectRatio="none"
          viewBox="0 0 173 39"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.0656441 7.20715C0.0413079 7.18307 0 7.20031 0 7.23455L0 31.542C0 31.5763 0.0413062 31.5935 0.0656436 31.5694C0.0806606 31.5546 0.104838 31.5546 0.119854 31.5694L5.9427 37.3308C6.87881 38.257 8.14253 38.7765 9.45942 38.7765L162.999 38.7766C164.316 38.7766 165.58 38.2571 166.516 37.3309L172.339 31.5695C172.354 31.5547 172.378 31.5547 172.393 31.5695C172.417 31.5936 172.459 31.5764 172.459 31.5421V7.23467C172.459 7.20042 172.417 7.18317 172.393 7.20725C172.378 7.22211 172.354 7.22211 172.339 7.20725L166.516 1.44587C165.58 0.519635 164.316 0.000103426 162.999 0.000102558L9.45944 1.35489e-06C8.14254 4.86879e-07 6.87881 0.519528 5.9427 1.44576L0.119856 7.20715C0.104839 7.22201 0.0806605 7.22201 0.0656441 7.20715Z"
            fill="#FFC734"
          ></path>
        </svg>
        <p>Принять</p>
      </button>
    </div>
  </div>
</div>