{{!< body }}
<main class="news bg-common">
  <div class="container">
    <h1>Новости
    </h1>
      {{> "svg-title/svg-title" }}
    {{> "news-list/news-list" }}
    <button class="news__all-news">Все новости</button>
  </div>
</main>