---
page-news: 'true'
---
{{!< body }}
<main class="news bg-common">
  <div class="container">
    {{> "news-list/news-list" }}
    <button class="news__all-news">Больше новостей</button>
  </div>
</main>