<div class="soc-block">
  <a href=""><img
      src="../../assets/img/main/google.svg"
      alt="Google Play"
    /></a>
  <a href=""><img src="../../assets/img/main/apple.svg" alt="App Store" /></a>
  <a href=""><img src="../../assets/img/main/pk.svg" alt="For PC" /></a>
</div>