<div class="soc-block">
  <a href=""><img
      src="../../assets/img/main/google.svg"
      alt="Google Play"
    /></a>
  <a class="apple" href=""><img src="../../assets/img/main/apple.svg" alt="App Store" /></a>
  <a href=""><img src="../../assets/img/main/pk.svg" alt="For PC" /></a>
  <div class="only-mobile">
    <p>Игра так же доступна на</p>
    <div class="soc-block-mobile">
     <a href=""><img
      src="../../assets/img/main/google-mobile.svg"
      alt="Google Play"
      /></a>
     <a href=""><img src="../../assets/img/main/pc-mobile.svg" alt="For PC" /></a>
    </div>
  </div>
</div>