<div class="soc-block">
  <a href=""><img
      src="../../assets/img/main/google.svg"
      alt="Google Play"
    /></a>
  <a class="apple" href=""><img
      src="../../assets/img/main/apple.svg"
      alt="App Store"
    /></a>
  <a href="" class="pc">
    <svg
      width="24"
      height="27"
      viewBox="0 0 24 27"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.41249 3.16542L0 4.87286V12.7723L8.41243 12.6283L8.41249 3.16542ZM24 14.6379L10.3374 14.4V24.2242L24 27V14.6379ZM8.41249 14.3705L5.86722e-05 14.2252V22.1233L8.41249 23.8321V14.3705ZM24 0L10.3374 2.77328V12.5974L24 12.3609V0Z"
        fill="black"
      ></path>
    </svg>

    <svg
      width="121"
      height="10"
      viewBox="0 0 121 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7.42969 0.597656L4.79883 6.35742C4.30664 7.43555 3.8418 8.16992 3.4043 8.56055C2.9668 8.95117 2.41211 9.14648 1.74023 9.14648C1.29492 9.14648 0.931641 9.08203 0.650391 8.95312V7.22461C0.970703 7.43164 1.30273 7.53516 1.64648 7.53516C2.11914 7.53516 2.53516 7.15234 2.89453 6.38672L0.134766 0.597656H2.29102L3.68555 3.96094C3.76758 4.16406 3.83203 4.39258 3.87891 4.64648H3.89062C3.93359 4.43555 4 4.21484 4.08984 3.98438L5.4375 0.597656H7.42969ZM14.1914 8.70117C13.5781 8.99805 12.7773 9.14648 11.7891 9.14648C10.5 9.14648 9.48633 8.76758 8.74805 8.00977C8.00977 7.25195 7.64062 6.24219 7.64062 4.98047C7.64062 3.63672 8.05469 2.54688 8.88281 1.71094C9.71484 0.875 10.793 0.457031 12.1172 0.457031C12.9375 0.457031 13.6289 0.560547 14.1914 0.767578V2.58984C13.6289 2.25391 12.9883 2.08594 12.2695 2.08594C11.4805 2.08594 10.8438 2.33398 10.3594 2.83008C9.875 3.32617 9.63281 3.99805 9.63281 4.8457C9.63281 5.6582 9.86133 6.30664 10.3184 6.79102C10.7754 7.27148 11.3906 7.51172 12.1641 7.51172C12.9023 7.51172 13.5781 7.33203 14.1914 6.97266V8.70117ZM21.5566 2.13867H19.1602V9H17.2617V2.13867H14.877V0.597656H21.5566V2.13867ZM29.3613 9H27.2988L26.7012 7.13086H23.7129L23.1211 9H21.0703L24.1289 0.597656H26.373L29.3613 9ZM26.2676 5.67773L25.3652 2.85352C25.2988 2.64258 25.252 2.39062 25.2246 2.09766H25.1777C25.1582 2.34375 25.1094 2.58789 25.0312 2.83008L24.1172 5.67773H26.2676ZM37.6816 9H35.7832V5.57812H32.3027V9H30.4102V0.597656H32.3027V3.94922H35.7832V0.597656H37.6816V9ZM43.1602 9.14648C41.957 9.14648 40.9766 8.75586 40.2188 7.97461C39.4609 7.18945 39.082 6.16797 39.082 4.91016C39.082 3.58203 39.4668 2.50781 40.2363 1.6875C41.0059 0.867188 42.0254 0.457031 43.2949 0.457031C44.4941 0.457031 45.4629 0.849609 46.2012 1.63477C46.9434 2.41992 47.3145 3.45508 47.3145 4.74023C47.3145 6.06055 46.9297 7.125 46.1602 7.93359C45.3945 8.74219 44.3945 9.14648 43.1602 9.14648ZM43.2422 2.08594C42.5781 2.08594 42.0508 2.33594 41.6602 2.83594C41.2695 3.33203 41.0742 3.99023 41.0742 4.81055C41.0742 5.64258 41.2695 6.30078 41.6602 6.78516C42.0508 7.26953 42.5625 7.51172 43.1953 7.51172C43.8477 7.51172 44.3652 7.27734 44.748 6.80859C45.1309 6.33594 45.3223 5.68164 45.3223 4.8457C45.3223 3.97461 45.1367 3.29688 44.7656 2.8125C44.3945 2.32812 43.8867 2.08594 43.2422 2.08594ZM48.7148 9V0.597656H51.7734C52.7109 0.597656 53.4316 0.769531 53.9355 1.11328C54.4395 1.45703 54.6914 1.94141 54.6914 2.56641C54.6914 3.01953 54.5371 3.41602 54.2285 3.75586C53.9238 4.0957 53.5332 4.33203 53.0566 4.46484V4.48828C53.6543 4.5625 54.1309 4.7832 54.4863 5.15039C54.8457 5.51758 55.0254 5.96484 55.0254 6.49219C55.0254 7.26172 54.75 7.87305 54.1992 8.32617C53.6484 8.77539 52.8965 9 51.9434 9H48.7148ZM50.6074 1.99219V3.98438H51.4395C51.8301 3.98438 52.1367 3.89062 52.3594 3.70312C52.5859 3.51172 52.6992 3.25 52.6992 2.91797C52.6992 2.30078 52.2383 1.99219 51.3164 1.99219H50.6074ZM50.6074 5.39062V7.60547H51.6328C52.0703 7.60547 52.4121 7.50391 52.6582 7.30078C52.9082 7.09766 53.0332 6.82031 53.0332 6.46875C53.0332 6.13281 52.9102 5.86914 52.6641 5.67773C52.4219 5.48633 52.082 5.39062 51.6445 5.39062H50.6074ZM63.9727 9H62.1855V4.38281C62.1855 3.85156 62.2051 3.39844 62.2441 3.02344H62.209C62.127 3.18359 61.9863 3.41602 61.7871 3.7207L58.3184 9H56.4141V0.597656H58.2012V5.24414C58.2012 5.81836 58.1855 6.20312 58.1543 6.39844H58.1777C58.1973 6.35156 58.3418 6.12305 58.6113 5.71289L61.9453 0.597656H63.9727V9ZM71.8066 2.13867H69.4102V9H67.5117V2.13867H65.127V0.597656H71.8066V2.13867ZM72.9375 9V0.597656H74.8301V3.74414H76.0664C78.0938 3.74414 79.1074 4.56836 79.1074 6.2168C79.1074 7.0957 78.834 7.7793 78.2871 8.26758C77.7402 8.75586 76.9688 9 75.9727 9H72.9375ZM74.8301 5.17383V7.55859H75.6855C76.6387 7.55859 77.1152 7.1543 77.1152 6.3457C77.1152 5.56445 76.6504 5.17383 75.7207 5.17383H74.8301ZM91.002 9H89.1035V5.57812H85.623V9H83.7305V0.597656H85.623V3.94922H89.1035V0.597656H91.002V9ZM100.318 9H98.2559L97.6582 7.13086H94.6699L94.0781 9H92.0273L95.0859 0.597656H97.3301L100.318 9ZM97.2246 5.67773L96.3223 2.85352C96.2559 2.64258 96.209 2.39062 96.1816 2.09766H96.1348C96.1152 2.34375 96.0664 2.58789 95.9883 2.83008L95.0742 5.67773H97.2246ZM111.949 9H110.057V2.25H106.576V9H104.684V0.597656H111.949V9ZM120.855 9H118.465L116.016 5.34961C115.969 5.2793 115.895 5.125 115.793 4.88672H115.764V9H113.871V0.597656H115.764V4.57031H115.793C115.84 4.46094 115.918 4.30469 116.027 4.10156L118.348 0.597656H120.604L117.674 4.60547L120.855 9Z"
        fill="black"
      ></path>
    </svg>

  </a>
  <div class="only-mobile">
    <p>Игра так же доступна на</p>
    <div class="soc-block-mobile">
      <a href=""><img
          src="../../assets/img/main/google-mobile.svg"
          alt="Google Play"
        /></a>
      <a href=""><img
          src="../../assets/img/main/pc-mobile.svg"
          alt="For PC"
        /></a>
    </div>
  </div>
</div>