<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>successful authorization</title>
    <link rel="stylesheet" href="./style.scss" />
    <link rel="icon" href="../../assets/img/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <main class="auth-screen success">
      <div
        class="auth-screen__bg"
        style="background-image: url(./bg.png);"
      ></div>
      <div class="auth-screen__content">
        <img
          class="logo"
          src="../../assets/img/Logo_fullcolor1.svg"
          alt="логотип"
        />
        <svg
          class="auth-screen__icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.4463 15.8651C11.3604 15.9517 11.2432 16 11.1214 16C10.9996 16 10.8824 15.9517 10.7965 15.8651L8.20197 13.2658C7.93268 12.9961 7.93268 12.5588 8.20197 12.2895L8.52686 11.9641C8.79614 11.6944 9.23224 11.6944 9.50153 11.9641L11.1214 13.5867L15.4985 9.2023C15.7678 8.93257 16.2043 8.93257 16.4731 9.2023L16.798 9.52773C17.0673 9.79747 17.0673 10.2348 16.798 10.504L11.4463 15.8651Z"
            fill="#69C79F"
          ></path>
          <circle
            cx="12"
            cy="12"
            r="11"
            stroke="#69C79F"
            stroke-width="2"
          ></circle>
        </svg>
        <h1>Apple authorization<br /> was successful.</h1>
        <h2>Return to the game to continue.</h2>
        <a href="">
          <svg
            preserveAspectRatio="none"
            width="235"
            height="54"
            viewBox="0 0 235 54"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_2318_735)">
              <path
                d="M8.5 17.1664V36.6049C8.5 36.9967 8.66429 37.3706 8.95292 37.6355L15.6932 43.823C16.7079 44.7545 18.0352 45.2713 19.4126 45.2713H214.8C216.215 45.2713 217.575 44.7262 218.598 43.7493L225.554 37.1078C225.692 36.9766 225.77 36.7949 225.77 36.6049V17.1664C225.77 16.9763 225.692 16.7944 225.554 16.6631L218.598 10.022C217.575 9.04508 216.215 8.5 214.8 8.5H19.4544C18.0495 8.5 16.6979 9.03761 15.6768 10.0025L8.77754 16.5223C8.60039 16.6897 8.5 16.9227 8.5 17.1664Z"
                stroke="#FFE6A1"
                shape-rendering="crispEdges"
              ></path>
            </g>
            <defs>
              <filter
                id="filter0_d_2318_735"
                x="0"
                y="0"
                width="234.27"
                height="53.7714"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood
                  flood-opacity="0"
                  result="BackgroundImageFix"
                ></feFlood>
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                ></feColorMatrix>
                <feOffset></feOffset>
                <feGaussianBlur stdDeviation="4"></feGaussianBlur>
                <feComposite in2="hardAlpha" operator="out"></feComposite>
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 1 0 0 0 0 0.48 0 0 0 0 0 0 0 0 1 0"
                ></feColorMatrix>
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_2318_735"
                ></feBlend>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_2318_735"
                  result="shape"
                ></feBlend>
              </filter>
            </defs>
          </svg>
          <span>Return to the game</span></a>
      </div>
    </main>
  </body>
</html>