<div class="history-balance__item {{#if plus}}plus{{/if}}">
  <div class="date">{{itemDate}}</div>
  <div class="summ">{{#if plus}}+{{else}}-{{/if}} {{summ}}</div>
  <div class="desription">{{desription}}</div>
</div>