.history-balance__item {
  width: 100%;
  display: grid;
  grid-template-columns: 6.1em 6.1em 1fr;
  font-size: 18px;
  line-height: 130%;
  align-content: center;
 
  &:not(:last-child) {
    margin-bottom: 0.8em;
  }
  & div:not(:last-child) {
    padding-right: 1em;
  }
  & .date {
    color: #635c4c;
  }
  & .summ {
    font-size: 20px;
    line-height: 103.6%;
    text-transform: uppercase;
    color: #ff7a00;
    text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 0.75em;
      height: 0.75em;
      background-image: url(../../assets/img/money.svg);
      background-size: contain;
      margin-right: 0.2em;
      display: block;
      position: static;
    }
  }
  &[data-type="in"] .summ {
    color: #ccf5d7;
  }
  & .desription {
    color: #f5e3cc;
  }
  @media (max-width: 810px) {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 0;
      padding-bottom: 8px;
      border-bottom: 1px solid #38372A;
    }
    &:not(:first-child) {
      padding-top: 8px;
    }
    & .desription {
      margin-top: 1px;
    }
  }
}
