.money {
  display: flex;
  align-items: flex-end;
  font-size: 1.25em;
  line-height: 103.6%;
  text-transform: uppercase;
  color: #CEB497;
  &:hover {
    cursor: pointer;
    color: #F5E3CC;
    & img:not(.active) {
      display: none;
    }
    & img.active {
      display: block;
    }
  }
  & img {
    margin-right: 0.2em;
    &.active {
      display: none;
    }
  }
}
