.money {
  display: flex;
  align-items: flex-end;
  font-size: 1.25em;
  line-height: 103.6%;
  text-transform: uppercase;
  color: #CEB497;
  
  &:hover {
    cursor: pointer;
    color: #F5E3CC;
    & img:not(.active) {
      display: none;
    }
    & img.active {
      display: block;
    }
  }
  & img {
    margin-right: 0.2em;
    &.active {
      display: none;
    }
  }
  & .old-price {
    color: #6C655B;
    margin-right: 19px;
    text-shadow: none;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      top: 55%;
      left: 0;
      height: 3px;
      background-color: #6C655B;
    }
  }
  & .new-price {
    color: #FF8A00;
  }
}
