<div  class="product" data-type="{{type}}">
  <div class="product__border product__border-top"></div>
  <div class="product__border product__border-bottom"></div>
  <div class="product__border product__border-left"></div>
  <div class="product__border product__border-right"></div>
  
  <div class="product-img img-wrapper">
     <div class="product__border product__border-left"></div>
  <div class="product__border product__border-left-top"></div>
  <div class="product__border product__border-left-bottom"></div>
     <div class="product__border product__border-right-top"></div>
  <div class="product__border product__border-right-bottom"></div>
      <div class="product__border product__border-right"></div>
    <picture>
      <img src="{{imgSrc}}" alt="{{title}}" />
    </picture>
  </div>
  <div class="product-info">
    <h2>{{title}}</h2>
    {{> "money/money" count=summ }}
    {{> "button-yellow/button-yellow" text="Купить" }}
  </div>
</div>