<div  class="product" data-type="{{type}}">
  
  <div class="product-img img-wrapper">
    <picture>
      <img src="{{imgSrc}}" alt="{{title}}" />
    </picture>
  </div>
  <div class="product-info">
    <h2>{{title}}</h2>
    {{> "money/money" count=summ }}
    {{> "button-yellow/button-yellow" text="Купить" }}
  </div>
</div>