<div  class="product" data-type="{{type}}">
  
  <div class="product-img img-wrapper">
    <picture>
      <img src="{{imgSrc}}" alt="{{title}}" />
    </picture>
  </div>
  <div class="product-info">
    <h2><a href="../../pages/product/product.hbs">{{title}}</a></h2>
    {{> "money/money" count=summ }}
    {{> "button-yellow/button-yellow" text="Купить" popup="confirm"}}
  </div>
</div>