<div class="popup-overlay">
<div class="popup">
  {{> "auth-form/auth-form"}}
  {{> "confirm/confirm"}}
  {{> "confirm/sing-in"}}
  {{> "confirm/not-money"}}
  {{> "confirm/how-pay"}}
  {{> "confirm/popup-promo-1"}}
  {{> "confirm/popup-promo-2"}}
  {{> "confirm/popup-promo-3"}}
</div>
</div>