.popup {
  padding: 74px 20px;
  z-index: 900;
  height: fit-content;
  width: 90%;
  max-width: 875px;
  background-image: url(../../assets/img/popup/popup-bg.png);
  background-size: 100% 100%;
  display: none;
  @media (max-width: 1200px) {
  }
  &-overlay {
    padding-top: 50px;
    @media (max-width: 1200px) {
      padding-top: calc(50 / 1900 * 100%);
    }

    padding-bottom: 30px;
    display: none;
    z-index: 899;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(14, 14, 18, 0.68);
    backdrop-filter: blur(18px);
    overflow-y: auto;
    justify-content: center;
    &.active {
      display: flex;
      & ~ .header {
        z-index: 0;
      }
      & .popup {
        display: block;
      }
    }
  }
  &.sing-in {
    transform: scale(0.75);
    transform-origin: top;
    & .auth-form {
      display: flex;
    }
  }
  &.confirm {
    background-image: url(../../assets/img/popup/popup-bg-small.png);
    & .confirm-block:not(.not-money-block):not(.how-pay):not(.sing-in) {
      display: flex;
    }
    @media (max-width: 810px) {
      background-image: url(../../assets/img/popup/popup-bg-small-xs.png);
    }
  }
  &.not-money {
    & .not-money-block {
      display: flex;
    }
  }
  &.how-pay {
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 55px;
    & .how-pay {
      display: flex;
    }
  }
  &.sing-in-warn {
    padding-bottom: 50px;
    & .confirm-block.sing-in {
      display: flex;
    }
  }
}
