.auth-form {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 479px;
  margin: 0 auto;
  & h2 {
    font-weight: 700;
    font-size: 33px;
    line-height: 105.6%;
    text-align: center;
    text-transform: uppercase;
    color: #F5E3CC;
    margin-bottom: 54px;
    @media (max-width: 810px) {
      margin-bottom: 72px;
    }
  }
  & .input {
    width: 100%;
    margin-bottom: 31px;
    @media (max-width: 810px) {
      margin-bottom: 52px;
      width: calc(100% - 12px);
      &:last-child {
        margin-bottom: 29px;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    & .link {
      font-size: 22px;
      line-height: 103.6%;
      text-align: right;
      color: #FFE1C1;
      text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
      &:hover {
        color: #FFC734;
      }
    }
    @media (max-width: 810px) {
      & .link {
        font-size: 16px;
        color: #FFC734;
      }
      margin-bottom: 40px;
      position: relative;
      height: fit-content;
      height: 23px;
      &::before {
        content: '';
        height: 22px;
        width: 1px;
        background-color: #FFC734;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;

      }
    }
  }
  & .button-yellow {
    padding: 0;
    padding-top: 1%;
    font-size: 23px;
    width: 232.11px;
    height: 75.77px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #333240;
    & svg {
      -webkit-filter: drop-shadow(0px 0px 4px #FF7A00);
      filter: drop-shadow(0px 0px 4px #FF7A00);
    }
    &:hover {
      -webkit-filter: drop-shadow(0px 0px 4px #FF7A00);
      filter: drop-shadow(0px 0px 4px #FFE6A1);
    }
     @media (max-width: 810px) {
        margin: 0 auto;
     }
  }
  & .alt-sing-in {
    & p {
      margin-top: 48px;
      font-size: 22px;
      line-height: 103.6%;
      text-align: center;
      color: #93795D;
      text-shadow: 0px -2px 11px #000000, 0px 5px 6px #000000;
      @media (max-width: 810px) {
        margin-top: 29px;
        font-size: 16px;
      }
    }
    &__list {
      margin-top: 41px;
      display: flex;
      justify-content: center;
      column-gap: 29px;
      @media (max-width: 810px) {
        margin-top: 47px;
      }
    }
    &__item {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: #FFFFFF;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.google {
        padding-left: 1%;
      }
       @media (max-width: 810px) {
        transform: scale(1.275);
      }
    }
  }
}
