{{!< body }}
<main class="not-found" style="background-image: url(./bg.png);">

  <div class="not-found__text">Герой, такой страницы<br />
    не существует.</div>
  <a href="../index/index.hbs" class="not-found__btn">
    на главную
    <svg
      preserveAspectRatio="none"
      width="179"
      height="38"
      viewBox="0 0 179 38"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M177.546 28.1751C177.544 28.1732 177.542 28.1713 177.54 28.1694C177.542 28.1713 177.544 28.1733 177.546 28.1752L177.546 28.1751ZM0.93313 8.73906C0.699078 8.78914 0.5 8.98963 0.5 9.27201V28.4993C0.5 28.7817 0.699074 28.9822 0.933125 29.0323L7.65277 35.681C8.68249 36.6998 10.0726 37.2713 11.5212 37.2713H166.748C168.197 37.2713 169.587 36.6998 170.617 35.681L177.336 29.0323C177.571 28.9822 177.77 28.7817 177.77 28.4993V9.27203C177.77 8.98967 177.571 8.78914 177.336 8.73905L170.617 2.09034C169.587 1.07148 168.197 0.5 166.748 0.5H11.5212C10.0726 0.5 8.68249 1.07148 7.65277 2.09034L0.93313 8.73906ZM0.78537 28.8861L0.785835 28.8865C0.785678 28.8864 0.785521 28.8862 0.785364 28.8861L0.78537 28.8861Z"
        stroke="#FFE6A1"
      ></path>
    </svg>
  </a>

</main>