.input {
  position: relative;
  background: #140e13;
  border-top: 1px solid #635c4c;
  border-bottom: 1px solid #635c4c;
  color: #635c4c;
  
  & input::-webkit-input-placeholder {
    color: #635c4c;
  }
  & input::-moz-placeholder {
    color: #635c4c;
  }
  font-size: 1.1875rem;
  padding: 0.65em 1.05em;
  display: flex;
  align-items: center;
  @media (max-width: 810px) {
    margin-top: 25px;
    font-size: 17px;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #140e13;
    top: 0;
    bottom: 0;
    width: 0.5em;
    border-radius: 20%;
    padding: 0;
    z-index: 10;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  & label {
    padding-right: 3.125vw;
    border-right: 1px solid #635c4c;
    @media (max-width: 810px) {
      border-right: none;
      padding-right: 0;
      position: absolute;
      bottom: calc(100% + 3px);
    }
  }
  & input {
    padding-left: 1em;
    width: 100%;
    background-color: transparent;
    flex: 1;
    border: none;
    outline: none;
    color: #635c4c;
    font-size: inherit;
    height: 100%;
  }
  &.active {
    border-color: #a08c5f;
    color: #a08c5f;
    & label {
      border-color: #a08c5f;
    }
    & input {
      color: #a08c5f;
    }
    & :not(.button-singin) * {
      border-color: #a08c5f;
      color: #a08c5f;
    }
    & input::-webkit-input-placeholder {
      color: #a08c5f;
    }
    & input::-moz-placeholder {
      color: #a08c5f;
    }
  }
}
