.input {
  position: relative;
  background: #140e13;
  border-top: 1px solid #635c4c;
  border-bottom: 1px solid #635c4c;
  color: #635c4c;

  & input::-webkit-input-placeholder {
    color: #635c4c;
  }
  & input::-moz-placeholder {
    color: #635c4c;
  }
  font-size: 1.1875rem;
  padding: 0.65em 0.95em;
  display: flex;
  align-items: center;
  @media (max-width: 810px) {
    margin-top: 25px;
    font-size: 17px;
    &.shot-raund-radius {
      margin: 0 6px;
      & .shot-raund-radius-border-left,
      & .shot-raund-radius-border-right {
        width: 6px;
        top: 6px;
        bottom: 6px;
        &::before,
        &::after {
          width: 6;
          height: calc((6px * 1.41421356237) + 1.5px);
        }
      }
      & .shot-raund-radius-border-left {
        &::before {
          border-top-left-radius: 15%;
        }
        &::after {
          border-bottom-left-radius: 15%;
        }
      }
      & .shot-raund-radius-border-right {
        &::before {
          border-top-right-radius: 15%;
        }
        &::after {
          border-bottom-right-radius: 15%;
        }
      }
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #140e13;
    top: 0;
    bottom: 0;
    width: 0.5em;
    border-radius: 20%;
    padding: 0;
    z-index: 10;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  & label {
    width: 90px;
    border-right: 1px solid #635c4c;
    @media (max-width: 810px) {
      border-right: none;
      padding-right: 0;
      position: absolute;
      bottom: calc(100% + 3px);
    }
  }
  & input {
    width: 100%;
    background-color: transparent;
    flex: 1;
    border: none;
    outline: none;
    color: #635c4c;
    font-size: inherit;
    height: 100%;
  }
  &.value {
    & label {
      margin-right: -2px;
      border: none;
    }
  }
  &.active {
    border-color: #ffe6a1;
    color: #ffe6a1;
    & label {
      margin-right: -2px;
      border: none;
    }
    & input {
      color: #ffe6a1;
    }
    & :not(.button-singin) * {
      border-color: #ffe6a1;
      color: #ffe6a1;
    }
    & input::-webkit-input-placeholder {
      color: #ffe6a1;
    }
    & input::-moz-placeholder {
      color: #ffe6a1;
    }
  }
  &:not(.active):hover {
    border-color: #a08c5f;
    color: #a08c5f;
    cursor: pointer;
    & label {
      border-color: #a08c5f;
    }
    & input {
      color: #a08c5f;
    }
    & :not(.button-singin) * {
      border-color: #a08c5f;
      color: #a08c5f;
    }
    & input::-webkit-input-placeholder {
      color: #a08c5f;
    }
    & input::-moz-placeholder {
      color: #a08c5f;
    }
  }
}
